n8n/demo-data/workflows/[SuperSliv.biz] IZ_TRAND_NEWS_SYSTEM .json
{
  "name": "IZ_TRAND_NEWS_SYSTEM",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a friendly and informative news bot with access to fresh data through a vector store.\n\nROLE:\n- You are an expert at finding current information and news\n- You help users quickly get the information they need\n\nFUNCTIONALITY:\n- Always use the vector store to answer user queries\n- Skillfully transform user requests into effective search queries\n- Identify the main topic of the request and search for relevant information\n- Ask for clarification when the request is unclear\n\nSTYLE AND TONE:\n- Energetic, positive, and accessible\n- Use conversational language at an 8th-grade reading level\n- Be concise - sentences up to 15 words\n- Add an element of surprise or humor where appropriate\n- Use emojis to convey mood (1-2 per response)\n- Reply ONLY in Russian language, regardless of the language used in queries\n\nRESPONSE STRUCTURE:\n- Start with a direct answer to the question\n- Highlight key thoughts in **bold**\n- Add 1-2 interesting facts from the information found\n- Mention multiple perspectives when available\n- End with a logical transition to continue the conversation\n\nFORMAT:\n- Markdown with reasonable use of formatting\n- Structure information for easy reading\n- Avoid paragraphs longer than 3-4 lines\n\nCONSTRAINTS:\n- Never provide answers without consulting the vector store\n- If no answer is found, suggest: \"Я не нашел информации по этому вопросу.\"\n- Don't make up information\n- Strive for objectivity, don't exp"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -380,
        -380
      ],
      "id": "4d764184-79bd-4ca0-9862-2f5d2afd6669",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "ai_news",
        "toolDescription": "Summarized news articles and YouTube transcripts related to AI",
        "pineconeIndex": {
          "__rl": true,
          "value": "ainewstest",
          "mode": "list",
          "cachedResultName": "ainewstest"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -220,
        -120
      ],
      "id": "f23b9bc5-8835-4a4a-9601-77164f4a58a8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "xHYJdGWUvOWZd8CK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        40
      ],
      "id": "b3f2a4e3-e509-41ae-b0c4-4c5af81f00ad",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "VASH_API"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.queries }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 2,\n  \"time_range\": \"day\",\n  \"days\": 1,\n  \"include_answer\": \"advanced\",\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        1000
      ],
      "id": "a148fd72-a4fa-4a07-8407-21e06c00a3c8",
      "name": "Tavily"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2760,
        1960
      ],
      "id": "46b517a2-5ef0-425e-9697-4949a8cb4bd4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        2380
      ],
      "id": "4e74e990-582d-4131-b073-cf389ced2d99",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "id, snippet"
            },
            {
              "name": "forHandle",
              "value": "={{ $json.usernames }}"
            },
            {
              "name": "regionCode",
              "value": "US"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        2300
      ],
      "id": "8fa15cfa-f690-426f-84c6-9bd5cd7de676",
      "name": "Get Channel ID",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "kaehDW4Ii5Pf7uw4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        1320,
        1960
      ],
      "id": "e76a5884-e3e1-41de-8e03-3831bfe07370",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "tableId": "news",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.output.content }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "News"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -60,
        780
      ],
      "id": "5ad854e5-be9f-4d6e-b261-8ba1eb2ae626",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "koxVIlMFEhTVYykk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "news",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.output.content }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "YouTube"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2040,
        1960
      ],
      "id": "57c7c89d-799e-494d-984e-9e8a56335d7e",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "koxVIlMFEhTVYykk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Repurpose this summarized article: {{ $json.answer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional editor and copywriter specializing in transforming technical and dry content into viral material that readers instantly remember.\n\nInstructions:\n1. Create a captivating, positive title with EXACTLY 5 words for the summary (place in <title>). The title should evoke curiosity without being clickbait.\n2. Rewrite the summary (place in <content>), using:\n   • Vivid, specific nouns instead of general ones\n   • Active verbs instead of passive ones\n   • Analogies and metaphors to simplify complex ideas\n   • Conversational, friendly tone as if explaining to a friend\n   • Short sentences and paragraphs for readability\n   • 1-2 questions to engage the reader\n   • Always end with a key takeaway\n\nOutput format:\n{\n\"title\": \"<title>\",\n\"content\": \"<content>\"\n}\n\nOutput:\n- Markdown formatting\n- Use **bold text** for 3-4 key terms/concepts\n- Use emojis maximum 2-3 times to emphasize emotional moments\n\nConstraints:\n- Strictly under 110 words for the summary\n- No subheadings in the summary\n- Don't use - or : in titles\n- Avoid clichés and formulaic phrases\n- Preserve all important facts from the original without distortion\n- No more than one exclamation mark"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -460,
        780
      ],
      "id": "cb95c5f5-49d2-4f66-9e85-2b9beb92c271",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Repurpose this summarized article: {{ $json.response.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional editor and copywriter specializing in transforming technical and dry content into viral material that readers instantly remember.\n\nInstructions:\n1. Create a captivating, positive title with EXACTLY 5 words for the summary (place in <title>). The title should evoke curiosity without being clickbait.\n2. Rewrite the summary (place in <content>), using:\n   • Vivid, specific nouns instead of general ones\n   • Active verbs instead of passive ones\n   • Analogies and metaphors to simplify complex ideas\n   • Conversational, friendly tone as if explaining to a friend\n   • Short sentences and paragraphs for readability\n   • 1-2 questions to engage the reader\n   • Always end with a key takeaway\n\nOutput format:\n{\n\"title\": \"<title>\",\n\"content\": \"<content>\"\n}\n\nOutput:\n- Markdown formatting\n- Use **bold text** for 3-4 key terms/concepts\n- Use emojis maximum 2-3 times to emphasize emotional moments\n\nConstraints:\n- Strictly under 110 words for the summary\n- No subheadings in the summary\n- Don't use - or : in titles\n- Avoid clichés and formulaic phrases\n- Preserve all important facts from the original without distortion\n- No more than one exclamation mark"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1680,
        1960
      ],
      "id": "6964cec1-98c5-40de-baa7-50a3aa332efc",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1340,
        2180
      ],
      "id": "874ecadf-2790-4328-ad14-b4610550343f",
      "name": "4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "channelId",
              "value": "={{ $json.ChannelId }}"
            },
            {
              "name": "type",
              "value": "channel"
            },
            {
              "name": "maxResults",
              "value": "1"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.UTC(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate() - 1, 0, 0, 0)).toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        2160
      ],
      "id": "01ea87c0-f74f-432d-b52f-226cc269b2a7",
      "name": "Get 1 Video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "kaehDW4Ii5Pf7uw4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -640,
        2160
      ],
      "id": "5d3bc102-cf4b-456b-96b5-58370520d750",
      "name": "Split Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        280,
        1960
      ],
      "id": "a0c264ea-5359-4fd4-ad29-e39822cf803e",
      "name": "Split Items Again"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57cb180d-a772-4537-b86f-488b5d1e0f51",
              "name": "videoId",
              "value": "={{ $json.id.videoId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        2380
      ],
      "id": "6164defd-e7fe-44ca-84f0-afe921a03853",
      "name": "Set VideoId"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ainewstest",
          "mode": "list",
          "cachedResultName": "ainewstest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        140,
        780
      ],
      "id": "d8e23ef3-7920-48f7-86c0-ec25d7dae01b",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "xHYJdGWUvOWZd8CK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $('Supabase').item.json.title }}"
              },
              {
                "name": "content",
                "value": "={{ $('Supabase').item.json.content }}"
              },
              {
                "name": "=type",
                "value": "={{ $('Supabase').item.json.type }}"
              },
              {
                "name": "created_at",
                "value": "={{ $('Supabase').item.json.created_at }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        280,
        1000
      ],
      "id": "d3e8a2d3-fc12-484c-8e1a-8f1cf724aa54",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        300,
        1160
      ],
      "id": "08cd4aae-79d2-4707-8feb-c38f3cc1dfa0",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ainewstest",
          "mode": "list",
          "cachedResultName": "ainewstest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2240,
        1960
      ],
      "id": "b6d621fb-7d30-4249-968b-a2790fcef9e2",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "xHYJdGWUvOWZd8CK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $('Supabase1').item.json.title }}"
              },
              {
                "name": "content",
                "value": "={{ $('Supabase1').item.json.content }}"
              },
              {
                "name": "=type",
                "value": "={{ $('Supabase1').item.json.type }}"
              },
              {
                "name": "created_at",
                "value": "={{ $('Supabase1').item.json.created_at }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2380,
        2180
      ],
      "id": "00af2567-1ece-435b-a579-5c18d4edd7bf",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        2400,
        2340
      ],
      "id": "9085b9d3-0166-4dc1-9c5c-6ea133113e11",
      "name": "Token Splitter1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"usernames\": {\n  \"username1\": \"igorzuevich\",\n  \"username2\": \"OpenAI\",\n  \"username3\": \"AI.Uncovered\",\n  \"username4\": \"aiadvantage\",\n  \"username5\": \"AICodeKing\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1660,
        2160
      ],
      "id": "b7bf420c-4fea-4981-ba27-f56fcd6cad7d",
      "name": "YouTube Users"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        -120
      ],
      "id": "56a7caa5-3993-403d-b6ce-fd95d7d5632c",
      "name": "4o-minix",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1260,
        2160
      ],
      "id": "43de97c6-5612-442e-812e-67e98b198de8",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usernames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1460,
        2160
      ],
      "id": "f371a304-e69b-4ddd-970e-8fa7bb492a6e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da2f5f04-78ad-4ec2-838f-542d33b13fe4",
              "name": "ChannelId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        2160
      ],
      "id": "d09c219a-56e6-4936-9b70-5a2397a24d5e",
      "name": "Set"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        2160
      ],
      "id": "323237c1-5974-4be3-be38-1a8f6a359e04",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1640,
        2380
      ],
      "id": "370f0e7a-f89d-44d0-8380-483baff3eaf4",
      "name": "Wait",
      "webhookId": "ae65e9fd-c5aa-4417-9cc9-6ca5dc7ffc28"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        1000
      ],
      "id": "d94dc0bc-6c61-45a3-80e5-64cd3e5d58a1",
      "name": "3-small",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2220,
        2180
      ],
      "id": "8a7c1384-aa91-4151-9d4b-80a6ed977897",
      "name": "3-small-x",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"<title>\",\n\t\"content\": \"<content>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -320,
        1000
      ],
      "id": "22354bfd-01c3-4405-99a9-cc8ac6bbfe0f",
      "name": "Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"<title>\",\n\t\"content\": \"<content>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1860,
        2180
      ],
      "id": "fa320912-404f-45fa-87a1-11055a7f7f7c",
      "name": "Parserx"
    },
    {
      "parameters": {
        "fieldToSplitOut": "queries",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1440,
        1000
      ],
      "id": "dc80b826-b1ec-466f-8998-0a2626013e51",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1220,
        1000
      ],
      "id": "005e2a16-ce8c-4814-ba3c-826dca94393e",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "content": "## Замените запросы на то, что вы хотите искать.",
        "height": 100,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1800,
        880
      ],
      "typeVersion": 1,
      "id": "c4784772-cac6-4a67-b137-4596daa88089",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Разместите здесь имена пользователей ваших любимых ютуберов, которых хотите отслеживать\n\n## Примечание: Старайтесь добавлять действительно активных ютуберов, так как если они не публикуют много контента, например, раз в месяц, вы не получите много новых видео и т.д.",
        "height": 320,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1960,
        2360
      ],
      "typeVersion": 1,
      "id": "bc24af2d-4dde-4552-b98f-a12253ed6923",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Добавьте ваш API-ключ Tavily\n\n### www.tavily.com",
        "height": 120,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -980,
        1200
      ],
      "typeVersion": 1,
      "id": "2808bbda-bb8c-4801-a312-5cd11f574820",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Подключите (создайте и используйте учетные данные OpenAI)",
        "height": 80,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        2340
      ],
      "typeVersion": 1,
      "id": "c084bc22-52bc-4efa-b57d-7d5c9c137853",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Добавьте ваш ключ RapidAPI для API транскрипции YouTube\n\n### https://rapidapi.com/solid-api-solid-api-default/api/youtube-transcript3/playground/\n\n\n### Зарегистрируйтесь на RapidAPI, если вы еще этого не сделали, подпишитесь на план API для транскрипции YouTube и используйте API-ключ для вашей учетной записи",
        "height": 320,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        2020
      ],
      "typeVersion": 1,
      "id": "a7b7f777-6384-4d2e-92c4-b1b1324a196b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Подключите (учетные данные Supabase)",
        "height": 80,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        660
      ],
      "typeVersion": 1,
      "id": "7185c22b-d8eb-4907-beff-f21260dc58bc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### Подключите учетные данные YouTube\n\n### : https://www.youtube.com/watch?v=yyj9Hyr86ag",
        "height": 120,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        2380
      ],
      "typeVersion": 1,
      "id": "c91dd11c-72ab-46dd-b49f-36f3a32a4133",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "content": "###Подключите учетные данные Pinecone.",
        "height": 80,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -180
      ],
      "typeVersion": 1,
      "id": "56791e44-ac51-49d1-97a3-627450cc5461",
      "name": "Sticky Note10",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Подключите учетные данные OpenAI",
        "height": 80,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        20
      ],
      "typeVersion": 1,
      "id": "4b0825b0-9c78-48e4-9312-7ee5cba76f09",
      "name": "Sticky Note11",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Всё устраивает?\n\n###Замените триггер \"При нажатии\" на триггер по расписанию, чтобы запускать автоматически раз в 24 часа.",
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2820,
        2180
      ],
      "typeVersion": 1,
      "id": "269fb03b-272a-4927-b7bd-992957d12e4d",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2740,
        1780
      ],
      "id": "4a9352de-3a24-40a6-8926-5c4c66ad9446",
      "name": "Run every 24 hours"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"queries\": {\n    \"query1\": \"n8n\",\n    \"query10\": \"ai models\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1660,
        1000
      ],
      "id": "56b567ca-156d-4a2a-8d9e-5b95adcc7452",
      "name": "Queries"
    },
    {
      "parameters": {
        "content": "### Настройте ваше пространство имен в Pinecone (на ваше собственное), а также тип информации в нем.",
        "height": 100,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -20
      ],
      "typeVersion": 1,
      "id": "0bcd3cd0-577d-4d9d-8ded-9be0de5832ee",
      "name": "Sticky Note13",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Подключите (создайте и используйте учетные данные OpenAI)",
        "height": 80,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        1160
      ],
      "typeVersion": 1,
      "id": "55812f3a-65d2-4847-abd4-2cbca3cd61c6",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "### Подключите (учетные данные Supabase)",
        "height": 80,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        1840
      ],
      "typeVersion": 1,
      "id": "82ebcf49-c210-4f0b-abe7-347c026375b6",
      "name": "Sticky Note15",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Подключите учетные данные YouTube\n\n### : https://www.youtube.com/watch?v=yyj9Hyr86ag",
        "height": 120,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        2560
      ],
      "typeVersion": 1,
      "id": "c9bd1f06-d903-46a0-b299-a8d98ccbcb52",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## ПРОМПТ\nВы профессиональный редактор и копирайтер со специализацией на трансформации технических и сухих текстов в вирусный контент, который читатели мгновенно запоминают.\n\nИнструкции:\n1. Создайте захватывающий, позитивный заголовок из ТОЧНО 5 слов для сводки (поместите в <title>). Заголовок должен вызывать любопытство, но не быть кликбейтом.\n2. Перепишите сводку (поместите в <content>), используя:\n   • Яркие, конкретные существительные вместо общих\n   • Активные глаголы вместо пассивных\n   • Аналогии и метафоры для упрощения сложных идей\n   • Разговорный, дружелюбный тон, будто объясняете другу\n   • Короткие предложения и абзацы для легкости чтения\n   • 1-2 вопроса для вовлечения читателя\n   • Всегда заканчивайте ключевым выводом\n\nФормат вывода:\n{\n\"title\": \"<title>\",\n\"content\": \"<content>\"\n}\n\nВывод:\n- Markdown форматирование\n- Используйте **жирный шрифт** для 3-4 ключевых терминов/понятий\n- Используйте эмодзи максимум 2-3 раза для подчеркивания эмоциональных моментов\n\nОграничения:\n- Строго до 110 слов для сводки\n- Никаких подзаголовков в сводке\n- Не используйте - или : в заголовках\n- Избегайте клише и шаблонных фраз\n- Сохраняйте все важные факты из оригинала без искажений\n- Никаких восклицательных знаков больше одного",
        "height": 780,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        660
      ],
      "typeVersion": 1,
      "id": "6455327a-71d1-42b4-9768-3d99b03a22da",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -540,
        1000
      ],
      "id": "5db2803e-eb0b-4b6e-a34d-d94c9fbf068d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://youtube-transcripts.p.rapidapi.com/youtube/transcript\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $json.videoId }}"
            },
            {
              "name": "flat_text",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "VASH_API"
            },
            {
              "name": "x-rapidapi-host",
              "value": "youtube-transcripts.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2380
      ],
      "id": "a41ea136-6f8e-4b91-8745-7768957ba2dd",
      "name": "Transcribe1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4eb11523-0575-4d12-a159-cb7bc9ed3942",
              "name": "content.text",
              "value": "={{ $json[\"content\"] && $json[\"content\"].map(item => item.text).join(\" \") || \"\" }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        2380
      ],
      "id": "e4fa50d9-4c98-447d-b235-de482c3c0bdc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1600,
        2180
      ],
      "id": "64f7fe07-8fdd-44fd-96b5-1a55455e8e86",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ПРОМПТ \nТы дружелюбный и информативный новостной бот с доступом к свежим данным через векторное хранилище.\n\nРОЛЬ:\n- Ты эксперт по поиску актуальной информации и новостей\n- Ты помогаешь пользователям быстро получать нужную информацию\n\nФУНКЦИОНАЛ:\n- Всегда используй векторное хранилище для ответов на запросы пользователей\n- Умело преобразуй запросы пользователей в эффективные поисковые запросы\n- Определяй главную тему запроса и ищи подходящую информацию\n- При неясном запросе запрашивай уточнение темы\n\nСТИЛЬ И ТОН:\n- Энергичный, позитивный и доступный\n- Используй разговорный язык на уровне 8-го класса\n- Будь лаконичным - предложения до 15 слов\n- Добавляй элемент неожиданности или юмора где уместно\n- Используй эмодзи для передачи настроения (1-2 на ответ)\n\nСТРУКТУРА ОТВЕТОВ:\n- Начинай с прямого ответа на вопрос\n- Выделяй ключевые мысли **жирным шрифтом**\n- Добавляй 1-2 интересных факта из найденной информации\n- При наличии нескольких точек зрения упоминай их\n- Заканчивай логичным переходом к продолжению разговора\n\nФОРМАТ:\n- Markdown с разумным использованием форматирования\n- Структурируй информацию для удобства чтения\n- Избегай абзацев длиннее 3-4 строк\n\nОГРАНИЧЕНИЯ:\n- Не давай ответов без обращения к векторному хранилищу\n- Если не нашлось ответа, предложи: \"Я не нашел информации по этому вопросу. Попробуй спросить о новых моделях ИИ, последних технологических новостях или трендах в [релевантная область]\"\n- Не выдумывай информацию\n- Стремись к объективности, не выражай политические предпочтения",
        "height": 860,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        -440
      ],
      "typeVersion": 1,
      "id": "87e32f66-1143-4da8-baa8-666108182669",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## СБОР НОВОСТЕЙ",
        "height": 2240,
        "width": 5800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2880,
        540
      ],
      "typeVersion": 1,
      "id": "e717b33b-feba-49d4-8cf5-8516d87659c7",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## ОБЩЕНИЕ",
        "height": 1140,
        "width": 2300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        -660
      ],
      "typeVersion": 1,
      "id": "1ca1b19a-4b44-40db-9d42-f44b3cd3f453",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## СВЕЖИЕ НОВОСТИ\n",
        "height": 800,
        "width": 2480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1860,
        600
      ],
      "typeVersion": 1,
      "id": "7ba945a1-8b14-4fb3-814b-0e97a25aa7c0",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## YOUTUBE",
        "height": 1140,
        "width": 4700,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1980,
        1580
      ],
      "typeVersion": 1,
      "id": "42ae923c-56dc-49f8-aacd-67fc128577f2",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        -380
      ],
      "id": "4d54cff4-70a0-4efc-adf7-628e4f08c0ad",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fca2e9d6-6f75-46cd-8c1e-b6d6aaa579c6",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        -400
      ],
      "id": "a8f49e0d-97b4-4974-9eec-a9d8f07dad82",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "Set": [
      {
        "json": {
          "ChannelId": "UCO85GRCGUWMH08jjBZwdq7g"
        }
      },
      {
        "json": {
          "ChannelId": "UCXZCJLdBC09xxGZ6gcdrc6A"
        }
      },
      {
        "json": {
          "ChannelId": "UCUTF61UNExRdjmoK5mXwWfQ"
        }
      },
      {
        "json": {
          "ChannelId": "UCHhYXsLBEVVnbvsq57n1MTQ"
        }
      },
      {
        "json": {
          "ChannelId": "UC0m81bQuthaQZmFbXEY9QSw"
        }
      }
    ],
    "Summarization Chain": [
      {
        "json": {
          "response": {
            "text": "The ideal seller or assistant is one who remembers everything about their client. Using the N8N service, a system has been created that allows for the retention of detailed client interactions, including not just chat history but also the construction of a meaningful relationship map. For example, it can remember a client’s social media presence, interests, and personal details, like allergies. This ongoing interaction enables the assistant or seller to tailor their communication and services, enhancing customer relationships by actively recalling past conversations and personal preferences."
          }
        }
      },
      {
        "json": {
          "response": {
            "text": "Nvidia has launched the Llama 3.1 Neatron Ultra 253B, a large language model based on Meta's older Llama 3.145B Instruct model. With 253 billion parameters, it outperforms competitors like DeepSeek R1 in AI performance tests, excelling in tasks such as advanced reasoning, math, and coding. The model's innovative design includes enhanced structure and techniques that optimize memory and computing efficiency, allowing it to run effectively on fewer GPUs. Nvidia emphasizes collaboration by making its code, training data, and weights publicly available on Hugging Face. Through meticulous post-training refinement, the model is designed for adaptability and user-friendliness, showcasing significant advancements in AI capabilities while maintaining a leaner architecture."
          }
        }
      },
      {
        "json": {
          "response": {
            "text": "Minamax has launched its advanced audio 2 text-to-speech model at minmax.io/audio, offering users 4,000 free credits daily. The platform allows for script input, document uploads, and website narration, supporting text up to 200,000 characters in over 30 languages, with a variety of voice options customizable by language, accent, gender, and age. Users can choose between an HD model for high quality and a turbo model for faster output, and they can create custom voices by uploading audio. With features like emotional tone adjustment and a history tracker, the tool is ideal for content creators looking to produce audiobooks and podcasts without hiring voice actors. Overall, it provides efficient and quality audio generation for personal use."
          }
        }
      }
    ],
    "When Executed by Another Workflow": [
      {
        "json": {
          "Message": "Какие есть свежи новости по n8n? "
        }
      }
    ]
  },
  "connections": {
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "YouTube Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel ID": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Video": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items Again": {
      "main": [
        [
          {
            "node": "Set VideoId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set VideoId": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Users": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o-minix": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Channel ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Split Items Again",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get 1 Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-small": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "3-small-x": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parserx": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queries": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e684e187-bbf4-4973-af84-8ee4cf18dcb0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "479931a9b1c0980217b795eef202ec08aa8efa5933ee558f5e5c7dc32b0cdc9e"
  },
  "id": "yUVeBhlm9MeusTTw",
  "tags": [
    {
      "createdAt": "2025-03-21T05:05:36.109Z",
      "updatedAt": "2025-03-21T05:05:36.109Z",
      "id": "O7fQsEJqI16T5o0y",
      "name": "Сделано"
    }
  ]
}