n8n/demo-data/workflows/[SuperSliv.biz] [SuperSliv.biz] ______________________Telegram.json
{
  "name": "Динамическая модель с Telegram",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -320
      ],
      "id": "aa521491-8bd5-4482-bf9b-6af7fe8ec507",
      "name": "When chat message received",
      "webhookId": "5b79c33c-df51-4e33-9b73-00d484c5844e",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        700,
        140
      ],
      "id": "a91a92f2-e339-434b-a112-770da10f5581",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "model": "openai/o3-mini-high",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        580,
        80
      ],
      "id": "f9addf5f-52ca-413f-a070-ec765b995dcb",
      "name": "03 mini Hight",
      "credentials": {
        "openRouterApi": {
          "id": "ahlg6hfSuVoEk7Nv",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — агент маршрутизации.\n\nТвоя задача — принимать запросы пользователей и решать, какая модель лучше всего подходит для каждого случая использования, который может возникнуть у пользователя. У тебя есть 3 модели, которые ты можешь выбрать для обработки запроса пользователя:\n\n1.) \"perplexity/sonar\"\n2.) \"openai/o3-mini-high\"\n3.) \"anthropic/claude-3.7-sonnet\"\n\nКаждая модель имеет свои сильные стороны и может дать лучшие ответы для определенных вопросов и команд пользователя. Давай разберемся в сильных сторонах каждой модели, чтобы ты мог выбрать ту, которая лучше всего подходит для запроса пользователя:\n\nМодель:\nperplexity/sonar\n\nСильные стороны:\n- Встроенный поиск по интернету.\n- Возможность использовать цитаты и настраивать источники.\n- Может искать данные в интернете в реальном времени.\n\nМодель:\nopenai/o3-mini-high\n\nСильные стороны:\n- o3-mini — это экономичная языковая модель, оптимизированная для сложных задач рассуждения.\n- Превосходит в науке и математике.\n- Эта модель лучше всего подходит для ситуаций, когда требуются тщательные, хорошо продуманные ответы на задачи с несколькими переменными или взаимосвязями.\n\nМодель:\nanthropic/claude-3.7-sonnet\n\nСильные стороны:\n- это усовершенствованная языковая модель с улучшенными возможностями рассуждения, кодирования и решения проблем.\n- Вводит гибридный подход к рассуждениям, позволяя пользователям выбирать между быстрыми ответами и расширенной обработкой шаг за шагом для сложных задач.\n- Модель демонстрирует заметные улучшения в кодировании, особенно в разработке фронтенда и обновлениях полного стека.\n- Превосходно работает в агентных рабочих процессах, где она может автономно навигировать по многошаговым процессам.\n- сохраняет производительность на уровне предыдущей модели в стандартном режиме, но предлагает расширенный режим рассуждения для повышения точности в задачах по математике, кодированию и выполнению инструкций.\n\nТы должен передавать запрос пользователя и решать, какую модель использовать, используя структурированный JSON объект, как показано ниже:\n\n\nJSON структура объекта:\n\nJSON Object Structure:\n{\n\"uperQuery\": \"user query here\",\n\"model\": \"selected model here\"\n}\n\n\nПримеры:\nПример 1:\n{\n  \"userQuery\": \"Найти в интернете свежие новости по ИИ в маркетинге.\",\n  \"model\": \"perplexity/sonar\"\n}\n\nПример 2:\n{\n  \"userQuery\": \"Создать контент план для фитнес тренера на неделю, чтобы набрать больше подписчиков в Инстаграм.\",\n  \"model\": \"openai/o3-mini-high\"\n}\n\nПример 3:\n{\n  \"userQuery\": \"Напиши код для создания игры Тетрис на Python.\",\n  \"model\": \"anthropic/claude-3.7-sonnet\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        680,
        -120
      ],
      "id": "2000e808-0788-4abe-a8b2-a63a04c8dbc0",
      "name": "AI Agent (Выбирает модель)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.uperQuery }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1080,
        -160
      ],
      "id": "23e4db20-0dff-4254-a9d1-2de2a2177430",
      "name": "AI Agent1 (конечный ответ)"
    },
    {
      "parameters": {
        "model": "={{ $json.output.model }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1080,
        140
      ],
      "id": "5868799a-4c9a-48e6-99ed-663c31db21a0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ahlg6hfSuVoEk7Nv",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1200,
        80
      ],
      "id": "7d9bde0b-e3d2-45f9-ad08-fc8191815710",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "dcc68e2a-4414-41a8-8ee6-3be2c5d37df3",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1100,
        -40
      ],
      "webhookId": "2194a6b2-2302-4406-9c8c-207161b7eb22",
      "credentials": {
        "telegramApi": {
          "id": "XUm07jZTU6o7G7Zz",
          "name": "Telegram account 3 (Главный AI Помощник)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9d8e573-3830-4e93-9f74-4838b5ff49b5",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        -200
      ],
      "id": "3f4f49b7-7bf2-4d7e-84ab-8b4b9594a9ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -360,
        60
      ],
      "id": "505bd9cf-6699-4019-bc88-d5f8a182c65b",
      "name": "Telegram",
      "webhookId": "c66673cf-72f0-4233-82d8-70fe313d8765",
      "credentials": {
        "telegramApi": {
          "id": "XUm07jZTU6o7G7Zz",
          "name": "Telegram account 3 (Главный AI Помощник)"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -160,
        60
      ],
      "id": "ddce8b69-908c-4fb6-972d-1d5fd2e06c94",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca9cc06c-dcf8-457b-854b-4c03d3d15dcc",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        -40
      ],
      "id": "f1db8e64-23ab-4b58-b89a-a0971591a374",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -860,
        -40
      ],
      "id": "4a5768cf-0ede-4fb4-b384-e1525d8576ea",
      "name": "Telegram2",
      "webhookId": "8cd99b7a-3eca-4fd9-9b9a-168ea002f4b1",
      "credentials": {
        "telegramApi": {
          "id": "XUm07jZTU6o7G7Zz",
          "name": "Telegram account 3 (Главный AI Помощник)"
        }
      }
    },
    {
      "parameters": {
        "content": "## СТАРТ И ЗАПУСК\n**Работа с текстом и голосом**",
        "height": 680,
        "width": 1380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1160,
        -380
      ],
      "typeVersion": 1,
      "id": "e03d431d-1636-4791-b898-98f5132776c1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "e27da233-a9c4-47e5-8369-e17172ac27ea",
      "name": "Respond to Me",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1900,
        -160
      ],
      "webhookId": "cd45388a-451a-42a0-b4aa-94857c5cc9f2",
      "credentials": {
        "telegramApi": {
          "id": "XUm07jZTU6o7G7Zz",
          "name": "Telegram account 3 (Главный AI Помощник)"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"uperQuery\": \"user query here\",\n\"model\": \"selected model here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        840,
        200
      ],
      "id": "991f027d-8bab-40c2-95b4-bd168cc508ef",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Динамическая модель\n",
        "height": 940,
        "width": 1080,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        -420
      ],
      "typeVersion": 1,
      "id": "62512cf0-dd9c-48d7-a356-0994df325c12",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent (Выбирает модель)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Выбирает модель)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "03 mini Hight": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Выбирает модель)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Выбирает модель)": {
      "main": [
        [
          {
            "node": "AI Agent1 (конечный ответ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1 (конечный ответ)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1 (конечный ответ)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent (Выбирает модель)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent (Выбирает модель)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1 (конечный ответ)": {
      "main": [
        [
          {
            "node": "Respond to Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent (Выбирает модель)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e879e2ac-fb89-4715-bda0-12850814b95d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "479931a9b1c0980217b795eef202ec08aa8efa5933ee558f5e5c7dc32b0cdc9e"
  },
  "id": "XeMsVatpIgIwHEbp",
  "tags": [
    {
      "createdAt": "2025-03-06T12:11:15.812Z",
      "updatedAt": "2025-03-06T12:11:15.812Z",
      "id": "XD9MpCzqMOq9rI8b",
      "name": "video"
    },
    {
      "createdAt": "2025-03-10T09:01:46.522Z",
      "updatedAt": "2025-03-10T09:01:46.522Z",
      "id": "PgAaq3WnBkCDSVrW",
      "name": "Готовый сценарий"
    }
  ]
}