n8n/demo-data/workflows/AI.json
{
  "name": "AI",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "0cdf3bc2-39ef-41a9-8e56-5d5071c44b19",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1060,
        460
      ]
    },
    {
      "parameters": {
        "name": "Calendar_Agent",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "krNvxEZk4v6jFS7F",
          "mode": "list",
          "cachedResultName": "Отдел Календарь Гугл"
        }
      },
      "id": "830c2c73-f110-45b7-9631-c5800aec744b",
      "name": "🤖Calendar_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1360,
        1000
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "32a777c1-28a5-4049-be6a-6a534d778252",
      "name": "Respond to Me",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        340,
        60
      ],
      "webhookId": "cd45388a-451a-42a0-b4aa-94857c5cc9f2"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7ba43605-cab1-4152-b0a8-f3e108470e6e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2600,
        400
      ],
      "webhookId": "2194a6b2-2302-4406-9c8c-207161b7eb22"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=<Agentinstructions>\n    <Role>\n        <Name>Personal Assistant</Name>\n        <Description>Персональный AI-ассистент, предназначенный для управления контактами, электронной почтой, событиями календаря и проектами. Он помогает пользователю эффективно организовывать рабочие процессы.</Description>\n        <currentDate>{{$now}}</currentDate>\n    </Role>\n    <Goal>\n        <Primary>Обеспечить эффективное управление контактами, электронной почтой, календарем и проектами, используя доступные инструменты для выполнения запросов пользователя.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>Для поиска информации о контакте (например, электронной почты) используй инструмент \"Contacts Data\" перед отправкой письма или получением писем. \n     </Instruction>\n     <Instructions>\n   КОгда тебе дают задание найти свежие новости по какой-то теме и на основе этих новостей создать контент, то ты используй инструмент \"AI Новостник Копирайтер\" и ты должен передать в него свои входные данные.\n        </Instruction>\n        <Instruction>Для работы с электронной почтой (отправка сообщений, настройка ответов, пересылка) используй инструмент \"Email Agent\".</Instruction>\n\n        <Instruction>Для планирования, обновления или управления событиями в календаре используй инструмент \"Calendar Agent\". </Instruction>\n\n        <Instruction>Для отправки сообщений в Slack используй инструмент \"Send Slack Message\". Уточняй у пользователя, кому и какое сообщение отправить.</Instruction>\n\n        <Instruction>Для работы с проектами используй инструмент \"Projects_Agent\". Запрашивай или обновляй информацию по проектам в зависимости от запроса пользователя.</Instruction>\n\n        <Instruction>При выполнении задач анализируй, какой инструмент наиболее подходящий, передавай необходимые детали и выполняй действия для завершения запроса.</Instruction>\n\n<Instruction>\nЕсли у тебя спрашивают цены на наши услуги обращайся в Knowledge_Base для поиска инструкций. </Instruction>\n\n\n        <Instruction>Будь проактивным, точным и организованным, чтобы обеспечивать комфортное и эффективное взаимодействие с пользователем.</Instruction>\n    </Instructions>\n</Agentinstructions>"
        }
      },
      "id": "57170b90-0133-4f50-b55f-b583020f7293",
      "name": "Personal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -740,
        260
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9d8e573-3830-4e93-9f74-4838b5ff49b5",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        240
      ],
      "id": "655aeca3-0f53-4b89-bb72-0ffd6a8346ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1860,
        500
      ],
      "id": "e47cad96-b25a-47b5-824b-7ea3189c7a37",
      "name": "Telegram",
      "webhookId": "c66673cf-72f0-4233-82d8-70fe313d8765"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1660,
        500
      ],
      "id": "27496993-29cd-4ae2-9110-8e9d9505a678",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca9cc06c-dcf8-457b-854b-4c03d3d15dcc",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2140,
        400
      ],
      "id": "cf32f666-085f-4faa-814a-1c38c5021792",
      "name": "Switch"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -900,
        460
      ],
      "id": "ec062c1a-f4fc-4a37-8861-796ec991c386",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "Calendar_Instagram",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "krNvxEZk4v6jFS7F",
          "mode": "list",
          "cachedResultName": "Отдел Календарь Гугл"
        }
      },
      "id": "e6bcd191-1781-424d-af31-6ab4479f0f61",
      "name": "🤖YouTube_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -740,
        1000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "Calendar_Instagram",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "krNvxEZk4v6jFS7F",
          "mode": "list",
          "cachedResultName": "Отдел Календарь Гугл"
        }
      },
      "id": "8364c71b-9670-46c1-86fc-671bc0ed6c18",
      "name": "🤖Instagram_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1040,
        1000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "Calendar_Instagram",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "krNvxEZk4v6jFS7F",
          "mode": "list",
          "cachedResultName": "Отдел Календарь Гугл"
        }
      },
      "id": "202df741-52ca-4dd7-8213-df2f3ca2a7c7",
      "name": "🤖Threads_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -880,
        1000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "Calendar_Instagram",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "krNvxEZk4v6jFS7F",
          "mode": "list",
          "cachedResultName": "Отдел Календарь Гугл"
        }
      },
      "id": "74c46380-83bc-44a8-96e5-eee1be3de325",
      "name": "🤖TikTok_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -580,
        1000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "Calendar_Instagram",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "krNvxEZk4v6jFS7F",
          "mode": "list",
          "cachedResultName": "Отдел Календарь Гугл"
        }
      },
      "id": "b83e0fba-e2d2-4e13-b6be-415c012049f0",
      "name": "🤖Kontent_Agent1",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -440,
        1000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "name": "Calendar_Instagram",
        "description": "Call this tool to take actions within Calendar",
        "workflowId": {
          "__rl": true,
          "value": "krNvxEZk4v6jFS7F",
          "mode": "list",
          "cachedResultName": "Отдел Календарь Гугл"
        }
      },
      "id": "c0e19394-a4ec-4859-9006-551f2deea9f2",
      "name": "🤖Voice_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -280,
        1000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "my-knowledge-base",
          "mode": "list",
          "cachedResultName": "my-knowledge-base"
        },
        "options": {
          "pineconeNamespace": "Test"
        }
      },
      "id": "b99f5679-f85a-483b-817d-d679244f28e3",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        180,
        880
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "6cebcfea-4552-4567-8bb9-52b40dfc1c38",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        540,
        820
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "6fc32c1f-de8c-4f83-8f41-de7a554dfd2a",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        240,
        1040
      ]
    },
    {
      "parameters": {
        "name": "Knowledge_Base",
        "description": "Call this tool to get information about the company."
      },
      "id": "7f21daa1-6365-4160-9703-648631c5b648",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        180,
        720
      ]
    },
    {
      "parameters": {
        "name": "AI_news_content",
        "description": "Call this tool to perform actions in create content based on news",
        "workflowId": {
          "__rl": true,
          "value": "3nmBSBTEDq3WcbQI",
          "mode": "list",
          "cachedResultName": "AI Agent Копирайтер Новостник (в системе)"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"query\": \"{{ $json.query }}\",\n  \"message\": \"{{ $json.message }}\"\n}\n"
      },
      "id": "40c85b1b-47e6-4e4f-8b0f-9eea6a29fa42",
      "name": "🤖AI_news_content",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1200,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2360,
        400
      ],
      "id": "d5423af8-b23c-4e34-9d64-efc01a471db2",
      "name": "Telegram2",
      "webhookId": "8cd99b7a-3eca-4fd9-9b9a-168ea002f4b1"
    },
    {
      "parameters": {
        "content": "## СТАРТ И ЗАПУСК\n**Работа с текстом и голосом**",
        "height": 560,
        "width": 1380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2660,
        180
      ],
      "typeVersion": 1,
      "id": "a909ec6e-af2e-4e93-8f84-3128874baed3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI АССИСТЕНТ\n**Главный ИИ помощник**",
        "height": 500,
        "width": 840,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1100,
        200
      ],
      "typeVersion": 1,
      "id": "b5cca767-6c06-40c5-aa8d-b4b778fef1c5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ИИ ПОМОЩНИКИ \n**Отделы для выполнения задач (узконаправленный специалисты)**",
        "height": 300,
        "width": 1460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1460,
        900
      ],
      "typeVersion": 1,
      "id": "d1b4c189-173e-4835-822c-d43be3a1a78b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## БАЗА ЗНАНИЙ\n**База знаний и регламентов",
        "height": 620,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        600
      ],
      "typeVersion": 1,
      "id": "bbdba180-c5ea-49aa-885c-b35a11344b3b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ВЫХОД\n**Ответы, выход и сохранения**",
        "height": 240,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e3b4887c-170e-4e1f-be13-5b5ee9b0de00",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🤖Calendar_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal Assistant": {
      "main": [
        [
          {
            "node": "Respond to Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "🤖Instagram_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖Threads_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖YouTube_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖TikTok_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖Kontent_Agent1": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖Voice_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖AI_news_content": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41fa779e-8021-44eb-b104-edac4d7d2754",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "gtDiiZqdGbtwlW6P",
  "tags": [
    {
      "createdAt": "2025-05-18T14:35:04.758Z",
      "updatedAt": "2025-05-18T14:35:04.758Z",
      "id": "4Uwk4ULSvTYlwIPf",
      "name": "video"
    },
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}