n8n/demo-data/workflows/ChatModel.json
{
  "name": "ChatModel",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        140,
        80
      ],
      "id": "a1231496-a92f-400f-9108-c8ff0b80105e",
      "name": "When chat message received",
      "webhookId": "b3e9cf67-509e-4c78-ba48-594110019ab6"
    },
    {
      "parameters": {
        "model": "openai/o3-mini-high",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        540,
        340
      ],
      "id": "6f494633-a16a-408d-808c-a889169328aa",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        700,
        340
      ],
      "id": "bb1f8dab-ed38-4584-a0fa-ac716d250cc7",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Ты — агент маршрутизации.\n\nТвоя задача — принимать запросы пользователей и решать, какая модель лучше всего подходит для каждого случая использования, который может возникнуть у пользователя. У тебя есть 3 модели, которые ты можешь выбрать для обработки запроса пользователя:\n\n1.) \"perplexity/sonar\"\n2.) \"openai/o3-mini-high\"\n3.) \"anthropic/claude-3.7-sonnet\"\n\nКаждая модель имеет свои сильные стороны и может дать лучшие ответы для определенных вопросов и команд пользователя. Давай разберемся в сильных сторонах каждой модели, чтобы ты мог выбрать ту, которая лучше всего подходит для запроса пользователя:\n\nМодель:\nperplexity/sonar\n\nСильные стороны:\n- Встроенный поиск по интернету.\n- Возможность использовать цитаты и настраивать источники.\n- Может искать данные в интернете в реальном времени.\n\nМодель:\nopenai/o3-mini-high\n\nСильные стороны:\n- o3-mini — это экономичная языковая модель, оптимизированная для сложных задач рассуждения.\n- Превосходит в науке и математике.\n- Эта модель лучше всего подходит для ситуаций, когда требуются тщательные, хорошо продуманные ответы на задачи с несколькими переменными или взаимосвязями.\n\nМодель:\nanthropic/claude-3.7-sonnet\n\nСильные стороны:\n- Claude 3.7 Sonnet — это усовершенствованная языковая модель с улучшенными возможностями рассуждения, кодирования и решения проблем.\n- Вводит гибридный подход к рассуждениям, позволяя пользователям выбирать между быстрыми ответами и расширенной обработкой шаг за шагом для сложных задач.\n- Модель демонстрирует заметные улучшения в кодировании, особенно в разработке фронтенда и обновлениях полного стека.\n- Превосходно работает в агентных рабочих процессах, где она может автономно навигировать по многошаговым процессам.\n- Claude 3.7 Sonnet сохраняет производительность на уровне предыдущей модели в стандартном режиме, но предлагает расширенный режим рассуждения для повышения точности в задачах по математике, кодированию и выполнению инструкций.\n\nТы должен передавать запрос пользователя и решать, какую модель использовать, используя структурированный JSON объект, как показано ниже:\n\nJSON структура объекта:\n{\n  \"userQuery\": \"запрос пользователя здесь\",\n  \"model\": \"выбранная модель здесь\"\n}\n\nJSON Object Structure:\n{\n\"uperQuery\": \"user query here\",\n\"model\": \"selected model here\"\n}\n\nПримеры:\nПример 1:\n{\n  \"userQuery\": \"Найли в интернете свежие новости по ИИ в маркетинге.\",\n  \"model\": \"perplexity/sonar\"\n}\n\nПример 2:\n{\n  \"userQuery\": \"Создать контент план для фитнес тренера на неделю, чтобы набрать больше подписчиков в Инстаграм.\",\n  \"model\": \"openai/o3-mini-high\"\n}\n\nПример 3:\n{\n  \"userQuery\": \"Напиши код для создания игры Тетрис на Python.\",\n  \"model\": \"anthropic/claude-3.7-sonnet\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        660,
        100
      ],
      "id": "b17aa66d-0b0b-47c2-b845-5421fa7661af",
      "name": "AI Agent (выбирает модель для работы)"
    },
    {
      "parameters": {
        "content": "## Старт и запуск",
        "height": 320,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "5012d5fb-7008-488a-b363-2ccf102d6fc7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Умный Выбор Модели\n",
        "height": 540,
        "width": 620,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        0
      ],
      "typeVersion": 1,
      "id": "8c615a3a-04bf-4900-86c2-a457e0724960",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output.uperQuery }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1320,
        80
      ],
      "id": "34f353be-481f-40f7-a7b2-d321854eb5d9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## Рабочая модель (динамическая)\n\n",
        "height": 540,
        "width": 620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1140,
        0
      ],
      "typeVersion": 1,
      "id": "f8171855-658b-41b4-8493-a49f7deafcc0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": "={{ $json.output.model }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1260,
        280
      ],
      "id": "97230110-543a-4771-8923-893a10d08d8e",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"uperQuery\": \"user query here\",\n\"model\": \"selected model here\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        880,
        340
      ],
      "id": "ccd76f02-f77e-4426-a4d6-aae08ebd1935",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1420,
        300
      ],
      "id": "2f91efa4-ec00-4f55-bd77-a317f09abf3a",
      "name": "WBM"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent (выбирает модель для работы)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (выбирает модель для работы)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (выбирает модель для работы)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (выбирает модель для работы)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent (выбирает модель для работы)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "WBM": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e4db388a-7fd1-4be1-9d9f-4aa655fce02c",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "7vXitzT4mXWg6TON",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}