n8n/demo-data/workflows/Google.json
{
  "name": "Google",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        120
      ],
      "id": "b458b00c-e3fc-4ecf-aed3-88c57c9bbe8c",
      "name": "Telegram Trigger",
      "webhookId": "512fa4aa-e773-4faf-af19-19dc58be6cbb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9d8e573-3830-4e93-9f74-4838b5ff49b5",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "df72b3ca-acfb-4df2-afd7-ea4a4196f7c2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -20,
        260
      ],
      "id": "8a50f48d-747e-4fb6-90b6-ed85e74e2e46",
      "name": "Telegram",
      "webhookId": "c66673cf-72f0-4233-82d8-70fe313d8765"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        200,
        260
      ],
      "id": "10d2cc66-8a7d-4ac3-b874-0690d7289cfd",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=<Agentinstructions>\n  <Role>\n    <Name>EventManagerAgent</Name>\n    <Description>Агент для управления событиями в Google Календаре: получение, создание и обновление событий по запросу пользователя.</Description>\n    <currentDate>{{$now}}</currentDate>\n  </Role>\n  <Goal>\n    <Primary>Эффективное управление событиями в Google Календаре на основе запросов пользователя.</Primary>\n  </Goal>\n  <Instructions>\n\n    <!-- Блок управления датами и временем -->\n    <Instruction>\n      Для одиночного запроса даты (например, «Что у меня запланировано в понедельник?»):\n      <ul>\n        <li>Используйте StartDate как «YYYY-MM-DD 00:00:00»</li>\n        <li>Используйте EndDate как «YYYY-MM-DD 23:59:59»</li>\n      </ul>\n    </Instruction>\n    <Instruction>\n      Для диапазона дат (например, «С понедельника по среду»):\n      <ul>\n        <li>Используйте первый день диапазона с «00:00:00» как StartDate</li>\n        <li>Используйте последний день диапазона с «23:59:59» как EndDate</li>\n      </ul>\n    </Instruction>\n\n    <!-- Основной функционал агента -->\n    <Instruction>\n      Получайте события из Google Календаря по запросу пользователя, используя инструмент «Поиск в Google Календаре».\n    </Instruction>\n    <Instruction>\n      Создавайте новые события с указанными деталями (время, участники, тема) по запросу, используя инструмент «Создание события Google Календаря».\n    </Instruction>\n    <Instruction>\n      Обновляйте существующие события (время, детали) по запросу, используя инструмент «Обновление события Google Календаря».\n    </Instruction>\n    <Instruction>\n      Удаляй  события из Google Календаря по запросу пользователя, используя инструмент «Удалить в Google Календаре».\n     </Instruction>\n    <Instruction>\n      В случае конфликтов в расписании уведомляйте пользователя и предлагайте альтернативное время.\nПеред обновлением события в Google календаре, найди Event_ID этого события в календаре .\n    </Instruction>\n  </Instructions>\n</Agentinstructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        420,
        60
      ],
      "id": "08091183-23aa-46a6-a227-5dd37a2fd252",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        380
      ],
      "id": "40dd2cf9-623a-44e0-8bb7-62c65de30d97",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        780,
        60
      ],
      "id": "ee468354-d0d9-4d3d-a83d-29f73dff2ba8",
      "name": "Telegram1",
      "webhookId": "71bef9fe-77cf-4fb9-ac5a-3060176cb65d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        380
      ],
      "id": "2ea2ed71-9b7e-4c00-8d81-7e36874f1523",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca9cc06c-dcf8-457b-854b-4c03d3d15dcc",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -260,
        120
      ],
      "id": "5e4ec970-17ad-4dc6-93bc-4a7899118165",
      "name": "Switch"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Поиск событий в Google календаре",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "63129f7f8a0ccde6960f48886dee716ef604d631a25f08205d6c7ba391ca4734@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Тестовый Календарь"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `старт время и день для создания события`, 'boolean') }}",
        "timeMin": "={{ $fromAI('After', `конец время и день для создания события`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `the Start time and day of events being searched`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        700,
        560
      ],
      "id": "b400d9bb-110e-46f2-994c-3ad48737b25f",
      "name": "Google Calendar"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Создаёт события в календаре",
        "calendar": {
          "__rl": true,
          "value": "63129f7f8a0ccde6960f48886dee716ef604d631a25f08205d6c7ba391ca4734@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Тестовый Календарь"
        },
        "start": "={{ $fromAI('Start', `старт время и день для создания события`, 'string') }}",
        "end": "={{ $fromAI('End', `конец время и день для создания события`, 'string') }}",
        "additionalFields": {
          "description": "={{ $fromAI('Description', `Напиши дополнительные параметры и данные о создаваемом событии`, 'string') }}",
          "summary": "={{ $fromAI('Summary', `Напиши название для создаваемого события из 3 слов`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        820,
        380
      ],
      "id": "e0d898cd-d7ea-4e7b-b0f7-1d01988efa5a",
      "name": "Google Calendar1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Редактирует события в календаре",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "63129f7f8a0ccde6960f48886dee716ef604d631a25f08205d6c7ba391ca4734@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Тестовый Календарь"
        },
        "eventId": "={{ $fromAI('Event_ID', `необходимо обновить ID события`, 'string') }}",
        "updateFields": {
          "description": "={{ $fromAI('Description', `Новые заметки по событию`, 'string') }}",
          "end": "={{ $fromAI('End', `Новое время окончания события`, 'string') }}",
          "start": "={{ $fromAI('Start', `Новое время старта события`, 'string') }}",
          "summary": "={{ $fromAI('Summary', `Новое описание события`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        980,
        420
      ],
      "id": "ebd20bb8-bc96-4b9e-a5a3-e0aa20de759d",
      "name": "Google Calendar2"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Удалить в Google Календаре",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "63129f7f8a0ccde6960f48886dee716ef604d631a25f08205d6c7ba391ca4734@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Тестовый Календарь"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {
          "sendUpdates": "all"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1080,
        220
      ],
      "id": "127656ed-3521-4057-a984-49202b1faf0b",
      "name": "Google Calendar3"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3432752c-93e0-4ff1-b2ac-9720097fec13",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "HUh7o6wIzb6arfCY",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}