n8n/demo-data/workflows/IZ_TRAND_NEWS_TELEGRAM .json
{
  "name": "IZ_TRAND_NEWS_TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a friendly and informative news bot with access to fresh data through a vector store.\n\nROLE:\n- You are an expert at finding current information and news\n- You help users quickly get the information they need\n\nFUNCTIONALITY:\n- Always use the vector store to answer user queries\n- Skillfully transform user requests into effective search queries\n- Identify the main topic of the request and search for relevant information\n- Ask for clarification when the request is unclear\n\nSTYLE AND TONE:\n- Energetic, positive, and accessible\n- Use conversational language at an 8th-grade reading level\n- Be concise - sentences up to 15 words\n- Add an element of surprise or humor where appropriate\n- Use emojis to convey mood (1-2 per response)\n- Reply ONLY in Russian language, regardless of the language used in queries\n\nRESPONSE STRUCTURE:\n- Start with a direct answer to the question\n- Highlight key thoughts in **bold**\n- Add 1-2 interesting facts from the information found\n- Mention multiple perspectives when available\n- End with a logical transition to continue the conversation\n\nFORMAT:\n- Markdown with reasonable use of formatting\n- Structure information for easy reading\n- Avoid paragraphs longer than 3-4 lines\n\nCONSTRAINTS:\n- Never provide answers without consulting the vector store\n- If no answer is found, suggest: \"Я не нашел информации по этому вопросу.\"\n- Don't make up information\n- Strive for objectivity, don't exp"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -380,
        -380
      ],
      "id": "9fd960be-f697-483b-878a-ce805447e03c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "ai_news",
        "toolDescription": "Summarized news articles and YouTube transcripts related to AI",
        "pineconeIndex": {
          "__rl": true,
          "value": "ainewstest",
          "mode": "list",
          "cachedResultName": "ainewstest"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -220,
        -120
      ],
      "id": "fde4d997-3dd2-459b-9644-de64f663ae1d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "xHYJdGWUvOWZd8CK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        40
      ],
      "id": "deafecf1-a88f-49c3-a084-5e587eb5ae27",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "VASH_API"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.queries }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 2,\n  \"time_range\": \"day\",\n  \"days\": 1,\n  \"include_answer\": \"advanced\",\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -840,
        1000
      ],
      "id": "2a0d683f-98b6-49c2-9e5a-5d22343a3504",
      "name": "Tavily"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2760,
        1960
      ],
      "id": "10687e12-ac16-44a5-97b8-12af860173d0",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        2380
      ],
      "id": "29f141b5-008b-45f4-b30f-62151cbc8ecf",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/channels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "id, snippet"
            },
            {
              "name": "forHandle",
              "value": "={{ $json.usernames }}"
            },
            {
              "name": "regionCode",
              "value": "US"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        2300
      ],
      "id": "84bd90a2-8c63-49c8-acd3-9480d7c93784",
      "name": "Get Channel ID",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "kaehDW4Ii5Pf7uw4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        1320,
        1960
      ],
      "id": "3b29fc21-664c-4d16-99ec-fde5c79d6215",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "tableId": "news",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.output.content }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "News"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -60,
        780
      ],
      "id": "dd02c06a-0903-4a5e-bb8e-f484631face4",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "koxVIlMFEhTVYykk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "news",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.output.title }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.output.content }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "YouTube"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2040,
        1960
      ],
      "id": "c26de47f-19d9-4051-a0a6-686c5bf795a9",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "koxVIlMFEhTVYykk",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Repurpose this summarized article: {{ $json.answer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional editor and copywriter specializing in transforming technical and dry content into viral material that readers instantly remember.\n\nInstructions:\n1. Create a captivating, positive title with EXACTLY 5 words for the summary (place in <title>). The title should evoke curiosity without being clickbait.\n2. Rewrite the summary (place in <content>), using:\n   • Vivid, specific nouns instead of general ones\n   • Active verbs instead of passive ones\n   • Analogies and metaphors to simplify complex ideas\n   • Conversational, friendly tone as if explaining to a friend\n   • Short sentences and paragraphs for readability\n   • 1-2 questions to engage the reader\n   • Always end with a key takeaway\n\nOutput format:\n{\n\"title\": \"<title>\",\n\"content\": \"<content>\"\n}\n\nOutput:\n- Markdown formatting\n- Use **bold text** for 3-4 key terms/concepts\n- Use emojis maximum 2-3 times to emphasize emotional moments\n\nConstraints:\n- Strictly under 110 words for the summary\n- No subheadings in the summary\n- Don't use - or : in titles\n- Avoid clichés and formulaic phrases\n- Preserve all important facts from the original without distortion\n- No more than one exclamation mark"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -460,
        780
      ],
      "id": "95fb7338-4f4f-4c9f-9075-1d0964d36b67",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Repurpose this summarized article: {{ $json.response.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional editor and copywriter specializing in transforming technical and dry content into viral material that readers instantly remember.\n\nInstructions:\n1. Create a captivating, positive title with EXACTLY 5 words for the summary (place in <title>). The title should evoke curiosity without being clickbait.\n2. Rewrite the summary (place in <content>), using:\n   • Vivid, specific nouns instead of general ones\n   • Active verbs instead of passive ones\n   • Analogies and metaphors to simplify complex ideas\n   • Conversational, friendly tone as if explaining to a friend\n   • Short sentences and paragraphs for readability\n   • 1-2 questions to engage the reader\n   • Always end with a key takeaway\n\nOutput format:\n{\n\"title\": \"<title>\",\n\"content\": \"<content>\"\n}\n\nOutput:\n- Markdown formatting\n- Use **bold text** for 3-4 key terms/concepts\n- Use emojis maximum 2-3 times to emphasize emotional moments\n\nConstraints:\n- Strictly under 110 words for the summary\n- No subheadings in the summary\n- Don't use - or : in titles\n- Avoid clichés and formulaic phrases\n- Preserve all important facts from the original without distortion\n- No more than one exclamation mark"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1680,
        1960
      ],
      "id": "42130ef9-0626-47e5-9548-583b9b6da75f",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1340,
        2180
      ],
      "id": "95a80ef3-7647-46dc-9a58-41d63007189b",
      "name": "4o-mini",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "channelId",
              "value": "={{ $json.ChannelId }}"
            },
            {
              "name": "type",
              "value": "channel"
            },
            {
              "name": "maxResults",
              "value": "1"
            },
            {
              "name": "order",
              "value": "date"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "publishedAfter",
              "value": "={{ new Date(Date.UTC(new Date().getUTCFullYear(), new Date().getUTCMonth(), new Date().getUTCDate() - 1, 0, 0, 0)).toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        340,
        2160
      ],
      "id": "fa4174d5-2a80-41fb-9e98-fc15ac579531",
      "name": "Get 1 Video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "kaehDW4Ii5Pf7uw4",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -640,
        2160
      ],
      "id": "93ddf315-d2ea-45f2-8f74-fc89f5a08ef8",
      "name": "Split Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        280,
        1960
      ],
      "id": "b2b9a138-47a2-4133-b6b4-182f2c9b27ac",
      "name": "Split Items Again"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57cb180d-a772-4537-b86f-488b5d1e0f51",
              "name": "videoId",
              "value": "={{ $json.id.videoId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        2380
      ],
      "id": "bfd5b71c-c78b-4f88-a264-ad0deaa822be",
      "name": "Set VideoId"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ainewstest",
          "mode": "list",
          "cachedResultName": "ainewstest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        140,
        780
      ],
      "id": "e9691e70-f660-4cbd-9f6b-c2fd059091c1",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "xHYJdGWUvOWZd8CK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $('Supabase').item.json.title }}"
              },
              {
                "name": "content",
                "value": "={{ $('Supabase').item.json.content }}"
              },
              {
                "name": "=type",
                "value": "={{ $('Supabase').item.json.type }}"
              },
              {
                "name": "created_at",
                "value": "={{ $('Supabase').item.json.created_at }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        280,
        1000
      ],
      "id": "a10794d1-a6a6-46e5-9c72-ad9ce83453d3",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        300,
        1160
      ],
      "id": "9b742da9-17a0-4583-99da-e2611e6baf5e",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ainewstest",
          "mode": "list",
          "cachedResultName": "ainewstest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2240,
        1960
      ],
      "id": "f83fc779-e397-4a60-8c53-04e2caea9583",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "xHYJdGWUvOWZd8CK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $('Supabase1').item.json.title }}"
              },
              {
                "name": "content",
                "value": "={{ $('Supabase1').item.json.content }}"
              },
              {
                "name": "=type",
                "value": "={{ $('Supabase1').item.json.type }}"
              },
              {
                "name": "created_at",
                "value": "={{ $('Supabase1').item.json.created_at }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2380,
        2180
      ],
      "id": "4951113e-fc5c-4994-8c80-f7a363c8994b",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        2400,
        2340
      ],
      "id": "1e431912-1929-46b0-9c07-69353eb9a456",
      "name": "Token Splitter1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"usernames\": {\n  \"username1\": \"morecryptoonline\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1720,
        2160
      ],
      "id": "01a6186c-e539-46ee-9c9c-f510ed1c52c0",
      "name": "YouTube Users"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        -120
      ],
      "id": "eab9ba52-19e4-4fed-8dd7-bd1149e9cd04",
      "name": "4o-minix",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1260,
        2160
      ],
      "id": "d3943e69-237d-4167-9845-f2f8ff8b5784",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "usernames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1460,
        2160
      ],
      "id": "e3430956-dd8a-4207-a393-e9fdd52e9056",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da2f5f04-78ad-4ec2-838f-542d33b13fe4",
              "name": "ChannelId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -440,
        2160
      ],
      "id": "718e6566-3a70-4323-8acd-85f990f1ed84",
      "name": "Set"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        2160
      ],
      "id": "afc486d4-817f-480c-aadf-18dc0a3af2b2",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1640,
        2380
      ],
      "id": "4840da14-1f9a-4b0d-87cd-a0a37546b718",
      "name": "Wait",
      "webhookId": "0519420e-4f03-4a24-a06b-2cb2abd4bab7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        1000
      ],
      "id": "a9ec343c-0795-4f24-a856-8c191a283588",
      "name": "3-small",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2220,
        2180
      ],
      "id": "ac690df1-710b-4264-ba39-172cf0dc4390",
      "name": "3-small-x",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"<title>\",\n\t\"content\": \"<content>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -320,
        1000
      ],
      "id": "e5173193-4155-498e-8c29-3db8c4421d6c",
      "name": "Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"<title>\",\n\t\"content\": \"<content>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1860,
        2180
      ],
      "id": "a083a606-2a46-4564-8193-94080591bb02",
      "name": "Parserx"
    },
    {
      "parameters": {
        "fieldToSplitOut": "queries",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1440,
        1000
      ],
      "id": "2c87bb5a-bd6a-4546-8392-35ef5797c2cd",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1220,
        1000
      ],
      "id": "bc4c5b6d-d6b1-439c-80a3-595a33c78d15",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "content": "## Замените запросы на то, что вы хотите искать.",
        "height": 100,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1800,
        880
      ],
      "typeVersion": 1,
      "id": "b4fac10b-7dd2-469e-a21e-ef46ba738ae0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Разместите здесь имена пользователей ваших любимых ютуберов, которых хотите отслеживать\n\n## Примечание: Старайтесь добавлять действительно активных ютуберов, так как если они не публикуют много контента, например, раз в месяц, вы не получите много новых видео и т.д.",
        "height": 320,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1960,
        2360
      ],
      "typeVersion": 1,
      "id": "775f1cd4-b876-49ee-8d8f-521af8e55b41",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Добавьте ваш API-ключ Tavily\n\n### www.tavily.com",
        "height": 120,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -980,
        1200
      ],
      "typeVersion": 1,
      "id": "c7736223-5352-4076-8e9f-02f578eaea2e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Подключите (создайте и используйте учетные данные OpenAI)",
        "height": 80,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        2340
      ],
      "typeVersion": 1,
      "id": "7f7e90f5-7ade-444a-a77b-2b89d881b0fd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Добавьте ваш ключ RapidAPI для API транскрипции YouTube\n\n### https://rapidapi.com/solid-api-solid-api-default/api/youtube-transcript3/playground/\n\n\n### Зарегистрируйтесь на RapidAPI, если вы еще этого не сделали, подпишитесь на план API для транскрипции YouTube и используйте API-ключ для вашей учетной записи",
        "height": 320,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        1920
      ],
      "typeVersion": 1,
      "id": "e09f07af-6bee-4dc4-9388-0694b0672393",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Подключите (учетные данные Supabase)",
        "height": 80,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        660
      ],
      "typeVersion": 1,
      "id": "675d6b70-fb9d-4db3-a6db-7a7444a409ab",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "### Подключите учетные данные YouTube\n\n### : https://youtu.be/yyj9Hyr86ag",
        "height": 120,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        2380
      ],
      "typeVersion": 1,
      "id": "240a7f78-e5dd-4bc0-8c11-16f1940f6eff",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "###Подключите учетные данные Pinecone.",
        "height": 80,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        -180
      ],
      "typeVersion": 1,
      "id": "fe72a952-d069-47ff-a539-416b11df44b9",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "### Подключите учетные данные OpenAI",
        "height": 80,
        "width": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        20
      ],
      "typeVersion": 1,
      "id": "7d33da29-703c-4bd1-9d0a-95ec4154d990",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Всё устраивает?\n\n###Замените триггер \"При нажатии\" на триггер по расписанию, чтобы запускать автоматически раз в 24 часа.",
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2820,
        2180
      ],
      "typeVersion": 1,
      "id": "fab69fc0-757a-4008-9325-6b3d4d6b2b58",
      "name": "Sticky Note12",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2740,
        1780
      ],
      "id": "a7c2754b-2ff0-4900-8aaa-f3da8d9febd4",
      "name": "Run every 24 hours"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"queries\": {\n    \"query1\": \"ai\",\n    \"query10\": \"bitcoin\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1660,
        1000
      ],
      "id": "04e05e75-3f9b-4230-bb57-161494e196eb",
      "name": "Queries"
    },
    {
      "parameters": {
        "content": "### Настройте ваше пространство имен в Pinecone (на ваше собственное), а также тип информации в нем.",
        "height": 100,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -20
      ],
      "typeVersion": 1,
      "id": "43c214e5-d471-4df6-b2af-6424bd52abe7",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "### Подключите (создайте и используйте учетные данные OpenAI)",
        "height": 80,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -280,
        1160
      ],
      "typeVersion": 1,
      "id": "3c341910-99ae-4387-9982-a67ad274c244",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "### Подключите (учетные данные Supabase)",
        "height": 80,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        1840
      ],
      "typeVersion": 1,
      "id": "2b2af3d5-94d4-4d9f-b663-0def29c42feb",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "### Подключите учетные данные YouTube\n\n### : https://youtu.be/yyj9Hyr86ag",
        "height": 120,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        2560
      ],
      "typeVersion": 1,
      "id": "56a3daa4-7001-444a-a30a-57636afc9537",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## ПРОМПТ\nВы профессиональный редактор и копирайтер со специализацией на трансформации технических и сухих текстов в вирусный контент, который читатели мгновенно запоминают.\n\nИнструкции:\n1. Создайте захватывающий, позитивный заголовок из ТОЧНО 5 слов для сводки (поместите в <title>). Заголовок должен вызывать любопытство, но не быть кликбейтом.\n2. Перепишите сводку (поместите в <content>), используя:\n   • Яркие, конкретные существительные вместо общих\n   • Активные глаголы вместо пассивных\n   • Аналогии и метафоры для упрощения сложных идей\n   • Разговорный, дружелюбный тон, будто объясняете другу\n   • Короткие предложения и абзацы для легкости чтения\n   • 1-2 вопроса для вовлечения читателя\n   • Всегда заканчивайте ключевым выводом\n\nФормат вывода:\n{\n\"title\": \"<title>\",\n\"content\": \"<content>\"\n}\n\nВывод:\n- Markdown форматирование\n- Используйте **жирный шрифт** для 3-4 ключевых терминов/понятий\n- Используйте эмодзи максимум 2-3 раза для подчеркивания эмоциональных моментов\n\nОграничения:\n- Строго до 110 слов для сводки\n- Никаких подзаголовков в сводке\n- Не используйте - или : в заголовках\n- Избегайте клише и шаблонных фраз\n- Сохраняйте все важные факты из оригинала без искажений\n- Никаких восклицательных знаков больше одного",
        "height": 780,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        660
      ],
      "typeVersion": 1,
      "id": "80b2c760-73cf-4bd1-985e-1fee2463756a",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -540,
        1000
      ],
      "id": "70b6ec84-22ec-474a-9c24-d41b5eb8597e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://youtube-transcripts.p.rapidapi.com/youtube/transcript\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "videoId",
              "value": "={{ $json.videoId }}"
            },
            {
              "name": "flat_text",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "VASH_API"
            },
            {
              "name": "x-rapidapi-host",
              "value": "youtube-transcripts.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2380
      ],
      "id": "dfdb4a60-04ee-4a22-928a-701a23c06593",
      "name": "Transcribe1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4eb11523-0575-4d12-a159-cb7bc9ed3942",
              "name": "content.text",
              "value": "={{ $json[\"content\"] && $json[\"content\"].map(item => item.text).join(\" \") || \"\" }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        2380
      ],
      "id": "3632681f-24e4-4f36-8e8a-b40d49a12b88",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1600,
        2180
      ],
      "id": "8ad5e1b0-e53b-49ae-8cdd-bb3ea7423357",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "T7XqlsJ9D3iey8AW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ПРОМПТ \nТы дружелюбный и информативный новостной бот с доступом к свежим данным через векторное хранилище.\n\nРОЛЬ:\n- Ты эксперт по поиску актуальной информации и новостей\n- Ты помогаешь пользователям быстро получать нужную информацию\n\nФУНКЦИОНАЛ:\n- Всегда используй векторное хранилище для ответов на запросы пользователей\n- Умело преобразуй запросы пользователей в эффективные поисковые запросы\n- Определяй главную тему запроса и ищи подходящую информацию\n- При неясном запросе запрашивай уточнение темы\n\nСТИЛЬ И ТОН:\n- Энергичный, позитивный и доступный\n- Используй разговорный язык на уровне 8-го класса\n- Будь лаконичным - предложения до 15 слов\n- Добавляй элемент неожиданности или юмора где уместно\n- Используй эмодзи для передачи настроения (1-2 на ответ)\n\nСТРУКТУРА ОТВЕТОВ:\n- Начинай с прямого ответа на вопрос\n- Выделяй ключевые мысли **жирным шрифтом**\n- Добавляй 1-2 интересных факта из найденной информации\n- При наличии нескольких точек зрения упоминай их\n- Заканчивай логичным переходом к продолжению разговора\n\nФОРМАТ:\n- Markdown с разумным использованием форматирования\n- Структурируй информацию для удобства чтения\n- Избегай абзацев длиннее 3-4 строк\n\nОГРАНИЧЕНИЯ:\n- Не давай ответов без обращения к векторному хранилищу\n- Если не нашлось ответа, предложи: \"Я не нашел информации по этому вопросу. Попробуй спросить о новых моделях ИИ, последних технологических новостях или трендах в [релевантная область]\"\n- Не выдумывай информацию\n- Стремись к объективности, не выражай политические предпочтения",
        "height": 860,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        -440
      ],
      "typeVersion": 1,
      "id": "4f3e900c-275d-4329-814d-818372ec7b31",
      "name": "Sticky Note8",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## СБОР НОВОСТЕЙ",
        "height": 2240,
        "width": 5800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2880,
        540
      ],
      "typeVersion": 1,
      "id": "b99bc2e2-290c-4681-8b6f-99a4da407e9b",
      "name": "Sticky Note17",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## ОБЩЕНИЕ",
        "height": 1140,
        "width": 3540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2280,
        -660
      ],
      "typeVersion": 1,
      "id": "0c03e433-414f-42c3-950f-53370a68b343",
      "name": "Sticky Note18",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Проверка бота (обычно для AI Ассистентов используют)",
        "height": 100,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1100,
        -100
      ],
      "typeVersion": 1,
      "id": "9c88c318-e17f-4612-bf4d-1a3a6005ad33",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "### Подключите свой Telegram\n",
        "height": 80,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1380,
        -100
      ],
      "typeVersion": 1,
      "id": "ed7bb7a9-0e2a-48fb-a593-b638091ce722",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2140,
        -340
      ],
      "id": "10aa8bff-6a3b-4ef0-beb6-7eded7c82f3b",
      "name": "Telegram Trigger1",
      "webhookId": "79408097-d284-4034-a6d7-65bb07b242ba",
      "credentials": {
        "telegramApi": {
          "id": "XUm07jZTU6o7G7Zz",
          "name": "Telegram account 3 (Главный AI Помощник)"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "dd8451ae-fc03-49d0-a19e-2678a5f4ff64"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bc42e6d3-ad50-4188-a168-9c5696e74252",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1440,
        -360
      ],
      "id": "0cd554c0-28e0-4598-80b0-113d47bee7c0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1260,
        -520
      ],
      "id": "816da6ca-3f6d-4032-98d6-db3623b7ac9c",
      "name": "Telegram3",
      "webhookId": "0142b70e-e116-4fe0-bce6-bfc0fb8db9db",
      "credentials": {
        "telegramApi": {
          "id": "XUm07jZTU6o7G7Zz",
          "name": "Telegram account 3 (Главный AI Помощник)"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1040,
        -500
      ],
      "id": "4372cfff-eddc-4890-8621-1690d33d05a6",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "XLvdxNcexKfUmGhl",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9e919bb-8d22-4855-a7b6-a9e5a9f39778",
              "leftValue": "={{ $json.message.chat.username }}",
              "rightValue": "=igorzuevich\n",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1940,
        -340
      ],
      "id": "8fc90d92-bb90-4cc6-88cf-e21933515030",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1660,
        -360
      ],
      "id": "adb36d6d-1a85-4591-a605-255882c90219",
      "name": "Telegram2",
      "webhookId": "4f938fd7-6e62-45f5-9f45-118ed704bc35",
      "credentials": {
        "telegramApi": {
          "id": "XUm07jZTU6o7G7Zz",
          "name": "Telegram account 3 (Главный AI Помощник)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc04da2b-b648-42a4-9a04-bdf8a8d23508",
              "name": "message.text",
              "value": "={{ $('Telegram Trigger1').item.json.message.text }}{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -780,
        -380
      ],
      "id": "94c457e5-0248-478a-9684-ac106b903265",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "### Проверка бота (обычно для AI Ассистентов используют)",
        "height": 100,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1880,
        -180
      ],
      "typeVersion": 1,
      "id": "af90b48f-fa81-45c1-bb5d-15a811c4bad6",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "### Подключите свой Telegram\n",
        "height": 80,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2160,
        -160
      ],
      "typeVersion": 1,
      "id": "331c74d6-bfdc-42c3-8e78-3fdc0b97419c",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        -420
      ],
      "id": "bb270454-5605-4285-a170-c2fdf80754e1",
      "name": "Telegram1",
      "webhookId": "927ce694-1b0f-40c8-8622-4d925e707ca4",
      "credentials": {
        "telegramApi": {
          "id": "XUm07jZTU6o7G7Zz",
          "name": "Telegram account 3 (Главный AI Помощник)"
        }
      }
    },
    {
      "parameters": {
        "content": "## СВЕЖИЕ НОВОСТИ\n",
        "height": 800,
        "width": 2480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1860,
        600
      ],
      "typeVersion": 1,
      "id": "1bd90702-e809-467c-bc26-df1bec04b826",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## YOUTUBE",
        "height": 1140,
        "width": 4700,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1980,
        1580
      ],
      "typeVersion": 1,
      "id": "144c6919-07c4-4659-a19e-7552d900b81c",
      "name": "Sticky Note24",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "YouTube Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel ID": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Video": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Items Again": {
      "main": [
        [
          {
            "node": "Set VideoId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set VideoId": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Users": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4o-minix": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Split Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Channel ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Split Items Again",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get 1 Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3-small": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "3-small-x": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parserx": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queries": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram3": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7b348e0-c281-4f85-b069-7c8ef01c4e36",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "479931a9b1c0980217b795eef202ec08aa8efa5933ee558f5e5c7dc32b0cdc9e"
  },
  "id": "FX59XMNx3pXwB920",
  "tags": []
}