n8n/demo-data/workflows/P1_VIDEO_URL_AI_CONTENT_CHAT.json
{
  "name": "P1_VIDEO_URL_AI_CONTENT_CHAT",
  "nodes": [
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to create a new row for social media links.",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblyFTRMIH7FwaduS",
          "mode": "list",
          "cachedResultName": "Links",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblyFTRMIH7FwaduS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video URL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Video_URL', ``, 'string') }}",
            "Social Media": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Social_Media', ``, 'string') }}",
            "Status": "не сделано"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "не сделано",
                  "value": "не сделано"
                },
                {
                  "name": "в процессе",
                  "value": "в процессе"
                },
                {
                  "name": "готов",
                  "value": "готов"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        -1080,
        420
      ],
      "id": "81089c8c-7c9a-4032-a935-f0a15afc46a8",
      "name": "Airtable"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1340,
        400
      ],
      "id": "bff56b0e-4c1a-4490-82c6-54797356966c",
      "name": "ChatGPT"
    },
    {
      "parameters": {
        "name": "Execute_Repurpose",
        "description": "Call this tool to execute the repurposer.",
        "workflowId": {
          "__rl": true,
          "value": "ih8mwjCX6nnDAnB6",
          "mode": "list",
          "cachedResultName": "IZ_P2_VIDEO_URL_AI_CONTENT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execute": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('execute', ``, 'string') }}"
          },
          "matchingColumns": [
            "execute"
          ],
          "schema": [
            {
              "id": "execute",
              "displayName": "execute",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -440,
        520
      ],
      "id": "ecc65e4d-c90e-4af1-827f-9d432f70e274",
      "name": "Execute Repurpose"
    },
    {
      "parameters": {
        "content": "## Получите свой API-ключ OpenAI\n\nЧтобы получить API-ключ для OpenAI, посетите:\n\nhttps://platform.openai.com/api-keys\n\n",
        "height": 220,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1300,
        700
      ],
      "typeVersion": 1,
      "id": "c2d25001-9206-4d5a-9eef-23cfa5b2491a",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Настройте свои данные Airtable и подключите их\n\nПосмотрите документацию по настройке Airtable здесь:\n\nhttps://docs.n8n.io/integrations/builtin/credentials/airtable/",
        "height": 200,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -540,
        680
      ],
      "typeVersion": 1,
      "id": "d9c389d9-f71e-4f45-a452-5af23b0b43ef",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "\n### Role:\n\nYou are an efficient URL organizer.\n\n### Task:\n\nYou will create rows with social media URL's.\n\n### Instructions:\n\nCreating rows with new URL's:\n\n1. Receive the users URL\n2. Create a new row with the URL\n3. Output \"Ссылка добавлена.\" on completion\n\nExecuting repurposer:\n\n1. Upon user query of \"Execute\", call the Execute Repurposer.\n\n\n### Constraints:\n\n- Do not modify any links\n- Never call the Execute Repurposer unless the keyword \"Execute\" has been queried by the user.\n",
        "height": 620,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        160
      ],
      "typeVersion": 1,
      "id": "ca2485f9-eb7b-4cfc-a90d-f26133b8776a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Роль:\n\nТы эффективный организатор URL-адресов.\n\n### Задача:\n\nТы будешь создавать строки с URL-адресами социальных сетей.\n\n### Инструкции:\n\nСоздание строк с новыми URL-адресами:\n\n1. Получи URL-адрес пользователя.\n2. Создай новую строку с URL-адресом.\n3. Выведи «Ссылка добавлена» по завершении.\n\nВыполнение перецелителя:\n\n1. По запросу пользователя «Выполнить» вызови перецелитель Execute.\n\n### Ограничения:\n\n- Не изменяй ссылки.\n- Никогда не вызывай перецелитель Execute, если ключевое слово «Выполнить» не было запрошено пользователем.\n",
        "height": 620,
        "width": 780,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        160
      ],
      "typeVersion": 1,
      "id": "205a39ab-461d-408c-ae26-2d6f75852454",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblyFTRMIH7FwaduS",
          "mode": "list",
          "cachedResultName": "Links",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblyFTRMIH7FwaduS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Record ID": "={{ $json.output.script_record_ID }}",
            "Video URL": "={{ $json.output['Video URL'] }}"
          },
          "matchingColumns": [
            "Video URL"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "не сделано",
                  "value": "не сделано"
                },
                {
                  "name": "в процессе",
                  "value": "в процессе"
                },
                {
                  "name": "готов",
                  "value": "готов"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -740,
        200
      ],
      "id": "916a41be-dd5f-42fc-ab40-55a7702ee4d1",
      "name": "Airtable1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"script_record_ID\": \"Airtable record ID of the script\",\n  \"Video URL\": \"Airtable Video URL of the script\",\n  \"output\": \"message\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -260,
        520
      ],
      "id": "c0302b4b-0012-496b-ae34-47c12e309b16",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### Role:\n\nYou are an efficient URL organizer.\n\n### Task:\n\nYou will create rows with social media URL's.\n\n### Instructions:\n\nCreating rows with new URL's:\n\n1. Receive the users URL\n2. Create a new row with the URL\n3. Output \"Ссылка добавлена.\" on completion\nAnswer in Russian\n\n\n### Constraints:\n\n- Do not modify any links\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1180,
        180
      ],
      "id": "d827318f-49b3-47c6-9611-f82d32a337bf",
      "name": "VIDEO URL AI CONTENT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### Role:\n\nYou are an efficient URL organizer.\n\n### Task:\n\nYou will create rows with social media URL's.\n\n### Instructions:\n\nCreating rows with new URL's:\n\n1. Receive the users URL\n2. Create a new row with the URL\n3. Output \"Ссылка добавлена.\" on completion\nAnswer in Russian\n\nExecuting repurposer:\n\n1. Upon user query of \"Проработать\", call the Execute Repurposer.\n\n\n### Constraints:\n\n- Do not modify any links\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -480,
        180
      ],
      "id": "8f90e842-2977-44d0-bbd8-3ede21aa81e9",
      "name": "VIDEO URL AI CONTENT1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -600,
        400
      ],
      "id": "53cb10f2-f430-4fd7-8a4b-f5371f64f43d",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"script_record_ID\": \"Airtable record ID of the script\",\n  \"Video URL\": \"Airtable Video URL of the script\",\n  \"output\": \"message\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -920,
        440
      ],
      "id": "bbc46897-9c38-4de1-81c7-9abdacda4f80",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1720,
        160
      ],
      "id": "d96eeaf4-7427-491d-bc10-1403c7151502",
      "name": "When chat message received",
      "webhookId": "559cb81b-76a9-437a-8d63-c9be9efd0352"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85364c0a-2948-4f67-979d-0c9df89ac1ee",
              "name": "Otvet",
              "value": "={{ $json.output.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "bfaaf6f1-47bf-4024-9e13-bb5648e7e738",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Airtable": {
      "ai_tool": [
        [
          {
            "node": "VIDEO URL AI CONTENT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT": {
      "ai_languageModel": [
        [
          {
            "node": "VIDEO URL AI CONTENT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Repurpose": {
      "ai_tool": [
        [
          {
            "node": "VIDEO URL AI CONTENT1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "VIDEO URL AI CONTENT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "VIDEO URL AI CONTENT1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO URL AI CONTENT": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIDEO URL AI CONTENT1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "VIDEO URL AI CONTENT1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "VIDEO URL AI CONTENT",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "VIDEO URL AI CONTENT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c76d40b0-fea1-4218-b309-9d0d3cc3d1f5",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "LAHYXrENjGsTVRmU",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}