n8n/demo-data/workflows/P2_VIDEO_URL_AI_CONTENT.json
{
  "name": "P2_VIDEO_URL_AI_CONTENT",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblyFTRMIH7FwaduS",
          "mode": "list",
          "cachedResultName": "Links",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblyFTRMIH7FwaduS"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1420,
        1420
      ],
      "id": "ed2db600-279b-422d-8b88-67ab0cd9eb83",
      "name": "Get Links"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5649d3f7-c671-4f8d-a6a9-c2a5f5bc2aa2",
                    "leftValue": "={{ $json['Video URL'] }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Video URL'] }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "85cb92d9-7425-4f1a-b90f-d6c7e60ef7b7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "YouTube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "63785c25-d46f-491f-9600-51cf86219255",
                    "leftValue": "={{ $json['Video URL'] }}",
                    "rightValue": "tiktok",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TikTok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -900,
        1400
      ],
      "id": "c8713e36-a10f-41cd-8b06-47bfd864c9ef",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // Get the binary data\n  const binaryData = item.binary.data;\n  \n  // Create a new binary object with modified properties\n  const modifiedBinary = {\n    ...binaryData,\n    mimeType: 'audio/mpeg',  // Try this MIME type instead\n    fileExtension: 'mp3',\n    fileName: `${item.json.Username || 'audio'}.mp3`,\n    contentType: 'audio/mpeg'  // Add content type explicitly\n  };\n\n  return {\n    json: {\n      ...item.json,\n    },\n    binary: {\n      audio: modifiedBinary  // Change the key to 'audio' instead of 'data'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        2660
      ],
      "id": "96b684b4-44bf-4658-86e2-e5ca0ae834ca",
      "name": "Change to mpeg"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        100,
        2640
      ],
      "id": "0c4d5e9b-e3d0-4576-b77b-194d1a9d2270",
      "name": "TikTok Link Loop"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        300,
        1420
      ],
      "id": "20d13da1-a4df-4c92-a310-b84799c2269c",
      "name": "YouTube Link Loop"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblyFTRMIH7FwaduS",
          "mode": "list",
          "cachedResultName": "Links",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblyFTRMIH7FwaduS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "готов",
            "Record ID": "={{ $('Get Links').item.json['Record ID'] }}"
          },
          "matchingColumns": [
            "Record ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "не сделано",
                  "value": "не сделано"
                },
                {
                  "name": "в процессе",
                  "value": "в процессе"
                },
                {
                  "name": "готов",
                  "value": "готов"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        820,
        2480
      ],
      "id": "13eb09cd-fe8a-4914-ba72-c415dc16ec35",
      "name": "TikTok Complete"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Links to videos": "={{ $json.fields['Video URL'] }}",
            "Original Script": "={{ $('TikTok Link Loop').item.json.text }}",
            "Type": "TikTok"
          },
          "matchingColumns": [
            "Record ID"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Original Script",
              "displayName": "Original Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Repurposed Script",
              "displayName": "Repurposed Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Links to videos",
              "displayName": "Links to videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1020,
        2480
      ],
      "id": "1e177e50-e71d-47ba-a00f-43d91c9d75dc",
      "name": "TikTok create"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblyFTRMIH7FwaduS",
          "mode": "list",
          "cachedResultName": "Links",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblyFTRMIH7FwaduS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "готов",
            "Record ID": "={{ $('Get Links').item.json['Record ID'] }}"
          },
          "matchingColumns": [
            "Record ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "не сделано",
                  "value": "не сделано"
                },
                {
                  "name": "в процессе",
                  "value": "в процессе"
                },
                {
                  "name": "готов",
                  "value": "готов"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1120,
        1220
      ],
      "id": "1b83243d-1e55-4348-a4f5-6a731a248590",
      "name": "YouTube Complete"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Links to videos": "={{ $('Get Links').item.json['Video URL'] }}",
            "Original Script": "={{ $('Edit Fields').item.json.content.text }}",
            "Type": "YouTube",
            "Created": "={{ $json.createdTime }}"
          },
          "matchingColumns": [
            "Record ID"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Original Script",
              "displayName": "Original Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Repurposed Script",
              "displayName": "Repurposed Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Links to videos",
              "displayName": "Links to videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1400,
        1220
      ],
      "id": "a0b5e756-3420-447a-b0b0-7f0eabcc3fde",
      "name": "YouTube Create"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a13faed-e2dd-463a-884c-faede362c444",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f760c590-5a0e-4bf9-89b3-c848707abdf0",
              "name": "Original Script",
              "value": "={{ $json.fields[\"Original Script\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1740,
        1420
      ],
      "id": "ba7f4100-9e87-4cb6-a8f0-d344a6c0b074",
      "name": "Select YouTube"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a13faed-e2dd-463a-884c-faede362c444",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f760c590-5a0e-4bf9-89b3-c848707abdf0",
              "name": "Original Script",
              "value": "={{ $json.fields[\"Original Script\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1640,
        2520
      ],
      "id": "6cae9196-f733-44bd-a418-3e86b5eb8473",
      "name": "Select TikTok"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1960,
        2480
      ],
      "id": "bc8b6339-9d66-47c9-8e6f-bb8597a1151c",
      "name": "Loop TikTok Scripts"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2020,
        1420
      ],
      "id": "ce8518ec-5bb2-46b8-9228-2db2356ed070",
      "name": "Loop YouTube Scripts"
    },
    {
      "parameters": {
        "jsCode": "// Get the JSON data from the specified path\nconst originalScript = $input.first().json[\"Original Script\"];\nconst recordID = $input.item.json[\"id\"];\n\n// Check if the field exists\nif (originalScript === undefined) {\n  return [{ error: \"Could not find 'Original script' field in the JSON data\" }];\n} else {\n  // Convert to string if it's not already a string\n  const scriptString = typeof originalScript === 'string' \n    ? originalScript \n    : JSON.stringify(originalScript);\n  \n  // Count the characters\n  const characterCount = scriptString.length;\n  \n  // Create the query string with the character count\n  const query = `Repurpose the original script in no more or less than ${characterCount} characters. Here is the Record ID: ${recordID}`;\n  \n  // Return the result as an array with a single object containing the query\n  return [\n    { query: query }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        2480
      ],
      "id": "4783274e-c65f-40dd-be99-b2c77156fe1d",
      "name": "TikTok Get'em"
    },
    {
      "parameters": {
        "jsCode": "// Get the JSON data from the specified path\nconst originalScript = $input.first().json[\"Original Script\"];\nconst recordID = $input.item.json[\"id\"];\n\n// Check if the field exists\nif (originalScript === undefined) {\n  return [{ error: \"Could not find 'Original script' field in the JSON data\" }];\n} else {\n  // Convert to string if it's not already a string\n  const scriptString = typeof originalScript === 'string' \n    ? originalScript \n    : JSON.stringify(originalScript);\n  \n  // Count the characters\n  const characterCount = scriptString.length;\n  \n  // Create the query string with the character count\n  const query = `Repurpose the original script in no more or less than ${characterCount} characters. Here is the Record ID: ${recordID}`;\n  \n  // Return the result as an array with a single object containing the query\n  return [\n    { query: query }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        1420
      ],
      "id": "f9a14a12-4a01-4c14-8ab4-7248b317bf03",
      "name": "YouTube Get'em"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### Role:\n\nYou are an expert at repurposing scripts, making them more engaging for viewers on video platforms such as YouTube.\n\n### Task:\n\nYou will repurpose the provided original scripts, which should be written in a conversational manner with 8th grade reading level. Follow the structure of the original script and do not exceed or reduce the character length of the original script by more than 5%.\n\n### Instructions:\n\n- Fetch the original script with the corresponding Record ID\n- Repurpose the original script\n- Create 3 variations of the hook\n- Create a title that flows with the script\n- Answer in Russian\n- Output the script and title only with line breaks between each section of the script\n\n### Script Output:\n\nTime stamps:\n\n🕗 0:00 - 0:03 Hook\n...etc\n\nHook:\n\n- Create 3 variations of scroll-stopping hooks\n- Hook should be minimum of 3 seconds\n\nOutput:\n\n{\n\t\"title\": \"title of the script\",\n\t\"repurposed_script\": \"the contents of the repurposed script\"\n}\n\n### Extras:\n\n- Include time stamps through-out\n- Label time stamps with 🕗 emojis for easier viewing experience\n\n### Constraints:\n\n- When generating JSON output, the \"output\" field must contain a direct JSON object, not a string representation of JSON. Use format {\"output\": {\"title\": \"Title\", \"repurposed_script\": \"Content\"}} without escaping internal quotes as strings\n- Do not add any extra commentary, only output the repurposed script\n- Ensure main elements remain intact such as names"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2480,
        2480
      ],
      "id": "bd487265-c101-4d62-81ba-64ab237841fe",
      "name": "TikTok Repurpose",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### Role:\n\nYou are an expert at repurposing scripts, making them more engaging for viewers on video platforms such as YouTube.\n\n### Task:\n\nYou will repurpose the provided original scripts, which should be written in a conversational manner with 8th grade reading level. Follow the structure of the original script and do not exceed or reduce the character length of the original script by more than 5%.\n\n### Instructions:\n\n- Fetch the original script with the corresponding Record ID\n- Repurpose the original script\n- Create 3 variations of the hook\n- Answer in Russian\n- Create a title that flows with the script\n- Output the script and title only with line breaks between each section of the script\n\n### Script Output:\n\nTime stamps:\n\n🕗 0:00 - 0:03 Hook\n...etc\n\nHook:\n\n- Create 3 variations of scroll-stopping hooks\n- Hook should be minimum of 3 seconds\n\nOutput:\n\n{\n\t\"title\": \"title of the script\",\n\t\"repurposed_script\": \"the contents of the repurposed script\"\n}\n\n### Extras:\n\n- Include time stamps through-out\n- Label time stamps with 🕗 emojis for easier viewing experience\n\n### Constraints:\n\n\n- When generating JSON output, the \"output\" field must contain a direct JSON object, not a string representation of JSON. Use format {\"output\": {\"title\": \"Title\", \"repurposed_script\": \"Content\"}} without escaping internal quotes as strings.\n- Do not add any extra commentary, only output the repurposed script\n- Ensure main elements remain intact such as names"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2480,
        1420
      ],
      "id": "21889810-f483-4e35-9914-843eb4f82f7b",
      "name": "YouTube Repurpose",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Repurposed Script": "={{ $json.output.repurposed_script }}",
            "Title": "={{ $json.output.title }}",
            "id": "={{ $('Loop YouTube Scripts').item.json.id }}",
            "Record ID": "={{ $('YouTube Complete').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Original Script",
              "displayName": "Original Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Repurposed Script",
              "displayName": "Repurposed Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Links to videos",
              "displayName": "Links to videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2840,
        1420
      ],
      "id": "986fa13f-7bfa-40f6-ac26-913cfd4d0c88",
      "name": "Update YouTube Script"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Loop TikTok Scripts').item.json.id }}",
            "Repurposed Script": "={{ $json.output.repurposed_script }}",
            "Title": "={{ $json.output.title }}",
            "Created": "={{ $('Airtable1').item.json.createdTime }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Original Script",
              "displayName": "Original Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Repurposed Script",
              "displayName": "Repurposed Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Links to videos",
              "displayName": "Links to videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2880,
        2480
      ],
      "id": "a27e1dc9-4954-4158-819f-293cd6e16027",
      "name": "Update TikTok Script"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to fetch the original script",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "id": "={{ $('Loop YouTube Scripts').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        2580,
        1700
      ],
      "id": "7b3803de-6d0b-4eec-8843-c07c862c9daf",
      "name": "Fetch Original Script YT"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to fetch the original script",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "id": "={{ $('Loop TikTok Scripts').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        2540,
        2780
      ],
      "id": "7184737b-f636-4a64-89ea-81e247d4105e",
      "name": "Fetch Original Script TT"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"title of the script\",\n\t\"repurposed_script\": \"the contents of the repurposed script\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2900,
        2900
      ],
      "id": "274cbb72-f318-4ec0-9c48-91b5f3d4a2c0",
      "name": "Parser TT"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"title of the script\",\n\t\"repurposed_script\": \"the contents of the repurposed script\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2760,
        1700
      ],
      "id": "47440ba6-1660-41be-96ab-a8d8126300c5",
      "name": "Parser YT"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        340
      ],
      "id": "f419d9b0-e58a-404b-8aab-1928b9f2fa74",
      "name": "Instagram Link Loop"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblyFTRMIH7FwaduS",
          "mode": "list",
          "cachedResultName": "Links",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblyFTRMIH7FwaduS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "готов",
            "Record ID": "={{ $('Get Links').item.json['Record ID'] }}"
          },
          "matchingColumns": [
            "Record ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Social Media",
              "displayName": "Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "не сделано",
                  "value": "не сделано"
                },
                {
                  "name": "в процессе",
                  "value": "в процессе"
                },
                {
                  "name": "готов",
                  "value": "готов"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        720,
        180
      ],
      "id": "9afcb1ce-085f-4fdd-9c97-b5d8d1661e26",
      "name": "Instagram Complete"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "Instagram",
            "Links to videos": "={{ $json.fields['Video URL'] }}",
            "Original Script": "={{ $('Whisper IG').item.json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Original Script",
              "displayName": "Original Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Repurposed Script",
              "displayName": "Repurposed Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Links to videos",
              "displayName": "Links to videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        180
      ],
      "id": "6c35da25-c6d8-447d-a800-a7edd4231706",
      "name": "Instagram Create"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a13faed-e2dd-463a-884c-faede362c444",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f760c590-5a0e-4bf9-89b3-c848707abdf0",
              "name": "Original Script",
              "value": "={{ $json.fields[\"Original Script\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        180
      ],
      "id": "9c0073df-7892-4047-b881-675582f182c0",
      "name": "Select Instagram"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### Role:\n\nYou are an expert at repurposing scripts, making them more engaging for viewers on video platforms such as YouTube.\n\n### Task:\n\nYou will repurpose the provided original scripts, which should be written in a conversational manner with 8th grade reading level. Follow the structure of the original script and do not exceed or reduce the character length of the original script by more than 5%.\n\n### Instructions:\n\n- Fetch the original script with the corresponding Record ID\n- Repurpose the original script\n- Create 3 variations of the hook\n- Answer in Russian\n- Create a title that flows with the script\n- Output the script and title only with line breaks between each section of the script\n\n### Script Output:\n\nTime stamps:\n\n🕗 0:00 - 0:03 Hook\n...etc\n\nHook:\n\n- Create 3 variations of scroll-stopping hooks\n- Hook should be minimum of 3 seconds\n\nOutput:\n\n{\n\t\"title\": \"title of the script\",\n\t\"repurposed_script\": \"the contents of the repurposed script\"\n}\n\n### Extras:\n\n- Include time stamps through-out\n- Label time stamps with 🕗 emojis for easier viewing experience\n\n### Constraints:\n\n- When generating JSON output, the \"output\" field must contain a direct JSON object, not a string representation of JSON. Use format {\"output\": {\"title\": \"Title\", \"repurposed_script\": \"Content\"}} without escaping internal quotes as strings\n- Do not add any extra commentary, only output the repurposed script\n- Ensure main elements remain intact such as names"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2200,
        340
      ],
      "id": "dbaeb2fc-4d9d-4832-bb71-fa49dd7d8741",
      "name": "Instagram Repurpose",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to fetch the original script",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "id": "={{ $('Loop Instagram Scripts').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        2300,
        620
      ],
      "id": "8a6aa534-7ec1-4da7-8e41-b4c42075adf6",
      "name": "Fetch Original Script IG"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1740,
        340
      ],
      "id": "58ab0324-7c49-42c2-9d26-5557ecc54333",
      "name": "Loop Instagram Scripts"
    },
    {
      "parameters": {
        "jsCode": "// Get the JSON data from the specified path\nconst originalScript = $input.first().json[\"Original Script\"];\nconst recordID = $input.item.json[\"id\"];\n\n// Check if the field exists\nif (originalScript === undefined) {\n  return [{ error: \"Could not find 'Original script' field in the JSON data\" }];\n} else {\n  // Convert to string if it's not already a string\n  const scriptString = typeof originalScript === 'string' \n    ? originalScript \n    : JSON.stringify(originalScript);\n  \n  // Count the characters\n  const characterCount = scriptString.length;\n  \n  // Create the query string with the character count\n  const query = `Repurpose the original script in no more or less than ${characterCount} characters. Here is the Record ID: ${recordID}`;\n  \n  // Return the result as an array with a single object containing the query\n  return [\n    { query: query }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        340
      ],
      "id": "28cde00b-650f-4e7b-87fe-02ef84a1a684",
      "name": "Instagram Get'em"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.output.title }}",
            "Repurposed Script": "={{ $json.output.repurposed_script }}",
            "Created": "={{ $('Airtable').item.json.createdTime }}",
            "id": "={{ $('Loop Instagram Scripts').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Original Script",
              "displayName": "Original Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Repurposed Script",
              "displayName": "Repurposed Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Links to videos",
              "displayName": "Links to videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2560,
        340
      ],
      "id": "13faa0d3-a0d6-4f37-9d4c-4f106c0597cb",
      "name": "Update Instagram Script"
    },
    {
      "parameters": {
        "url": "={{ $json.medias[2].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        2640
      ],
      "id": "7d351624-6a0b-4eb5-ae44-e592af3abff5",
      "name": "Get TikTok Vid"
    },
    {
      "parameters": {
        "url": "={{ $json.medias[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        340
      ],
      "id": "28847b74-5310-4dd5-b6f0-14102f2d6577",
      "name": "Get IG Vid"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"title of the script\",\n\t\"repurposed_script\": \"the contents of the repurposed script\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2480,
        620
      ],
      "id": "aa1b8cd7-4eed-441c-81f3-852454165766",
      "name": "Parser IG"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "execute"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1660,
        1420
      ],
      "id": "aebd0dcf-a865-4dd0-a5e6-7efa39b7ef79",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        920,
        340
      ],
      "id": "8091a979-a3f8-44d7-b009-9f143caeb00a",
      "name": "Whisper IG"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1340,
        2640
      ],
      "id": "95203381-ffbe-45b7-b823-a20e3e599971",
      "name": "Whisper TT"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://social-download-all-in-one.p.rapidapi.com/v1/social/autolink",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "VASH_API"
            },
            {
              "name": "x-rapidapi-host",
              "value": "social-download-all-in-one.p.rapidapi.com"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json['Video URL'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        2640
      ],
      "id": "2f5929c6-a5f4-4711-9ad9-75bbc598de4c",
      "name": "Get TikTok URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://social-download-all-in-one.p.rapidapi.com/v1/social/autolink",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "VASH_API"
            },
            {
              "name": "x-rapidapi-host",
              "value": "social-download-all-in-one.p.rapidapi.com"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json['Video URL'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        340
      ],
      "id": "e07c7224-c2af-46c7-ae00-53bb15b3b5ff",
      "name": "Get IG URL"
    },
    {
      "parameters": {
        "amount": 1.25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1420,
        1420
      ],
      "id": "a8a0d849-acc1-4265-a816-119e898e534c",
      "name": "Wait",
      "webhookId": "50ccde18-17a0-4ef6-b99a-5203d3846156"
    },
    {
      "parameters": {
        "content": "## Go to: https://rapidapi.com/8v2FWW4H6AmKw89/api/youtube-transcripts\n\nAnd get your x-rapidapi-key and replace the API key within the \"Transcribe\" node.\n\nSubscribe to a plan, first plan is $0 and you get 100 requests a month.\n\nIf you need more, their cheapest plan is $5 a month.",
        "height": 200,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        1640
      ],
      "typeVersion": 1,
      "id": "8fec2507-2cd5-4c80-8d8a-deedaaf32a9b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Перейди по ссылке: [https://rapidapi.com/nguyenmanhict-MuTUtGWD7K/api/social-download-all-in-one](https://rapidapi.com/nguyenmanhict-MuTUtGWD7K/api/social-download-all-in-one)\n\nВставь свой API-ключ `x-rapidapi-key` в узлы \"Get IG URL\" и \"Get Tiktok URL\".\n\nИх план начинается с $0 за 100 запросов в месяц, или если нужно больше, то это будет стоить $2 за 6,000 запросов в месяц.\n",
        "height": 240,
        "width": 660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1480,
        860
      ],
      "typeVersion": 1,
      "id": "8f647851-f221-4ada-87ac-06a42c5ae70d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2040,
        600
      ],
      "id": "3332a455-a4a7-4a6f-8608-c58284a93a72",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Links to videos": "={{ $json.fields['Links to videos'] }}",
            "Record ID": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Links to videos"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Original Script",
              "displayName": "Original Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Repurposed Script",
              "displayName": "Repurposed Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Links to videos",
              "displayName": "Links to videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1180,
        180
      ],
      "id": "49aa26bc-4fca-441e-bd73-c653d165973d",
      "name": "Airtable"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0bc5c844-2445-437e-820f-83cf73cae9dc",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "не сделано",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1180,
        1420
      ],
      "id": "64ac4dc8-f370-46b6-b0ee-620a4eebcf0f",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://youtube-transcripts.p.rapidapi.com/youtube/transcript\n",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json['Video URL'] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "VASH_API"
            },
            {
              "name": "x-rapidapi-host",
              "value": "youtube-transcripts.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        1400
      ],
      "id": "028787c9-ad77-4401-abcd-332e4e1b7264",
      "name": "Transcribe1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4eb11523-0575-4d12-a159-cb7bc9ed3942",
              "name": "content.text",
              "value": "={{ $json[\"content\"] && $json[\"content\"].map(item => item.text).join(\" \") || \"\" }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        1400
      ],
      "id": "533c2f9f-debc-4c32-abb1-80141ac8ca14",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2340,
        1700
      ],
      "id": "af3bf310-ed66-4c47-b4a4-dac107838c75",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "content": "## YOUTUBE\n\n### Role:\n\nYou are an expert at repurposing scripts, making them more engaging for viewers on video platforms such as YouTube.\n\n### Task:\n\nYou will repurpose the provided original scripts, which should be written in a conversational manner with 8th grade reading level. Follow the structure of the original script and do not exceed or reduce the character length of the original script by more than 5%.\n\n### Instructions:\n\n- Fetch the original script with the corresponding Record ID\n- Repurpose the original script\n- Create 3 variations of the hook\n- Create a title that flows with the script\n- Answer in Russian\n- Output the script and title only with line breaks between each section of the script\n\n### Script Output:\n\nTime stamps:\n\n🕗 0:00 - 0:03 Hook\n...etc\n\nHook:\n\n- Create 3 variations of scroll-stopping hooks\n- Hook should be minimum of 3 seconds\n\nOutput:\n\n{\n\t\"title\": \"title of the script\",\n\t\"repurposed_script\": \"the contents of the repurposed script\"\n}\n\n### Extras:\n\n- Include time stamps through-out\n- Label time stamps with 🕗 emojis for easier viewing experience\n\n### Constraints:\n\n\n- When generating JSON output, the \"output\" field must contain a direct JSON object, not a string representation of JSON. Use format {\"output\": {\"title\": \"Title\", \"repurposed_script\": \"Content\"}} without escaping internal quotes as strings.\n- Do not add any extra commentary, only output the repurposed script\n- Ensure main elements remain intact such as names",
        "height": 1160,
        "width": 1060
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3700,
        860
      ],
      "typeVersion": 1,
      "id": "f2f1fff8-6490-4a49-9ae8-1a57d836e015",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appzlbI3fc1W0HbHQ",
          "mode": "list",
          "cachedResultName": "Video URL",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ"
        },
        "table": {
          "__rl": true,
          "value": "tblOvGwglMgZHUNka",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/appzlbI3fc1W0HbHQ/tblOvGwglMgZHUNka"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Links to videos": "={{ $json.fields['Links to videos'] }}",
            "Record ID": "={{ $json.id }}"
          },
          "matchingColumns": [
            "Links to videos"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Original Script",
              "displayName": "Original Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Repurposed Script",
              "displayName": "Repurposed Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Links to videos",
              "displayName": "Links to videos",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1300,
        2440
      ],
      "id": "3b18b935-42c9-40b1-8056-07e1151926f0",
      "name": "Airtable1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2260,
        2820
      ],
      "id": "046cf986-b452-43d8-bf2e-b52a28612272",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "content": "## YOUTUBE\n\n### Роль:\n\nТы эксперт в переработке сценариев, делая их более увлекательными для зрителей на видеоплатформах, таких как YouTube.\n\n### Задача:\n\nТы будешь перерабатывать предоставленные оригинальные сценарии, которые должны быть написаны в разговорном стиле на уровне чтения 8 класса. Следуй структуре оригинального сценария и не увеличивай или уменьшай длину текста более чем на 5%.\n\n### Инструкции:\n\n- Извлеки оригинальный сценарий с соответствующим ID записи\n- Переработай оригинальный сценарий\n- Создай 3 вариации зацепки (hook)\n- Создай заголовок, который гармонирует с сценарием\n- Ответь на русском языке\n- Выводи только сценарий и заголовок, разделяя их пробелами\n\n### Вывод сценария:\n\nВременные метки:\n\n🕗 0:00 - 0:03 Зацепка\n...и так далее\n\nЗацепка:\n\n- Создай 3 вариации зацепок, которые привлекут внимание\n- Зацепка должна длиться минимум 3 секунды\n\nВывод:\n\n{\n\t\"title\": \"Заголовок сценария\",\n\t\"repurposed_script\": \"Содержание переработанного сценария\"\n}\n\n### Дополнительно:\n\n- Включи временные метки в тексте\n- Используй эмодзи 🕗 для временных меток, чтобы упростить восприятие\n\n### Ограничения:\n\n- Когда генерируешь JSON вывод, поле \"output\" должно содержать прямой объект JSON, а не строковое представление JSON. Используй формат {\"output\": {\"title\": \"Заголовок\", \"repurposed_script\": \"Содержание\"}} без экранирования внутренних кавычек как строк.\n- Не добавляй дополнительные комментарии, выводи только переработанный сценарий\n- Убедись, что основные элементы остаются неизменными, например, имена\n",
        "height": 1160,
        "width": 1060
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4980,
        880
      ],
      "typeVersion": 1,
      "id": "56577577-a725-4968-9276-66773e2ca885",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Instagram\n",
        "height": 800,
        "width": 3120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "239f6fdb-19d1-4581-97f1-1c2510163a8d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## YOYTUBE",
        "height": 800,
        "width": 3120,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        1140
      ],
      "typeVersion": 1,
      "id": "e1dcd055-c64c-4340-b244-cfe073df92b3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## TIKTOK\n",
        "height": 800,
        "width": 3120,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        2240
      ],
      "typeVersion": 1,
      "id": "317150c4-93c4-43bc-a49b-dac52aed6328",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Links": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Instagram Link Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube Link Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TikTok Link Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change to mpeg": {
      "main": [
        [
          {
            "node": "Whisper TT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Link Loop": {
      "main": [
        [
          {
            "node": "TikTok Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get TikTok URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Link Loop": {
      "main": [
        [
          {
            "node": "YouTube Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Complete": {
      "main": [
        [
          {
            "node": "TikTok create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok create": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Complete": {
      "main": [
        [
          {
            "node": "YouTube Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Create": {
      "main": [
        [
          {
            "node": "Select YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select YouTube": {
      "main": [
        [
          {
            "node": "Loop YouTube Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select TikTok": {
      "main": [
        [
          {
            "node": "Loop TikTok Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop TikTok Scripts": {
      "main": [
        [],
        [
          {
            "node": "TikTok Get'em",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop YouTube Scripts": {
      "main": [
        [],
        [
          {
            "node": "YouTube Get'em",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Get'em": {
      "main": [
        [
          {
            "node": "TikTok Repurpose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Get'em": {
      "main": [
        [
          {
            "node": "YouTube Repurpose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Repurpose": {
      "main": [
        [
          {
            "node": "Update TikTok Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Repurpose": {
      "main": [
        [
          {
            "node": "Update YouTube Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update YouTube Script": {
      "main": [
        [
          {
            "node": "Loop YouTube Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update TikTok Script": {
      "main": [
        [
          {
            "node": "Loop TikTok Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Original Script YT": {
      "ai_tool": [
        [
          {
            "node": "YouTube Repurpose",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Original Script TT": {
      "ai_tool": [
        [
          {
            "node": "TikTok Repurpose",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parser TT": {
      "ai_outputParser": [
        [
          {
            "node": "TikTok Repurpose",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser YT": {
      "ai_outputParser": [
        [
          {
            "node": "YouTube Repurpose",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Link Loop": {
      "main": [
        [
          {
            "node": "Instagram Complete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get IG URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Complete": {
      "main": [
        [
          {
            "node": "Instagram Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Instagram": {
      "main": [
        [
          {
            "node": "Loop Instagram Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Repurpose": {
      "main": [
        [
          {
            "node": "Update Instagram Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Original Script IG": {
      "ai_tool": [
        [
          {
            "node": "Instagram Repurpose",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Instagram Scripts": {
      "main": [
        [],
        [
          {
            "node": "Instagram Get'em",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Get'em": {
      "main": [
        [
          {
            "node": "Instagram Repurpose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TikTok Vid": {
      "main": [
        [
          {
            "node": "Change to mpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IG Vid": {
      "main": [
        [
          {
            "node": "Whisper IG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser IG": {
      "ai_outputParser": [
        [
          {
            "node": "Instagram Repurpose",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Instagram Script": {
      "main": [
        [
          {
            "node": "Loop Instagram Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper IG": {
      "main": [
        [
          {
            "node": "Instagram Link Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper TT": {
      "main": [
        [
          {
            "node": "TikTok Link Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TikTok URL": {
      "main": [
        [
          {
            "node": "Get TikTok Vid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IG URL": {
      "main": [
        [
          {
            "node": "Get IG Vid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "YouTube Link Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Instagram Repurpose",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Select Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "YouTube Repurpose",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Select TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "TikTok Repurpose",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "981c355b-f295-4189-a493-d8f67242a684",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "StBzXqTCQAFEGu31",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}