n8n/demo-data/workflows/SHABLON_TIKTOK_P1_MASTER_AI_CHATorkflow.json
{
  "name": "SHABLON_TIKTOK_P1_MASTER_AI_CHATorkflow",
  "nodes": [
    {
      "parameters": {
        "content": "## Найти конкурентов по поисковому запросу.\n\n## Например, \"найти конкурентов по запросу: дизайн веб-сайта\"",
        "height": 200,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1700
      ],
      "typeVersion": 1,
      "id": "baebb715-0397-4dd7-8952-8daac57e157f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Лучшие посты\n\n## 1. Сначала извлеките имена пользователей (например, Извлечь имена пользователей для меня)\n## 2. Выберите, от какого пользователя вы хотите получить лучшие посты (например, получить лучшие посты для номера 9 / justinbieber)",
        "height": 280,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        1700
      ],
      "typeVersion": 1,
      "id": "a63ed3cb-63b2-4ee1-a5a6-b0028305dac9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Повторное использование\n\n## 1. Сначала извлеките посты (например, извлеките посты от justinbieber)\n## 2. Выберите, какой пост вы хотите повторно использовать (например, «повторное использование поста номер 4»)",
        "height": 300,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        1700
      ],
      "typeVersion": 1,
      "id": "89e91158-f80c-4c4a-8f8e-e0e2af85d64e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Подключите свои учетные данные Airtable.\n\n## Создайте новую базу и загрузите предоставленный .csv.",
        "height": 120,
        "width": 760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        1540
      ],
      "typeVersion": 1,
      "id": "622acc4b-4ea0-4b0b-9304-a6629afea77c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Примечания:\n\n## Помните, что во многих видео Tik Tok люди «танцуют» и делают глупости. Так что дважды проверьте, действительно ли в видео есть говорящие люди, если вы хотите скопировать его.",
        "height": 280,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        2060
      ],
      "typeVersion": 1,
      "id": "c9de5e39-e997-4c47-be3e-3fa75b17fbea",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Убедитесь, что «Найти конкурентов», «Лучшие посты» и «Повторное использование» связаны с другими проектами рабочего процесса.",
        "height": 120,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        1540
      ],
      "typeVersion": 1,
      "id": "9a29e49e-5627-4807-9fdd-7072885370a0",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## В node \"IF\", введите свой \"Chat ID\",серию цифр, привязанных к вашей учетной записи Telegram.",
        "height": 180,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1700
      ],
      "typeVersion": 1,
      "id": "163d96ea-4a60-4f32-84f5-c561dbe59357",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## TIKTOK АГЕНТ-ПОМОЩНИК\n\n",
        "height": 1020,
        "width": 1360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        20
      ],
      "typeVersion": 1,
      "id": "44b66b2e-0ff6-4245-bb87-838e2a498a5f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1240,
        480
      ],
      "id": "557c02aa-4758-41a0-83f3-14289673f554",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "Posts",
        "description": "Call this tool for queries related to getting top posts and send the record ID only.",
        "workflowId": {
          "__rl": true,
          "value": "XAMHRNecd9WKnheX",
          "mode": "list",
          "cachedResultName": "SHABLON_TIKTOK_P3_TOPUSERS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('record_id', ``, 'string') }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1420,
        860
      ],
      "id": "b65f7855-d608-4061-8220-a275e5406933",
      "name": "Top Posts"
    },
    {
      "parameters": {
        "name": "usermanes",
        "description": "Call this tool for queries related to finding competitors by sending the search term only.",
        "workflowId": {
          "__rl": true,
          "value": "QgzcnRarCgs9HYCJ",
          "mode": "list",
          "cachedResultName": "SHABLON_TIKTOK_P4_COMPETITORS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "search_query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('search_query', ``, 'string') }}"
          },
          "matchingColumns": [
            "search_query"
          ],
          "schema": [
            {
              "id": "search_query",
              "displayName": "search_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1220,
        880
      ],
      "id": "ec485f31-9b01-4e54-89b5-dcc570b98ebc",
      "name": "Find competitors"
    },
    {
      "parameters": {
        "name": "Repurpose",
        "description": "Call this tool for queries related to repurposing content, send only the record ID of a record here.",
        "workflowId": {
          "__rl": true,
          "value": "b7AU2LlOAdIm0QRT",
          "mode": "list",
          "cachedResultName": "SHABLON_TIKTOK_P2_REPURPOSE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('record_id', ``, 'string') }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1640,
        880
      ],
      "id": "5bfa2df2-9258-4fd7-a793-d1e7bad3a032",
      "name": "Repurpose"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        900,
        500
      ],
      "id": "36ccba4f-ca7e-4cbd-bacf-ed97c372b1ca",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to fetch Tik Tok posts.",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tblxCudSu6J6huIOn",
          "mode": "list",
          "cachedResultName": "TIKTOK_POSTS",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tblxCudSu6J6huIOn"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1760,
        600
      ],
      "id": "848e721f-f1ef-4042-920f-319387cd4829",
      "name": "Fetch Posts"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to fetch username records.",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tbl7V6L6E6GwpFHfU",
          "mode": "list",
          "cachedResultName": "TIKTOK_COMPETITORS",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tbl7V6L6E6GwpFHfU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1940,
        580
      ],
      "id": "a25490ef-bc3f-4674-8193-ffc11c452295",
      "name": "Fetch usernames"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=### Role:\nYou are a highly efficient, fun, and enthusiastic personal assistant specializing in Tik Tok. Your expertise allows you to expertly interpret user queries and seamlessly route them to the correct Tik Tok tool.\n\n### Task:\nProcess all Tik Tok-related requests by identifying the intent—whether fetching, analyzing, repurposing posts, finding competitors and getting top posts then acting accordingly.\n\n### Instructions:\n\n- Fetching posts: output these (caption (hyperlink to video using URL), username, views, likes, shares and Record ID)\n- Fetching usernames: Display 10 per request, output these (username (hyperlink to profile using URL), followers and Record ID)\n- Repurposing posts: fetch and send the corresponding Record ID only to the \"Repurpose\" tool.\n- Find competitors: send search term only (eg. ai automations)\n- Top Posts: fetch and send the corresponding Record ID only to the \"Top Posts\" tool.\n- Give the final answer in Russian.\n\n### Extras:\n- Notify the user if a tool fails to respond.\n- If no records exist, mention this to the user.\n- If query is unclear, inform the user of the services you can provide.\n- Format all lists extremely neatly wht line breaks.\n\n### Constraints:\n\n- Do not send the username to the \"Top Posts\" tool, but instead the Record ID.\n- Do not send the full script on completion of repurposing.\n- Never display full captions if they exceed 60 characters; always truncate appropriately.\n- If you are uncertain about the intended action, ask the user for more details before proceeding.\n- Don't use `\\n`, `&nbsp;` or other HTML/code characters - just regular spaces and line breaks.\n- Don't use emojis in your answer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1320,
        120
      ],
      "id": "ca912f6a-256a-4b15-93ca-063d4c50fcf2",
      "name": "TikTok Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        120
      ],
      "id": "40e20020-9768-41a8-8494-a3c71fa805ca",
      "name": "When chat message received",
      "webhookId": "f032da40-58af-4928-bef1-29e680249111"
    },
    {
      "parameters": {
        "content": "## СТАРТ\n",
        "height": 400,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "7ff27ec5-53b8-4945-995e-27f070bc5b28",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Top Posts": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find competitors": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Repurpose": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Posts": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch usernames": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "TikTok Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a0e4de8-8d1a-4514-be1d-645e43c0de17",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "qeqRiBycAOfag88e",
  "tags": [
    {
      "createdAt": "2025-05-18T14:53:59.841Z",
      "updatedAt": "2025-05-18T14:53:59.841Z",
      "id": "RLuP2h1CheEJVOAp",
      "name": "Сделано"
    }
  ]
}