n8n/demo-data/workflows/SHABLON_INSTAGRAM_P4_Repurposer.json
{
  "name": "SHABLON_INSTAGRAM_P4_Repurposer",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Script: {{ $json.text }}\nCaption: {{ $('Get Record ID').item.json[\"Reel Caption\"] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### Role:\n\nYou are an expert at repurposing scripts, making them more engaging for viewers on video platforms such as Instagram, TikTok and YouTube.\n\n### Task:\n\nYou will repurpose the provided original scripts, which should be written in a conversational manner with 8th grade reading level. Follow the structure of the original script and do not exceed or reduce the character length of the original script by more than 5%.\n\n### Instructions:\n\n- Repurpose the original script\n- Create 3 variations of the hook\n- Create a title that flows with the script\n- Output the script and title only with line breaks between each section of the script\n- Your answer must be in Russian.\n- Also output the scripts record ID that was created:\n\n{\n\t\"script_record_ID\": \"Airtable record ID of the script\"\n}\n\n### Script Output:\n\nTime stamps:\n\n🕗 0:00 - 0:03 Hook\n...etc\n\nHook:\n\n- Create 3 variations of scroll-stopping hooks\n- Hook should be minimum of 3 seconds\n\n### Extras:\n\n- Include time stamps through-out\n- Label time stamps with 🕗 emojis for easier viewing experience\n\n### Constraints:\n\n- Do not add any extra commentary, only output the repurposed script\n- Ensure main elements remain intact such as names"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1120,
        420
      ],
      "id": "42dae4b4-1e8b-4e19-a3d8-83e01ee7cc98",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Record_ID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        420
      ],
      "id": "8b6cd8bc-be5b-4bfc-8b09-0ac84cc2ce0c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to create caption and script",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app2vioOyPFvFn7XE",
          "mode": "list",
          "cachedResultName": "Instagram_agent_n8n",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE"
        },
        "table": {
          "__rl": true,
          "value": "tbltOe8idoo8BRy8j",
          "mode": "list",
          "cachedResultName": "СONTENT",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE/tbltOe8idoo8BRy8j"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name of content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name_of_content', ``, 'string') }}",
            "Script": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Script', ``, 'string') }}",
            "Reel Caption": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Reel_Caption', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name of content",
              "displayName": "Name of content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reel Caption",
              "displayName": "Reel Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Original video",
              "displayName": "Original video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reel URL",
              "displayName": "Reel URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1200,
        800
      ],
      "id": "6ae31ae2-a42b-4556-92b0-6f09ecd7994a",
      "name": "Create Script"
    },
    {
      "parameters": {
        "content": "## Выгрузка видео",
        "height": 260,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        340
      ],
      "typeVersion": 1,
      "id": "9eaf008c-2a54-4575-9a48-a91acad23b25",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $json['Link to Reel'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        420
      ],
      "id": "d4449021-a1fe-44b6-b8e5-148789f173cc",
      "name": "Get Video"
    },
    {
      "parameters": {
        "content": "## Транскрибация Видео",
        "height": 260,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        740,
        340
      ],
      "typeVersion": 1,
      "id": "84f1847c-4cf2-4c06-817f-f34213548498",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Создание похожих видео",
        "height": 260,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        340
      ],
      "typeVersion": 1,
      "id": "49377650-0568-4390-bd83-d2a08c5175c8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Отправка сценариев в Airtable",
        "height": 220,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        720
      ],
      "typeVersion": 1,
      "id": "c51f1eb3-4aca-4be2-998b-a5f07732fe20",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        840,
        420
      ],
      "id": "451c6fd3-de0b-4c69-b224-8be276901ac1",
      "name": "Whisper"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app2vioOyPFvFn7XE",
          "mode": "list",
          "cachedResultName": "Instagram_agent_n8n",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE"
        },
        "table": {
          "__rl": true,
          "value": "tblxCudSu6J6huIOn",
          "mode": "list",
          "cachedResultName": "Instagram_Reels",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE/tblxCudSu6J6huIOn"
        },
        "id": "={{ $json.Record_ID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        220,
        420
      ],
      "id": "07021129-ada4-43d9-b5de-9b506763f1be",
      "name": "Get Record ID"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"script_record_ID\": \"Airtable record ID of the script\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1600,
        740
      ],
      "id": "7af19d28-708b-4086-b956-35974a8b3c60",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "content": "## Запрос Airtable таблицу",
        "height": 80,
        "width": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        180
      ],
      "typeVersion": 1,
      "id": "6d2ba637-c979-4590-aa40-4b430d112614",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Ensure OpenAI credentials are here.",
        "height": 100,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        180
      ],
      "typeVersion": 1,
      "id": "0ad30739-1146-4b1e-8c6b-7bcd1c782007",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Выгрузка оригинального видео",
        "height": 100,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        260
      ],
      "typeVersion": 1,
      "id": "6ddf6341-3624-42b6-9efc-ce05b72abd94",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      query: \"Task has completed successfully.\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        400
      ],
      "id": "b1812e37-d058-4345-b832-45f295eab24c",
      "name": "Success"
    },
    {
      "parameters": {
        "content": "# Instagram Создатель контента",
        "height": 80,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "7b4c28ea-5f71-495e-a13d-f53f7d444eb6",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        800,
        740
      ],
      "id": "c33718df-96c4-4911-9620-51774dc2e004",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "content": "### Role:\n\nYou are an expert at repurposing scripts, making them more engaging for viewers on video platforms such as Instagram, TikTok and YouTube.\n\n### Task:\n\nYou will repurpose the provided original scripts, which should be written in a conversational manner with 8th grade reading level. Follow the structure of the original script and do not exceed or reduce the character length of the original script by more than 5%.\n\n### Instructions:\n\n- Repurpose the original script\n- Create 3 variations of the hook\n- Create a title that flows with the script\n- Output the script and title only with line breaks between each section of the script\n- Also output the scripts record ID that was created:\n\n{\n\t\"script_record_ID\": \"Airtable record ID of the script\"\n}\n\n### Script Output:\n\nTime stamps:\n\n🕗 0:00 - 0:03 Hook\n...etc\n\nHook:\n\n- Create 3 variations of scroll-stopping hooks\n- Hook should be minimum of 3 seconds\n\n### Extras:\n\n- Include time stamps through-out\n- Label time stamps with 🕗 emojis for easier viewing experience\n\n### Constraints:\n\n- Do not add any extra commentary, only output the repurposed script\n- Ensure main elements remain intact such as names",
        "height": 1020,
        "width": 840
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        560
      ],
      "typeVersion": 1,
      "id": "430eb248-9191-4939-a804-1c984861ec6d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Роль:\nТы эксперт по переработке сценариев, делающий их более привлекательными для зрителей на видеоплатформах, таких как Instagram, TikTok и YouTube.\n\n### Задача:\nТы будешь перерабатывать предоставленные оригинальные сценарии, которые должны быть написаны в разговорном стиле на уровне чтения 8-го класса. Следуй структуре оригинального сценария и не превышай и не уменьшай количество символов оригинального сценария более чем на 5%.\n\n### Инструкции:\n- Переработай оригинальный сценарий\n- Создай 3 варианта хука\n- Создай заголовок, который гармонирует со сценарием\n- Выводи только сценарий и заголовок с разрывами строк между каждым разделом сценария\n- Также выводи ID записи сценария, который был создан:\n{\n\t\"script_record_ID\": \"Airtable ID записи сценария\"\n}\n\n### Вывод сценария:\nВременные метки:\n🕗 0:00 - 0:03 Хук\n...и т.д.\nХук:\n- Создай 3 варианта цепляющих хуков, останавливающих прокрутку\n- Хук должен быть минимум 3 секунды\n\n### Дополнительно:\n- Включай временные метки на протяжении всего сценария\n- Отмечай временные метки эмодзи 🕗 для более удобного просмотра\n\n### Ограничения:\n- Не добавляй никаких дополнительных комментариев, выводи только переработанный сценарий\n- Убедись, что основные элементы остаются нетронутыми, например, имена",
        "height": 820,
        "width": 840
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3140,
        640
      ],
      "typeVersion": 1,
      "id": "72756fe1-9199-435a-9f61-a7d076079316",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app2vioOyPFvFn7XE",
          "mode": "list",
          "cachedResultName": "Instagram_agent_n8n",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE"
        },
        "table": {
          "__rl": true,
          "value": "tbltOe8idoo8BRy8j",
          "mode": "list",
          "cachedResultName": "СONTENT",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE/tbltOe8idoo8BRy8j"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Script": "={{ $('Whisper').item.json.text }}",
            "Reel Caption": "={{ $('Get Record ID').item.json['Reel Caption'] }}",
            "Original video": "={{ $('Get Record ID').item.json['Link to Reel'] }}",
            "Record ID": "={{ $('Get Record ID').item.json['Record ID'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name of content",
              "displayName": "Name of content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reel Caption",
              "displayName": "Reel Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Original video",
              "displayName": "Original video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reel URL",
              "displayName": "Reel URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1580,
        420
      ],
      "id": "ab60d28b-523c-44ee-ae0a-1a317817befb",
      "name": "Airtable"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app2vioOyPFvFn7XE",
          "mode": "list",
          "cachedResultName": "Instagram_agent_n8n",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE"
        },
        "table": {
          "__rl": true,
          "value": "tbltOe8idoo8BRy8j",
          "mode": "list",
          "cachedResultName": "СONTENT",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE/tbltOe8idoo8BRy8j"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Record ID": "={{ $json.fields['Record ID'] }}",
            "Reel URL": "={{ $('Get Record ID').item.json['Reel URL'] }}"
          },
          "matchingColumns": [
            "Record ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name of content",
              "displayName": "Name of content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reel Caption",
              "displayName": "Reel Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Original video",
              "displayName": "Original video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reel URL",
              "displayName": "Reel URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1880,
        420
      ],
      "id": "5d18c683-88fc-4c73-a73e-72a3829c1864",
      "name": "Airtable2"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Record_ID": "recckBNnniG7xRrPR"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Record ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Script": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Record ID": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19fd7647-b974-4fda-981f-b6223e6a19d0",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "LycX2azGYkqa1y3T",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}