n8n/demo-data/workflows/SHABLON_INSTAGRAM_P2_COMPETITORS.json
{
  "name": "SHABLON_INSTAGRAM_P2_COMPETITORS",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2ae926dd-b51f-4a6a-a720-42b699dd4d3b",
              "leftValue": "={{ $json.data.follower_count }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "c0c437ac-6867-4ed5-abff-4340f7a69e8c",
              "leftValue": "={{ $json.data.username }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1320,
        80
      ],
      "id": "30074b45-8cd8-4c41-8fc1-e876f945255a",
      "name": "Filter Low Followers"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app2vioOyPFvFn7XE",
          "mode": "list",
          "cachedResultName": "Instagram_agent_n8n",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE"
        },
        "table": {
          "__rl": true,
          "value": "tbl7V6L6E6GwpFHfU",
          "mode": "list",
          "cachedResultName": "Instagram_COMPETITORS",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE/tbl7V6L6E6GwpFHfU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Followers": "={{ $json.data.follower_count }}",
            "Username": "={{ $json.data.username }}",
            "Bio": "={{ $json.data.biography_with_entities.raw_text }}",
            "Category": "={{ $json.data.category }}",
            "User ID": "={{ $json.data.id }}",
            "Account URL": "={{ $json.instagramURL }}",
            "Your search term": "={{ $('When Executed by Another Workflow').item.json.username }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Your search term",
              "displayName": "Your search term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Account URL",
              "displayName": "Account URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1840,
        80
      ],
      "id": "6c7ca33b-011e-4040-9a2a-7937ccef3a71",
      "name": "Send to Airtable"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "username"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        260
      ],
      "id": "900f8740-6856-4041-a381-de930ddf1bde",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const username = item.json.data.username;\n  const instagramURL = `https://www.instagram.com/${username}`;\n  \n  return {\n    json: {\n      ...item.json,\n      username,\n      instagramURL\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        80
      ],
      "id": "532c5192-c6de-4a30-ad20-152049d88657",
      "name": "Create URLs"
    },
    {
      "parameters": {
        "content": "\n## Просто введите свой ключ API \"Instagram Scraper\" в поле для всех нод HTTP-запросов, которые его используют.\n\n## Ссылка на Instagram API: https://rapidapi.com/allapiservice/api/real-time-instagram-scraper-api1",
        "height": 220,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        520
      ],
      "typeVersion": 1,
      "id": "4d27197d-5860-43cc-8156-32bc19e9f511",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      query: \"Task has completed successfully.\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        80
      ],
      "id": "2ed1d8b6-67e5-4d1e-b0a7-6fc89855c2ea",
      "name": "Success"
    },
    {
      "parameters": {
        "url": "https://real-time-instagram-scraper-api1.p.rapidapi.com/v1/similar_users_v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username_or_id",
              "value": "={{ $json.username }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "VASH API"
            },
            {
              "name": "x-rapidapi-host",
              "value": "real-time-instagram-scraper-api1.p.rapidapi.com"
            },
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        260
      ],
      "id": "53b32a99-52c2-4022-ac17-8a5670070821",
      "name": "Get Competitors"
    },
    {
      "parameters": {
        "url": "https://real-time-instagram-scraper-api1.p.rapidapi.com/v1/user_info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username_or_id",
              "value": "={{ $json.username }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "VASH_API"
            },
            {
              "name": "x-rapidapi-host",
              "value": "real-time-instagram-scraper-api1.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        260
      ],
      "id": "f9db3f50-1126-4a40-838f-810b46169446",
      "name": "Get Data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        780,
        260
      ],
      "id": "457f3ed5-7fa0-4f78-8256-7a63550ff156",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 0.25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1320,
        260
      ],
      "id": "1b615b0a-3d67-4703-a674-c988fd74f606",
      "name": "Wait 0.25",
      "webhookId": "c0ed01df-61e5-4972-a35c-f9a00cb90579"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27a2fa1e-ec61-403f-8aaf-d2d1b426508e",
              "name": "data.username",
              "value": "={{ $json.data.username }}",
              "type": "string"
            },
            {
              "id": "a04ddecf-1221-43e9-93d1-4d33aa6215f1",
              "name": "data.category",
              "value": "={{ $json.data.category }}",
              "type": "string"
            },
            {
              "id": "67675d28-6dea-4807-b6c7-f7f34df506cf",
              "name": "data.follower_count",
              "value": "={{ $json.data.follower_count }}",
              "type": "number"
            },
            {
              "id": "5612ef49-5ffc-4ddb-93cf-b545f3f0f4cf",
              "name": "data.id",
              "value": "={{ $json.data.id }}",
              "type": "string"
            },
            {
              "id": "41f9158e-95a0-47c2-bd63-e8ee7c947a63",
              "name": "data.biography_with_entities.raw_text",
              "value": "={{ $json.data.biography_with_entities.raw_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        80
      ],
      "id": "13f8a4f4-ce97-443c-99b5-520bbabf3546",
      "name": "Get Specifics"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.users",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        340,
        260
      ],
      "id": "afbb517c-0fd4-4b64-a305-e2df9e662b90",
      "name": "Split Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0e7c7d8-78d4-4e84-b17d-4e5b9fa01e4f",
              "name": "username",
              "value": "={{ $json.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        260
      ],
      "id": "e3860dc9-43ef-47f9-8568-00551d7a52d1",
      "name": "Set Usernames"
    },
    {
      "parameters": {
        "content": "## Добавьте свой Instagram API сюда",
        "height": 80,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        160
      ],
      "typeVersion": 1,
      "id": "8289c958-ea9a-4109-ab92-7cf7b56b283f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# INSTAGRAM ПОИСК КОНКУРЕНТОВ ИЛИ ПОЛЬЗОВАТЕЛЕЙ",
        "height": 120,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "73667d04-a2ec-4f9c-b3a0-8e1c0e0cc372",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app2vioOyPFvFn7XE",
          "mode": "list",
          "cachedResultName": "Instagram_agent_n8n",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE"
        },
        "table": {
          "__rl": true,
          "value": "tbl7V6L6E6GwpFHfU",
          "mode": "list",
          "cachedResultName": "Instagram_COMPETITORS",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE/tbl7V6L6E6GwpFHfU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Record ID": "={{ $json.id }}",
            "Username": "={{ $json.fields.Username }}"
          },
          "matchingColumns": [
            "Username"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Your search term",
              "displayName": "Your search term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account URL",
              "displayName": "Account URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "User ID",
              "displayName": "User ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "updateAllMatches": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2040,
        60
      ],
      "id": "12957568-d6bd-4061-ab05-29310fcb51f8",
      "name": "Send to Airtable1"
    },
    {
      "parameters": {
        "content": "## Добавьте свой Instagram API сюда",
        "height": 80,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        500
      ],
      "typeVersion": 1,
      "id": "83b0df4f-8baf-48a5-bd47-461d92540def",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "username": "igorzuevich"
        }
      }
    ]
  },
  "connections": {
    "Filter Low Followers": {
      "main": [
        [
          {
            "node": "Create URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create URLs": {
      "main": [
        [
          {
            "node": "Send to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Airtable": {
      "main": [
        [
          {
            "node": "Send to Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Competitors": {
      "main": [
        [
          {
            "node": "Split Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data": {
      "main": [
        [
          {
            "node": "Wait 0.25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get Specifics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 0.25": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Specifics": {
      "main": [
        [
          {
            "node": "Filter Low Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Data": {
      "main": [
        [
          {
            "node": "Set Usernames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Usernames": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Airtable1": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c121ddf3-4fb5-4f01-880d-6b297e11304a",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "H9vWocXeeWgXAaBc",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}