n8n/demo-data/workflows/SHABLON_INSTAGRAM_P3_REELS_FIND.json
{
  "name": "SHABLON_INSTAGRAM_P3_REELS_FIND",
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app2vioOyPFvFn7XE",
          "mode": "list",
          "cachedResultName": "Instagram_agent_n8n",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE"
        },
        "table": {
          "__rl": true,
          "value": "tblxCudSu6J6huIOn",
          "mode": "list",
          "cachedResultName": "Instagram_Reels",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE/tblxCudSu6J6huIOn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Views": "={{ $('Split data.items').item.json.media.ig_play_count }}",
            "Comments": "={{ $json.media.comment_count }}",
            "Username": "={{ $('Reels Data').item.json.Username }}",
            "Reel Caption": "={{ $('Reels Data').item.json['Caption Text'] }}",
            "Link to Reel": "={{ $('Reels Data').item.json.video_url }}",
            "Reel ID": "={{ $('Split data.items').item.json.media.code }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reel Caption",
              "displayName": "Reel Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link to Reel",
              "displayName": "Link to Reel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date added",
              "displayName": "Date added",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reel ID",
              "displayName": "Reel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reel URL",
              "displayName": "Reel URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1520,
        780
      ],
      "id": "411100eb-75b7-4412-97a7-a2cd1b73a8d0",
      "name": "Send to Airtable"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8afa13e2-39cb-44a7-a0fb-6448588b1174",
              "name": "Username",
              "value": "={{ $json.media.caption.user.username }}",
              "type": "string"
            },
            {
              "id": "8042f4ba-53fa-4d8e-99b0-adb39771361d",
              "name": "Caption Text",
              "value": "={{ $json.media.caption.text }}",
              "type": "string"
            },
            {
              "id": "5191c6fd-75ab-4fb9-a224-ebcdd7b0b0e9",
              "name": "IG View Count",
              "value": "={{ $json.media.ig_play_count }}",
              "type": "number"
            },
            {
              "id": "8a6fee3c-81ad-4b44-8e97-c5d4a9261244",
              "name": "IG Like Count",
              "value": "={{ $json.media.like_count }}",
              "type": "number"
            },
            {
              "id": "e5b8435d-1bfb-46cb-b8bd-643ded0b9664",
              "name": "media.comment_count",
              "value": "={{ $json.media.comment_count }}",
              "type": "number"
            },
            {
              "id": "6812b3d1-f510-42a2-b9de-8f0e6872fb5f",
              "name": "video_url",
              "value": "={{ $json.media.video_versions[1].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        780
      ],
      "id": "3ed72147-2e81-46b4-b29a-8209ff40641a",
      "name": "Reels Data"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "username"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        380
      ],
      "id": "7ac395fd-5793-43ca-bc62-622a41405877",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://real-time-instagram-scraper-api1.p.rapidapi.com/v1/user_reels",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "username_or_id",
              "value": "={{ $json.username }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "VASH_API"
            },
            {
              "name": "x-rapidapi-host",
              "value": "real-time-instagram-scraper-api1.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        380
      ],
      "id": "456b2e78-ffa0-40ad-b173-7f6b556dcb99",
      "name": "Scrape Reels"
    },
    {
      "parameters": {
        "content": "## Ensure Airtable credentials are setup, too.",
        "height": 100,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2500,
        220
      ],
      "typeVersion": 1,
      "id": "bce2c996-5607-45c6-833e-553cf85780ab",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      query: \"Task has completed successfully.\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        780
      ],
      "id": "d8907191-b76c-4825-9231-93dd2149faf7",
      "name": "Success"
    },
    {
      "parameters": {
        "url": "https://real-time-instagram-scraper-api1.p.rapidapi.com/v1/media_info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "code_or_id_or_url",
              "value": "={{ $json['Reel ID'] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "VASH_API"
            },
            {
              "name": "x-rapidapi-host",
              "value": "real-time-instagram-scraper-api1.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        380
      ],
      "id": "f44fe79f-52ec-4400-b168-e956f446b235",
      "name": "Get Reshares"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d81eadf-9be7-4224-be1a-1bb0c097bc12",
              "name": "Reel ID",
              "value": "={{ $json.media.code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        300
      ],
      "id": "634eb0cc-0519-4db1-bc49-43c964fa21f9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1180,
        260
      ],
      "id": "9f662bd0-3a08-4ccc-9bfe-521806a2cc3c",
      "name": "Loop Over Items",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "amount": 0.25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1960,
        420
      ],
      "id": "08419542-267a-41a8-996a-0d16c7651904",
      "name": "Wait 0.25",
      "webhookId": "66e507e6-7296-45d0-aacf-de58bafeb7bd"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        420,
        380
      ],
      "id": "1319479a-be9d-459b-b515-571f61bf034c",
      "name": "Wait 5",
      "webhookId": "d3e2686e-d35a-4061-8ada-f7cb94e69ae1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        700,
        380
      ],
      "id": "3c586c5a-3750-4d91-afbe-cbc91dc2585e",
      "name": "Split data.items"
    },
    {
      "parameters": {
        "content": "## Введите свой Instagram API сюда",
        "height": 80,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        280
      ],
      "typeVersion": 1,
      "id": "24234141-f46d-4277-a249-81d221015694",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Анализ Reels",
        "height": 80,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "c9e6e77d-4f0e-4599-ad0c-d0328c37b8b7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n## Просто введите свой ключ API \"Instagram Scraper\" в поле для всех нод HTTP-запросов, которые его используют.\n\n## Ссылка на Instagram API: https://rapidapi.com/allapiservice/api/real-time-instagram-scraper-api1",
        "height": 220,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        620
      ],
      "typeVersion": 1,
      "id": "c22a96a3-983e-46e3-a469-cd698d038eda",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Введите свой Instagram API сюда",
        "height": 80,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1700,
        640
      ],
      "typeVersion": 1,
      "id": "c8dc5067-6a02-454d-ba20-f48b91c3c7d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app2vioOyPFvFn7XE",
          "mode": "list",
          "cachedResultName": "Instagram_agent_n8n",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE"
        },
        "table": {
          "__rl": true,
          "value": "tblxCudSu6J6huIOn",
          "mode": "list",
          "cachedResultName": "Instagram_Reels",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE/tblxCudSu6J6huIOn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Record ID": "={{ $json.id }}",
            "Date added": "={{ $json.createdTime }}",
            "Reel ID": "={{ $json.fields['Reel ID'] }}"
          },
          "matchingColumns": [
            "Reel ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Reel Caption",
              "displayName": "Reel Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Comments",
              "displayName": "Comments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Link to Reel",
              "displayName": "Link to Reel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date added",
              "displayName": "Date added",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reel ID",
              "displayName": "Reel ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reel URL",
              "displayName": "Reel URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1880,
        780
      ],
      "id": "ffc779ad-ee1a-4ab2-aa49-67e9165ed457",
      "name": "Send the goodies1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "username": "igorzuevich"
        }
      }
    ]
  },
  "connections": {
    "Reels Data": {
      "main": [
        [
          {
            "node": "Send to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Scrape Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Reels": {
      "main": [
        [
          {
            "node": "Wait 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Airtable": {
      "main": [
        [
          {
            "node": "Send the goodies1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reshares": {
      "main": [
        [
          {
            "node": "Wait 0.25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Reshares",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 0.25": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5": {
      "main": [
        [
          {
            "node": "Split data.items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split data.items": {
      "main": [
        [
          {
            "node": "Reels Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send the goodies1": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f412972-5ce1-4d17-a200-b6f4ac9b9c2b",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "6WPYh8mMBWCDsiAX",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}