n8n/demo-data/workflows/Shablon_AI_AGENT_SYSTEM_NEWS_WRITER.json
{
  "name": "Shablon_AI_AGENT_SYSTEM_NEWS_WRITER",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "title, raw_content",
        "options": {}
      },
      "id": "f9354c0b-31d3-45eb-ad89-b75d4653ac64",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2160,
        100
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "f8199300-b1b8-433e-86cb-767bd8e6f0f2",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1960,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"api_key\": [ДОБАВИТЬ СВОЙ API],\n    \"query\": \"{{ $json.query.replace(/\"/g, '\\\\\"') }}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "options": {}
      },
      "id": "58e02b72-a43b-4a3b-b604-c350cbb43f60",
      "name": "Search Internet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "de856824-2cdc-4acf-bf22-65253053983e",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1620,
        600
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "28c4e3a3-3bc8-4ddf-8556-9c3e9bc0378f",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1960,
        600
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI",
          "mode": "list",
          "cachedResultName": "n8n  Content Creator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Пост для Threads": "={{ $('Threads').item.json.output }}",
            "Пост для Telegram": "={{ $('Telegram пост').item.json.output }}",
            "Пост для Instagram": "={{ $json.output }}",
            "Идея Контента": "={{ $('AI Agent Генератор Названия').item.json.output }}"
          },
          "matchingColumns": [
            "Идея Контента"
          ],
          "schema": [
            {
              "id": "Идея Контента",
              "displayName": "Идея Контента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Тема контента",
              "displayName": "Тема контента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Целевая Аудитория",
              "displayName": "Целевая Аудитория",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Пост для Telegram",
              "displayName": "Пост для Telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Пост для Threads",
              "displayName": "Пост для Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Пост для Instagram",
              "displayName": "Пост для Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "05c73283-c79b-4017-b0d0-21a5b1055814",
      "name": "Update Campaign",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1460,
        1000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a906116f-6010-4fbd-aabd-e9135569d280",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1120,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b493a3c6-939a-4301-9257-055b80c28d7a",
              "name": "query",
              "value": "={{ $json['Тема контента'] }}",
              "type": "string"
            },
            {
              "id": "e2813669-08fd-4d0d-a215-b0634032330b",
              "name": "targetAudience",
              "value": "={{ $json['Целевая Аудитория'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1191fafd-a552-41fa-97a9-4cf110b3a500",
      "name": "Set Search Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI",
          "mode": "list",
          "cachedResultName": "n8n  Content Creator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1240,
        100
      ],
      "id": "4b6c62e8-1f54-450c-998e-3c53284ea1ce",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1400,
        100
      ],
      "id": "1fbc381c-c7fb-4d9c-9a0f-3112cf7f5c36",
      "name": "Limit"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI",
          "mode": "list",
          "cachedResultName": "n8n  Content Creator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Целевая Аудитория": "={{ $('AI Agent по ЦА').item.json.output }}",
            "Тема контента": "={{ $('AI Agent Генератор задачи').item.json.output }}",
            "Идея Контента": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Идея Контента",
              "displayName": "Идея Контента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Тема контента",
              "displayName": "Тема контента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Целевая Аудитория",
              "displayName": "Целевая Аудитория",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Пост для Telegram",
              "displayName": "Пост для Telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Пост для Threads",
              "displayName": "Пост для Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Пост для Instagram",
              "displayName": "Пост для Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1080,
        100
      ],
      "id": "09894256-d64d-46d2-8e97-2191e44f9c0a",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd81c27d-2306-4bd5-8f92-7205ed12e700",
              "name": "text",
              "value": "={{ $json.query.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        340
      ],
      "id": "8bc8e8da-cca0-4d7a-b4c0-2c15aedb721f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        380
      ],
      "id": "ea2de035-1425-4313-8177-374c275ea45a",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        760
      ],
      "id": "eabce205-2123-478a-9aa3-716f3220d84a",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        1140
      ],
      "id": "9762f731-ef46-450a-9f19-5be8ece48222",
      "name": "OpenAI Chat Model5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "options": {
          "systemMessage": "=<Agentinstructions>\n    <Role>\n        <Name>Эксперт по сообщениям</Name>\n        <Description>Вы эксперт в создании и анализе сообщений.</Description>\n    </Role>\n    <Goal>\n        <Primary>Сформулировать задачу, которую необходимо выполнить.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: Сформулируйте задачу, которую необходимо выполнить. Описание не должно превышать 100 символов.\n\nСпецифичность и контекст: понять и сформулировать задачу, которую нужно выполнить. Это важно для дальнейшего создания контента.\n\nПример 1:\nВходные данные: Найдите последние новости о компании open AI.\nВыходные данные: Найти последние новости и обновления о компании open AI.\n\nНапоминания:\n- Четко сформулируйте задачу, которую необходимо выполнить.\n- Сообщение не должно превышать 100 символов.\n- Выводите только текст.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        160,
        520
      ],
      "id": "e43d2376-0634-40d1-a435-f5b32771e495",
      "name": "AI Agent Генератор задачи"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "options": {
          "systemMessage": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Agentinstructions>\n    <Role>\n        <Name>Эксперт по сообщениям</Name>\n        <Description>Вы эксперт в создании и анализе сообщений.</Description>\n    </Role>\n    <Goal>\n        <Primary>Сформулировать название задачи.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nСформулировать заголовок и название для задачи.\nСпецифичность и контекст: придумайте название задачи.\nПример:\nВходные данные: Найдите свежие новости о компании open AI.\nВыходные данные: Задача: найти новости о компании open AI.\nНапоминания:\n- Четко сформулируйте название задачи.\n- Сообщение не должно превышать 100 символов.\n- Выводите только текст.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        160,
        920
      ],
      "id": "ece7059f-2471-4791-9dda-82a37c3dbfee",
      "name": "AI Agent Генератор Названия"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=<Agentinstructions>\n    <Role>\n        <Name>Эксперт по созданию и анализу сообщений</Name>\n        <Description>Вы эксперт в создании и анализе сообщений.</Description>\n    </Role>\n    <Goal>\n        <Primary>Определить целевую аудиторию для данного запроса.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: определите целевую аудиторию, которая будет заинтересована в этом запросе, или извлеките данные о целевой аудитории из запроса. Описание должно быть не более 100 символов.\n\nСпецифичность и контекст: выберите наиболее подходящую целевую аудиторию для данной темы или задачи. Старайся чётко определять сегмент целевой аудитории. Это важно при дальнейшей подготовки контента.\n\nПример 1:\nВходные данные: Найдите последние новости о компании Open AI.\nВыходные данные: Целевая аудитория — предприниматели, блогеры.\n\nНапоминания:\n- Четко опишите целевую аудиторию и сегмент аудитории.\n- Сообщение не должно превышать 100 символов.\n- Выводите только текст.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        160,
        160
      ],
      "id": "5494257d-efa3-43e7-844b-ff1b9e288555",
      "name": "AI Agent по ЦА"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Article Content:\n{{ $json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}",
        "options": {
          "systemMessage": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Agentinstructions>\n    <Role>\n        <Name>Эксперт по контенту для Telegram канала</Name>\n        <Description>Вы эксперт по созданию контента для Telegram канала, специализируетесь на преобразовании статей в высокововлекающие посты для определённой целевой аудитории.</Description>\n    </Role>\n    <Goal>\n        <Primary>Создать Telegram пост по предоставленной статье.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: используя предоставленную статью, составьте пост для Telegram канала, который:\n1. Написан в лаконичном, увлекательном тоне, оптимизированном для мобильных устройств.\n2. Адаптирован под интересы, потребности и профессиональные цели целевой аудитории.\n3. Представлен в виде простого текста с частыми переносами строк для удобочитаемости. Максимум 2-3 предложения в абзаце.\n4. Содержит 1-2 эмодзи для придания индивидуальности и привлекательности.\n5. Предоставляет ценную информацию и включает ясный призыв к действию.\n6. Содержит 3-5 релевантных хештегов.\n7. Выводит только текст поста — без дополнительного контента.\n\nКонтекст: Пост должен кратко передавать основное сообщение статьи и резонировать с ценностями аудитории. Он должен звучать естественно, разговорно и не превышать 2200 символов, но при этом не быть меньше 1500 символов.\n\nНапоминания:\n- Контент должен соответствовать интересам и вызовам целевой аудитории.\n- Обязательно использовать 1-2 эмодзи и призыв к действию.\n- Выводите только текст поста.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n\n"
        }
      },
      "id": "ef815c3f-8be5-4bd4-a9d4-9d2fd7297462",
      "name": "Telegram пост",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1100,
        420
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}",
        "options": {
          "systemMessage": "=<Agentinstructions>\n    <Role>\n        <Name>Эксперт по контенту для Threads</Name>\n        <Description>Вы эксперт в создании контента для Threads, специализируетесь на преобразовании статей в увлекательные и краткие твиты для конкретной целевой аудитории.</Description>\n    </Role>\n    <Goal>\n        <Primary>Создать твит по предоставленной статье.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: используя предоставленную статью, составьте твит, который:\n1. Краток, лаконичен и оптимизирован для лимита Threads (390 символов).\n2. Соответствует интересам, потребностям и целям целевой аудитории.\n3. Содержит 1-2 эмодзи для усиления индивидуальности и привлекательности.\n4. Предоставляет ценное сообщение или инсайт и включает явный призыв к действию.\n5. Содержит 1 релевантный хештега.\n6. Выводит только текст твита — без дополнительного контента.\n\nКонтекст: Твит должен кратко передавать суть статьи, привлекать внимание, предлагать немедленную ценность и стимулировать вовлеченность (лайки, ответы, клики).\n\nНапоминания:\n- Тон должен быть доступным и увлекательным.\n- Используйте эмодзи экономно для акцента.\n- Убедитесь, что твит не превышает 390 символов и адаптирован под аудиторию.\n- Выводите только текст твита.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "id": "1706ebf0-17dd-40cb-b397-8df7031c69cf",
      "name": "Threads",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1600,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "Отлично. Я выполнил задание. Все посты доступны https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit?gid=0#gid=0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5eaf8588-052c-4b26-a3ec-486394c6f121",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        1000
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}",
        "options": {
          "systemMessage": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Agentinstructions>\n    <Role>\n        <Name>Эксперт копирайтер. </Name>\n        <Description>Вы опытный и креативный блогер, способный создавать увлекательные, лаконичные и хорошо структурированные статьи для Instagram на основе предоставленного контента.</Description>\n    </Role>\n    <Goal>\n        <Primary>Создать пост для Instagram до 2000 символов на основе предоставленного контента.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: напишите пост для Instagram до 2000 символов используя предоставленный контент. Пост должна быть связной, увлекательной и информативной, ориентированной на широкую аудиторию. Обеспечьте профессиональный, но дружелюбный тон и логичное структурирование от введения до заключения.\n\nКонтекст: данная задача необходима для быстрого создания качественных полезных постов, которые привлекают внимание читателей, точно передают основное сообщение и помогают брендам или отдельным лицам устанавливать лидерство в мнениях и эффективно взаимодействовать с аудиторией.\n\nНапоминания:\n- Сохраняйте ясность и логическую последовательность между абзацами.\n- Обеспечьте увлекательный, дружеский, но профессиональный тон.\n- Пост должна быть лаконичной и соответствовать предоставленному контенту.\n- Дели текст на абзацы через каждые 2-3 предложения.\n- Пост должен быть для Instagram до 2000 символов, но не менее 1400 символов.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "id": "8146b0ee-7a98-47fb-ac85-dbc2c3fec48d",
      "name": "InstagramWriter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1940,
        400
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "2123214"
            },
            {
              "name": "2242433"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        360
      ],
      "id": "fe39dd05-21bd-4243-a0bc-4378dc57f6ef",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## ИДЕЯ, ЦА И ЗАДАЧА\n",
        "height": 1440,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "05b5ecde-52df-4fc9-9856-f80acc77a022",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## СТАРТ\n",
        "height": 540,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -700,
        200
      ],
      "typeVersion": 1,
      "id": "602317d8-1ece-4d4a-b827-b596c34ae53a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ПОИСК И ОБРАБОТКА НОВОСТИ",
        "height": 240,
        "width": 1340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        20
      ],
      "typeVersion": 1,
      "id": "da9705a8-d35b-4151-95aa-27de8b6bb723",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## ГЕНЕРАТОР КОНТЕНТА ",
        "height": 380,
        "width": 1380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        340
      ],
      "typeVersion": 1,
      "id": "d1049a83-31c4-4f84-82fa-704e0a67acc5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## СОХРАНЕНИЕ И ПУБЛИКАЦИЯ\n",
        "height": 280,
        "width": 1020,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1180,
        880
      ],
      "typeVersion": 1,
      "id": "2f5055c7-891d-425f-af13-6e4ca0b10842",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": {
            "query": "Claude",
            "message": "Создайте контент на основе последних новостей о Claude."
          }
        }
      }
    ]
  },
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Internet": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Telegram пост",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Threads",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "InstagramWriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Telegram пост",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Fields": {
      "main": [
        [
          {
            "node": "Search Internet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Set Search Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent по ЦА",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent по ЦА",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Генератор задачи",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Генератор Названия",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Генератор задачи": {
      "main": [
        [
          {
            "node": "AI Agent Генератор Названия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Генератор Названия": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent по ЦА": {
      "main": [
        [
          {
            "node": "AI Agent Генератор задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram пост": {
      "main": [
        [
          {
            "node": "Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads": {
      "main": [
        [
          {
            "node": "InstagramWriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InstagramWriter": {
      "main": [
        [
          {
            "node": "Update Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3f6098b-f8cf-4224-9876-ac00a0f83df0",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "ZePV5hV2B6pWAgwf",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}