n8n/demo-data/workflows/SHABLON_TIKTOK_P2_REPURPOSE.json
{
  "name": "SHABLON_TIKTOK_P2_REPURPOSE",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Script: {{ $json.text }}\nCaption: {{ $('Get Record ID').item.json.Caption }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=### Role:\n\nYou are a master at repurposing scripts for videos, making video scripts which are even more engaging, driving shares from viewers.\n\n### Task:\n\nYou will repurpose scripts provided for you, improving on it in areas where you deem it weak, but keeping the same tone and structure.\n\n### Instructions:\n\n1. Repurpose the provided script with ALL time stamps, keeping similar word counts, flow and structure\n2. Repurpose the provided caption, using the same hashtags if applicable, keeping similar word counts, flow and structure\n3. Output the Airtable Record ID on completion as well.\n4. Translate the script into Russian\n\n### Example:\n\n- Hook: 0-3 seconds\n.. etc.\n\n### Constraints:\n\n- Don't overuse exclamation marks in scripts"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        180
      ],
      "id": "b03c899b-9f57-4233-86e5-5485dc966362",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to create caption and script",
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tbltOe8idoo8BRy8j",
          "mode": "list",
          "cachedResultName": "TIKTOK_REPURPOSE",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tbltOe8idoo8BRy8j"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name of content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name_of_content', ``, 'string') }}",
            "Caption": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Caption', ``, 'string') }}",
            "Script": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Script', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name of content",
              "displayName": "Name of content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Original video",
              "displayName": "Original video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        480,
        560
      ],
      "id": "ef9703f8-6c13-4a15-8b5b-0e722caf9bd7",
      "name": "Create Script"
    },
    {
      "parameters": {
        "url": "={{ $json.play }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        180
      ],
      "id": "ebed2d6b-6307-4c67-93d2-2d9410d5b927",
      "name": "Get Video"
    },
    {
      "parameters": {
        "content": "## Отправка Airtable",
        "height": 220,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        500
      ],
      "typeVersion": 1,
      "id": "a8498686-cb99-4499-876a-7217e1592f48",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        180,
        180
      ],
      "id": "ef78b3dc-d3fc-4f46-8f9d-d2e35352bf66",
      "name": "Whisper"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tblxCudSu6J6huIOn",
          "mode": "list",
          "cachedResultName": "TIKTOK_POSTS",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tblxCudSu6J6huIOn"
        },
        "id": "={{ $json.record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -700,
        180
      ],
      "id": "58a4c693-40b9-4280-8aca-286100c17158",
      "name": "Get Record ID"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"script_record_ID\": \"Airtable record ID of the script\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        700,
        560
      ],
      "id": "5c7a6fd0-26c4-48a2-9ba3-ace080157cad",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tbltOe8idoo8BRy8j",
          "mode": "list",
          "cachedResultName": "TIKTOK_REPURPOSE",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tbltOe8idoo8BRy8j"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Record ID": "={{ $json.id }}",
            "Original video": "={{ $('Get Record ID').item.json['Link to Post'] }}",
            "Name of content": "={{ $json['Name of content'] }}"
          },
          "matchingColumns": [
            "Name of content"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Name of content",
              "displayName": "Name of content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Original video",
              "displayName": "Original video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1060,
        200
      ],
      "id": "01ba85c3-29fd-4cf8-9aac-b09588eee1e0",
      "name": "Update Record"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // Get the binary data\n  const binaryData = item.binary.data;\n  \n  // Create a new binary object with modified properties\n  const modifiedBinary = {\n    ...binaryData,\n    mimeType: 'audio/mpeg',  // Try this MIME type instead\n    fileExtension: 'mp3',\n    fileName: `${item.json.Username || 'audio'}.mp3`,\n    contentType: 'audio/mpeg'  // Add content type explicitly\n  };\n\n  return {\n    json: {\n      ...item.json,\n    },\n    binary: {\n      audio: modifiedBinary  // Change the key to 'audio' instead of 'data'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        180
      ],
      "id": "b0d4c9d1-4585-4f75-8b59-1a4a909cd3a3",
      "name": "Change to mpeg"
    },
    {
      "parameters": {
        "url": "https://tiktok-api23.p.rapidapi.com/api/download/video",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json['Link to Post'] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "ВАШ API КЛЮЧ"
            },
            {
              "name": "x-rapidapi-host",
              "value": "tiktok-api23.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        180
      ],
      "id": "13581bc5-0933-4064-837f-af340c09d2ac",
      "name": "Find Video"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "record_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -940,
        180
      ],
      "id": "b137580a-8532-4b96-a3dc-6ef02ee42e92",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "# Копирует Сценарии Tik Toks",
        "height": 80,
        "width": 580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e91e3aa4-8cc4-449a-bd9a-d2ca0145bb20",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      query: \"Task has completed successfully.\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        200
      ],
      "id": "ac2a6c06-5c39-4850-8596-6684054c03ec",
      "name": "Success"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        540
      ],
      "id": "b8a715f6-e1d1-4cc4-a844-89f8bbd5e780",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tbltOe8idoo8BRy8j",
          "mode": "list",
          "cachedResultName": "TIKTOK_REPURPOSE",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tbltOe8idoo8BRy8j"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        840,
        160
      ],
      "id": "04534450-e835-4c29-8d51-7cc25803da69",
      "name": "Update Record1"
    },
    {
      "parameters": {
        "content": "## Создайте свой API ключ в TikTok тут: \n\n## Ссылка: https://rapidapi.com/Lundehund/api/tiktok-api23",
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1000,
        580
      ],
      "typeVersion": 1,
      "id": "a5079aea-f665-4b93-9198-27b13cea067c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Подключите Airtable таблицы\n",
        "height": 80,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        840,
        380
      ],
      "typeVersion": 1,
      "id": "da491df1-be0a-4f36-af12-304ee19e0166",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "record_id": "recBDhwgcjtJnDWe9"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update Record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Script": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Change to mpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Record ID": {
      "main": [
        [
          {
            "node": "Find Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update Record": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change to mpeg": {
      "main": [
        [
          {
            "node": "Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Video": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Record ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Record1": {
      "main": [
        [
          {
            "node": "Update Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ba53c665-1a32-4ca8-b2f4-22b5821751da",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "WhXmu0Jf2dchg0sh",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}