n8n/demo-data/workflows/Shablon_AI_AGENT_TELEGRAM_NEWS_WRITER.json
{
  "name": "Shablon_AI_AGENT_TELEGRAM_NEWS_WRITER",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "title, raw_content",
        "options": {}
      },
      "id": "0f20b5c4-f229-4a84-be70-fb7fb15d1bc7",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2160,
        100
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "a14ec5b8-1266-480d-b9fb-a423de3ef19d",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1960,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"api_key\": \"[ВАШ API КЛЮЧ ТУТ]\",\n    \"query\": \"{{ $json.query.replace(/\"/g, '\\\\\"') }}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "options": {}
      },
      "id": "c0247613-de41-4e0d-90df-3b4c72835074",
      "name": "Search Internet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9ca247c8-4fcf-4eca-a0b6-3781dfaa691f",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1620,
        600
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "de034146-e846-4212-bd8c-eb1c2d5c2b0b",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1960,
        600
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI",
          "mode": "list",
          "cachedResultName": "n8n  Content Creator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Пост для Threads": "={{ $('Threads').item.json.output }}",
            "Пост для Telegram": "={{ $('Telegram пост').item.json.output }}",
            "Пост для Instagram": "={{ $json.output }}",
            "Идея Контента": "={{ $('AI Agent Генератор Названия').item.json.output }}"
          },
          "matchingColumns": [
            "Идея Контента"
          ],
          "schema": [
            {
              "id": "Идея Контента",
              "displayName": "Идея Контента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Тема контента",
              "displayName": "Тема контента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Целевая Аудитория",
              "displayName": "Целевая Аудитория",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Пост для Telegram",
              "displayName": "Пост для Telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Пост для Threads",
              "displayName": "Пост для Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Пост для Instagram",
              "displayName": "Пост для Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d40adf63-063f-4f0b-b8f9-b36574758982",
      "name": "Update Campaign",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1460,
        1000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9f1618ec-63a2-46e9-aeaa-037b7fb80a0a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1120,
        600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b493a3c6-939a-4301-9257-055b80c28d7a",
              "name": "query",
              "value": "={{ $json['Тема контента'] }}",
              "type": "string"
            },
            {
              "id": "e2813669-08fd-4d0d-a215-b0634032330b",
              "name": "targetAudience",
              "value": "={{ $json['Целевая Аудитория'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5d4d8d9c-11f3-467b-9e69-6cd8922022e6",
      "name": "Set Search Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        100
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI",
          "mode": "list",
          "cachedResultName": "n8n  Content Creator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1240,
        100
      ],
      "id": "d5d707f9-c454-4d26-90ac-b8825c155eea",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1400,
        100
      ],
      "id": "9c584792-80e4-467b-a068-16c04e16f71e",
      "name": "Limit"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI",
          "mode": "list",
          "cachedResultName": "n8n  Content Creator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Целевая Аудитория": "={{ $('AI Agent по ЦА').item.json.output }}",
            "Тема контента": "={{ $('AI Agent Генератор задачи').item.json.output }}",
            "Идея Контента": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Идея Контента",
              "displayName": "Идея Контента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Тема контента",
              "displayName": "Тема контента",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Целевая Аудитория",
              "displayName": "Целевая Аудитория",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Пост для Telegram",
              "displayName": "Пост для Telegram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Пост для Threads",
              "displayName": "Пост для Threads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Пост для Instagram",
              "displayName": "Пост для Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1080,
        100
      ],
      "id": "63c63dc5-6df0-4037-ba0a-335641ce88b0",
      "name": "Google Sheets1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        380
      ],
      "id": "dd571f0c-c4c7-4339-adfa-02c53a720807",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        760
      ],
      "id": "433de069-5bf4-4e81-b2b5-a42ccbe4de8e",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        1140
      ],
      "id": "5802f038-bfaa-4d88-aa49-d78ebee7e85d",
      "name": "OpenAI Chat Model5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "options": {
          "systemMessage": "=<Agentinstructions>\n    <Role>\n        <Name>Эксперт по сообщениям</Name>\n        <Description>Вы эксперт в создании и анализе сообщений.</Description>\n    </Role>\n    <Goal>\n        <Primary>Сформулировать задачу, которую необходимо выполнить.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: Сформулируйте задачу, которую необходимо выполнить. Описание не должно превышать 100 символов.\n\nСпецифичность и контекст: понять и сформулировать задачу, которую нужно выполнить. Это важно для дальнейшего создания контента.\n\nПример 1:\nВходные данные: Найдите последние новости о компании open AI.\nВыходные данные: Найти последние новости и обновления о компании open AI.\n\nНапоминания:\n- Четко сформулируйте задачу, которую необходимо выполнить.\n- Сообщение не должно превышать 100 символов.\n- Выводите только текст.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        160,
        520
      ],
      "id": "af1b62bc-b786-4962-b8e7-87f4129101e7",
      "name": "AI Agent Генератор задачи"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "options": {
          "systemMessage": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Agentinstructions>\n    <Role>\n        <Name>Эксперт по сообщениям</Name>\n        <Description>Вы эксперт в создании и анализе сообщений.</Description>\n    </Role>\n    <Goal>\n        <Primary>Сформулировать название задачи.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nСформулировать заголовок и название для задачи.\nСпецифичность и контекст: придумайте название задачи.\nПример:\nВходные данные: Найдите свежие новости о компании open AI.\nВыходные данные: Задача: найти новости о компании open AI.\nНапоминания:\n- Четко сформулируйте название задачи.\n- Сообщение не должно превышать 100 символов.\n- Выводите только текст.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        160,
        920
      ],
      "id": "546b5317-59ce-4c74-9563-2d07844c93ab",
      "name": "AI Agent Генератор Названия"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=<Agentinstructions>\n    <Role>\n        <Name>Эксперт по созданию и анализу сообщений</Name>\n        <Description>Вы эксперт в создании и анализе сообщений.</Description>\n    </Role>\n    <Goal>\n        <Primary>Определить целевую аудиторию для данного запроса.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: определите целевую аудиторию, которая будет заинтересована в этом запросе, или извлеките данные о целевой аудитории из запроса. Описание должно быть не более 100 символов.\n\nСпецифичность и контекст: выберите наиболее подходящую целевую аудиторию для данной темы или задачи. Старайся чётко определять сегмент целевой аудитории. Это важно при дальнейшей подготовки контента.\n\nПример 1:\nВходные данные: Найдите последние новости о компании Open AI.\nВыходные данные: Целевая аудитория — предприниматели, блогеры.\n\nНапоминания:\n- Четко опишите целевую аудиторию и сегмент аудитории.\n- Сообщение не должно превышать 100 символов.\n- Выводите только текст.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        160,
        160
      ],
      "id": "94f28cbd-4495-49d6-af29-8e3cc407d926",
      "name": "AI Agent по ЦА"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Article Content:\n{{ $json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}",
        "options": {
          "systemMessage": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Agentinstructions>\n    <Role>\n        <Name>Эксперт по контенту для Telegram канала</Name>\n        <Description>Вы эксперт по созданию контента для Telegram канала, специализируетесь на преобразовании статей в высокововлекающие посты для определённой целевой аудитории.</Description>\n    </Role>\n    <Goal>\n        <Primary>Создать Telegram пост по предоставленной статье.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: используя предоставленную статью, составьте пост для Telegram канала, который:\n1. Написан в лаконичном, увлекательном тоне, оптимизированном для мобильных устройств.\n2. Адаптирован под интересы, потребности и профессиональные цели целевой аудитории.\n3. Представлен в виде простого текста с частыми переносами строк для удобочитаемости. Максимум 2-3 предложения в абзаце.\n4. Содержит 1-2 эмодзи для придания индивидуальности и привлекательности.\n5. Предоставляет ценную информацию и включает ясный призыв к действию.\n6. Содержит 3-5 релевантных хештегов.\n7. Выводит только текст поста — без дополнительного контента.\n\nКонтекст: Пост должен кратко передавать основное сообщение статьи и резонировать с ценностями аудитории. Он должен звучать естественно, разговорно и не превышать 2200 символов, но при этом не быть меньше 1500 символов.\n\nНапоминания:\n- Контент должен соответствовать интересам и вызовам целевой аудитории.\n- Обязательно использовать 1-2 эмодзи и призыв к действию.\n- Выводите только текст поста.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n\n"
        }
      },
      "id": "00ac1de8-06f6-4c26-9ce9-97ab8ce9de97",
      "name": "Telegram пост",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1100,
        420
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}",
        "options": {
          "systemMessage": "=<Agentinstructions>\n    <Role>\n        <Name>Эксперт по контенту для Threads</Name>\n        <Description>Вы эксперт в создании контента для Threads, специализируетесь на преобразовании статей в увлекательные и краткие твиты для конкретной целевой аудитории.</Description>\n    </Role>\n    <Goal>\n        <Primary>Создать твит по предоставленной статье.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: используя предоставленную статью, составьте твит, который:\n1. Краток, лаконичен и оптимизирован для лимита Threads (390 символов).\n2. Соответствует интересам, потребностям и целям целевой аудитории.\n3. Содержит 1-2 эмодзи для усиления индивидуальности и привлекательности.\n4. Предоставляет ценное сообщение или инсайт и включает явный призыв к действию.\n5. Содержит 1 релевантный хештега.\n6. Выводит только текст твита — без дополнительного контента.\n\nКонтекст: Твит должен кратко передавать суть статьи, привлекать внимание, предлагать немедленную ценность и стимулировать вовлеченность (лайки, ответы, клики).\n\nНапоминания:\n- Тон должен быть доступным и увлекательным.\n- Используйте эмодзи экономно для акцента.\n- Убедитесь, что твит не превышает 390 символов и адаптирован под аудиторию.\n- Выводите только текст твита.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "id": "5067f29e-93a0-47f9-a0f2-f878ad1ad7c6",
      "name": "Threads",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1600,
        420
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "Отлично. Я выполнил задание. Все посты доступны https://docs.google.com/spreadsheets/d/13maMWkSDLcdBySNmmotSCer411HPhxncAcvZyDqWfeI/edit?gid=0#gid=0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d85c16db-4074-4561-a82a-4339b4730fa9",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        1000
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=Article Content:\n{{ $('Aggregate').item.json.data.toJsonString() }}\n\nTarget Audience:\n{{ $('Set Search Fields').item.json.targetAudience }}",
        "options": {
          "systemMessage": "=<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Agentinstructions>\n    <Role>\n        <Name>Эксперт копирайтер. </Name>\n        <Description>Вы опытный и креативный блогер, способный создавать увлекательные, лаконичные и хорошо структурированные статьи для Instagram на основе предоставленного контента.</Description>\n    </Role>\n    <Goal>\n        <Primary>Создать пост для Instagram до 2000 символов на основе предоставленного контента.</Primary>\n    </Goal>\n    <Instructions>\n        <Instruction>\n            <![CDATA[\nТехническое задание: напишите пост для Instagram до 2000 символов используя предоставленный контент. Пост должна быть связной, увлекательной и информативной, ориентированной на широкую аудиторию. Обеспечьте профессиональный, но дружелюбный тон и логичное структурирование от введения до заключения.\n\nКонтекст: данная задача необходима для быстрого создания качественных полезных постов, которые привлекают внимание читателей, точно передают основное сообщение и помогают брендам или отдельным лицам устанавливать лидерство в мнениях и эффективно взаимодействовать с аудиторией.\n\nНапоминания:\n- Сохраняйте ясность и логическую последовательность между абзацами.\n- Обеспечьте увлекательный, дружеский, но профессиональный тон.\n- Пост должна быть лаконичной и соответствовать предоставленному контенту.\n- Дели текст на абзацы через каждые 2-3 предложения.\n- Пост должен быть для Instagram до 2000 символов, но не менее 1400 символов.\n- Ответ должен быть на русском языке.\n            ]]>\n        </Instruction>\n    </Instructions>\n</Agentinstructions>\n"
        }
      },
      "id": "11b2d671-f5ca-495f-9870-52c408973b48",
      "name": "InstagramWriter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1940,
        400
      ]
    },
    {
      "parameters": {
        "content": "## ИДЕЯ, ЦА И ЗАДАЧА\n",
        "height": 1440,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "615f431e-5f58-40be-99d2-19118501b625",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## СТАРТ\n",
        "height": 540,
        "width": 1260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1380,
        200
      ],
      "typeVersion": 1,
      "id": "21b293ac-7a64-4dbf-8966-db7280a42ad6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ПОИСК И ОБРАБОТКА НОВОСТИ",
        "height": 240,
        "width": 1340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        20
      ],
      "typeVersion": 1,
      "id": "ff4d38ad-c52e-417c-b328-c851adf2bf97",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## ГЕНЕРАТОР КОНТЕНТА ",
        "height": 380,
        "width": 1380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        340
      ],
      "typeVersion": 1,
      "id": "7e83d01c-a5ad-47c8-b780-8157d40da925",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## СОХРАНЕНИЕ И ПУБЛИКАЦИЯ\n",
        "height": 280,
        "width": 1020,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        900
      ],
      "typeVersion": 1,
      "id": "3d5ec806-05f6-4e4e-92ca-c881a9344bc3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7bdc9fc5-0cf1-4ad9-b183-419187e57a71",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1320,
        420
      ],
      "webhookId": "2194a6b2-2302-4406-9c8c-207161b7eb22"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9d8e573-3830-4e93-9f74-4838b5ff49b5",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }} {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        280
      ],
      "id": "3ef7423d-5378-412a-bfb3-4c3148315787",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -800,
        520
      ],
      "id": "acd7a6f2-e305-4071-b7eb-153cc28d7fe7",
      "name": "Telegram",
      "webhookId": "c66673cf-72f0-4233-82d8-70fe313d8765"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -620,
        520
      ],
      "id": "cf04a440-cdc6-428f-8003-3ec38f861bb2",
      "name": "OpenAI"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca9cc06c-dcf8-457b-854b-4c03d3d15dcc",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -960,
        420
      ],
      "id": "54bda7ba-d774-444c-b3c8-6af0311d672b",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1140,
        420
      ],
      "id": "82f90035-1fa1-47ac-a9a9-e1b6e34e5954",
      "name": "Telegram2",
      "webhookId": "8cd99b7a-3eca-4fd9-9b9a-168ea002f4b1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "40d2bfbe-cf3c-4c61-b907-ff94f95467b2",
      "name": "Respond to Me",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2100,
        1000
      ],
      "webhookId": "cd45388a-451a-42a0-b4aa-94857c5cc9f2"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Internet": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Telegram пост",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Threads",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "InstagramWriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Telegram пост",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Fields": {
      "main": [
        [
          {
            "node": "Search Internet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Set Search Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent по ЦА",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Генератор задачи",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Генератор Названия",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Генератор задачи": {
      "main": [
        [
          {
            "node": "AI Agent Генератор Названия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Генератор Названия": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent по ЦА": {
      "main": [
        [
          {
            "node": "AI Agent Генератор задачи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram пост": {
      "main": [
        [
          {
            "node": "Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threads": {
      "main": [
        [
          {
            "node": "InstagramWriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InstagramWriter": {
      "main": [
        [
          {
            "node": "Update Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent по ЦА",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Respond to Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7fbd4248-437e-4743-8a8f-fed5db78a731",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "nGccMfa1M0TgtlP1",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}