n8n/demo-data/workflows/SHABLON_TIKTOK_P1_MASTER_AI_TELEGRAM.json
{
  "name": "SHABLON_TIKTOK_P1_MASTER_AI_TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2860,
        60
      ],
      "id": "872d3d12-1847-44f4-859c-4dee9a90cced",
      "name": "Telegram",
      "webhookId": "8e19d119-d6c6-4cdd-9a33-b5db8efbf08f"
    },
    {
      "parameters": {
        "content": "## Найти конкурентов по поисковому запросу.\n\n## Например, \"найти конкурентов по запросу: дизайн веб-сайта\"",
        "height": 200,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1300,
        1680
      ],
      "typeVersion": 1,
      "id": "2483564b-2a04-46c2-8d23-17f5e1cec257",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Лучшие посты\n\n## 1. Сначала извлеките имена пользователей (например, Извлечь имена пользователей для меня)\n## 2. Выберите, от какого пользователя вы хотите получить лучшие посты (например, получить лучшие посты для номера 9 / justinbieber)",
        "height": 280,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1860,
        1680
      ],
      "typeVersion": 1,
      "id": "a135037c-0830-49f2-8478-de82855da9ff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Повторное использование\n\n## 1. Сначала извлеките посты (например, извлеките посты от justinbieber)\n## 2. Выберите, какой пост вы хотите повторно использовать (например, «повторное использование поста номер 4»)",
        "height": 300,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        1680
      ],
      "typeVersion": 1,
      "id": "9dec42b9-1772-4175-bf5d-8f90da2ff3c8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Подключите свои учетные данные Airtable.\n\n## Создайте новую базу и загрузите предоставленный .csv.",
        "height": 120,
        "width": 760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        1520
      ],
      "typeVersion": 1,
      "id": "866664ad-c7cb-4697-a3d3-b6d2d805c6d5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Примечания:\n\n## Помните, что во многих видео Tik Tok люди «танцуют» и делают глупости. Так что дважды проверьте, действительно ли в видео есть говорящие люди, если вы хотите скопировать его.",
        "height": 280,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1860,
        2040
      ],
      "typeVersion": 1,
      "id": "ad2b3e00-2659-4e63-a2e4-7d45520411f8",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Убедитесь, что «Найти конкурентов», «Лучшие посты» и «Повторное использование» связаны с другими проектами рабочего процесса.",
        "height": 120,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1880,
        1520
      ],
      "typeVersion": 1,
      "id": "8b60c43a-e490-47be-9b22-268c24834c25",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        520,
        80
      ],
      "id": "a4080b18-2dd0-42e4-a9cf-81259649e8e4",
      "name": "Telegram2",
      "webhookId": "16829d61-0c27-46c8-8f60-e938afc2e572"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9d8e573-3830-4e93-9f74-4838b5ff49b5",
              "name": "text",
              "value": "={{ $('Telegram Trigger1').item.json.message.text }} {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        60
      ],
      "id": "b83fc102-261b-4bc3-bf10-5617df8e2ba1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca9cc06c-dcf8-457b-854b-4c03d3d15dcc",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        740,
        80
      ],
      "id": "a8754999-7c15-4e64-b5e9-fda0fc32d1ac",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1180,
        400
      ],
      "id": "5d818bdd-9a7a-4b16-aa4b-c1282535884a",
      "name": "OpenAI1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        380
      ],
      "id": "2e4e3e18-be5e-430a-a611-719346a8777f",
      "name": "Telegram3",
      "webhookId": "b7d85eca-45a9-4488-b15d-fb05d3568dc5"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "304de859-23d8-4e8b-a12d-446090cd40be",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        100
      ],
      "webhookId": "6ba075d8-f155-4150-82a2-735d52c0604c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fef76fb8-7518-4bcd-8107-9ddca403149b",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "={{ $json.message.chat.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        100
      ],
      "id": "b0780359-9887-4757-be88-7904ea5d56f3",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## В node \"IF\", введите свой \"Chat ID\",серию цифр, привязанных к вашей учетной записи Telegram.",
        "height": 180,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        1680
      ],
      "typeVersion": 1,
      "id": "e9a583e5-6375-4fc7-931c-47e1fc657e52",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## СТАРТ\n",
        "height": 600,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "5ccbb97c-44a8-4805-86f1-b711b0b2443b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## TIKTOK АГЕНТ-ПОМОЩНИК\n\n",
        "height": 1020,
        "width": 1360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1720,
        0
      ],
      "typeVersion": 1,
      "id": "2d6cfa1c-8662-4814-b55c-d85849e52e33",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2060,
        500
      ],
      "id": "30378dba-2ef8-4bf6-8d96-2713b3229ce5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "Posts",
        "description": "Call this tool for queries related to getting top posts and send the record ID only.",
        "workflowId": {
          "__rl": true,
          "value": "XAMHRNecd9WKnheX",
          "mode": "list",
          "cachedResultName": "SHABLON_TIKTOK_P3_TOPUSERS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('record_id', ``, 'string') }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2320,
        840
      ],
      "id": "1b97b3c6-ae80-4b5c-bfa9-2ea6696ca28d",
      "name": "Top Posts"
    },
    {
      "parameters": {
        "name": "usermanes",
        "description": "Call this tool for queries related to finding competitors by sending the search term only.",
        "workflowId": {
          "__rl": true,
          "value": "QgzcnRarCgs9HYCJ",
          "mode": "list",
          "cachedResultName": "SHABLON_TIKTOK_P4_COMPETITORS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "search_query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('search_query', ``, 'string') }}"
          },
          "matchingColumns": [
            "search_query"
          ],
          "schema": [
            {
              "id": "search_query",
              "displayName": "search_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2120,
        860
      ],
      "id": "ee319ed5-1d59-4c7b-bc8e-809dab2103ab",
      "name": "Find competitors"
    },
    {
      "parameters": {
        "name": "Repurpose",
        "description": "Call this tool for queries related to repurposing content, send only the record ID of a record here.",
        "workflowId": {
          "__rl": true,
          "value": "b7AU2LlOAdIm0QRT",
          "mode": "list",
          "cachedResultName": "SHABLON_TIKTOK_P2_REPURPOSE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "record_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('record_id', ``, 'string') }}"
          },
          "matchingColumns": [
            "record_id"
          ],
          "schema": [
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2540,
        860
      ],
      "id": "71dcf340-e892-41a7-a863-1d4951e107fa",
      "name": "Repurpose"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1800,
        480
      ],
      "id": "499dc292-bb27-4047-9c20-7438e00e165d",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to fetch Tik Tok posts.",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tblxCudSu6J6huIOn",
          "mode": "list",
          "cachedResultName": "TIKTOK_POSTS",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tblxCudSu6J6huIOn"
        },
        "filterByFormula": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        2660,
        580
      ],
      "id": "8f45fa08-c2ee-441a-a622-abe9bfd07820",
      "name": "Fetch Posts"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to fetch username records.",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tbl7V6L6E6GwpFHfU",
          "mode": "list",
          "cachedResultName": "TIKTOK_COMPETITORS",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tbl7V6L6E6GwpFHfU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        2840,
        560
      ],
      "id": "5a914e95-01a7-4590-b585-d180dbf353a4",
      "name": "Fetch usernames"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=### Role:\nYou are a highly efficient, fun, and enthusiastic personal assistant specializing in Tik Tok. Your expertise allows you to expertly interpret user queries and seamlessly route them to the correct Tik Tok tool.\n\n### Task:\nProcess all Tik Tok-related requests by identifying the intent—whether fetching, analyzing, repurposing posts, finding competitors and getting top posts then acting accordingly.\n\n### Instructions:\n\n- Fetching posts: output these (caption (hyperlink to video using URL), username, views, likes, shares and Record ID)\n- Fetching usernames: Display 10 per request, output these (username (hyperlink to profile using URL), followers and Record ID)\n- Repurposing posts: fetch and send the corresponding Record ID only to the \"Repurpose\" tool.\n- Find competitors: send search term only (eg. ai automations)\n- Top Posts: fetch and send the corresponding Record ID only to the \"Top Posts\" tool.\n- Give the final answer in Russian.\n\n### Extras:\n- Notify the user if a tool fails to respond.\n- If no records exist, mention this to the user.\n- If query is unclear, inform the user of the services you can provide.\n- Format all lists extremely neatly wht line breaks.\n\n### Constraints:\n\n- Do not send the username to the \"Top Posts\" tool, but instead the Record ID.\n- Do not send the full script on completion of repurposing.\n- Never display full captions if they exceed 60 characters; always truncate appropriately.\n- If you are uncertain about the intended action, ask the user for more details before proceeding.\n- Don't use `\\n`, `&nbsp;` or other HTML/code characters - just regular spaces and line breaks.\n- Don't use emojis in your answer."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2220,
        100
      ],
      "id": "660e714c-f4eb-4b5f-a61d-121de055ff2a",
      "name": "TikTok Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram3": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "TikTok Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Top Posts": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find competitors": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Repurpose": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Posts": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch usernames": {
      "ai_tool": [
        [
          {
            "node": "TikTok Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d5673b1-53fb-407e-a5c2-c42a6e8d9379",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "8BSCgZALP0KbNFyQ",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}