n8n/demo-data/workflows/SHABLON_TIKTOK_P4_COMPETITORS.json
{
  "name": "SHABLON_TIKTOK_P4_COMPETITORS",
  "nodes": [
    {
      "parameters": {
        "url": "https://tiktok-api23.p.rapidapi.com/api/search/general",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $json.search_query }}"
            },
            {
              "name": "cursor",
              "value": "0"
            },
            {
              "name": "search_id",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "ВАШ API КЛЮЧ"
            },
            {
              "name": "x-rapidapi-host",
              "value": "tiktok-api23.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        2920
      ],
      "id": "4f51eabf-98c1-4dab-b166-16658b8f42b5",
      "name": "Get Top Posts"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "708556bf-e566-4939-a154-bbac439ae667",
              "name": "Username",
              "value": "={{ $json.item.author.uniqueId }}",
              "type": "string"
            },
            {
              "id": "2d61ce80-eb6a-4b79-ae23-5716e34365da",
              "name": "Bio",
              "value": "={{ $json.item.author.signature }}",
              "type": "string"
            },
            {
              "id": "66bd2825-f22a-4dae-af8f-3ae2a48576af",
              "name": "Followers",
              "value": "={{ $json.item.authorStats.followerCount }}",
              "type": "number"
            },
            {
              "id": "512a0f87-4410-40d6-81f5-334c9f2525fa",
              "name": "Hearts",
              "value": "={{ $json.item.authorStats.heartCount }}",
              "type": "number"
            },
            {
              "id": "bf05b262-4b58-4d42-a6cf-359ba67af521",
              "name": "IDvid",
              "value": "={{ $json.item.video.id }}",
              "type": "string"
            },
            {
              "id": "dd155e6b-d350-4971-9735-0a10b829f277",
              "name": "item.author.secUid",
              "value": "={{ $json.item.author.secUid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4040,
        2920
      ],
      "id": "8243a756-c1de-4472-9d82-5910f01c0300",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3840,
        2920
      ],
      "id": "5ed32777-509f-4d4e-ad28-957566901caf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nreturn items\n  .filter(item => {\n    const username = item.json.Username;\n    if (seen.has(username)) {\n      return false;\n    }\n    seen.add(username);\n    return true;\n  })\n  .map(item => {\n    const username = item.json.Username;\n    const videoId = item.json.IDvid;\n    const tiktokURL = `https://www.tiktok.com/@${username}`;\n    const videoURL = `https://www.tiktok.com/@${username}/video/${videoId}`;\n    \n    return {\n      json: {\n        ...item.json,\n        tiktokURL,\n        videoURL\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4480,
        2920
      ],
      "id": "e121784e-e164-41da-b5fa-348708306be5",
      "name": "Get URLs"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tbl7V6L6E6GwpFHfU",
          "mode": "list",
          "cachedResultName": "TIKTOK_COMPETITORS",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tbl7V6L6E6GwpFHfU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Your search term": "={{ $('When Executed by Another Workflow').first().json.search_query }}",
            "Username": "={{ $json.Username }}",
            "Followers": "={{ Number($json.Followers) }}",
            "Bio": "={{ $json.Bio }}",
            "Account URL": "={{ $json.tiktokURL }}",
            "Total likes": "={{ Number($json.Hearts) }}",
            "Best Performing Vid (For this search term)": "={{ $json.videoURL }}",
            "secUid": "={{ $json.item.author.secUid }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Your search term",
              "displayName": "Your search term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total likes",
              "displayName": "Total likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Account URL",
              "displayName": "Account URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Best Performing Vid (For this search term)",
              "displayName": "Best Performing Vid (For this search term)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "secUid",
              "displayName": "secUid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4700,
        2920
      ],
      "id": "eee045fa-0fd6-441f-9ee4-16dc23f1d037",
      "name": "Send to Airtable"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3560,
        2720
      ],
      "id": "73919a75-6f60-4dee-a784-6e530f179f83",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5a89998-bb55-467e-b79a-5b9123dee12e",
              "leftValue": "={{ $json.Username }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d6101972-9ac0-4500-a8bd-a7f08bdbac88",
              "leftValue": "={{ $json.Followers }}",
              "rightValue": 4000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4240,
        2920
      ],
      "id": "e0d888cd-7f90-4e24-8254-f216cc40084e",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://tiktok-api23.p.rapidapi.com/api/search/general",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $('When Executed by Another Workflow').item.json.search_query }}"
            },
            {
              "name": "cursor",
              "value": "={{ $json.cursor }}"
            },
            {
              "name": "search_id",
              "value": "={{ $json.log_pb.impr_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "ВАШ API КЛЮЧ"
            },
            {
              "name": "x-rapidapi-host",
              "value": "tiktok-api23.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        2920
      ],
      "id": "00a94a5c-48fb-477d-a2c0-2648f855986a",
      "name": "Get MORE Top Users"
    },
    {
      "parameters": {
        "url": "https://tiktok-api23.p.rapidapi.com/api/search/general",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $('When Executed by Another Workflow').item.json.search_query }}"
            },
            {
              "name": "cursor",
              "value": "={{ $json.cursor }}"
            },
            {
              "name": "search_id",
              "value": "={{ $json.log_pb.impr_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "ВАШ API КЛЮЧ"
            },
            {
              "name": "x-rapidapi-host",
              "value": "tiktok-api23.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        2920
      ],
      "id": "752b6a85-e1a6-40e3-bb8a-9b3d7fcebeb9",
      "name": "I SAID MORE"
    },
    {
      "parameters": {
        "url": "https://tiktok-api23.p.rapidapi.com/api/search/general",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $('When Executed by Another Workflow').item.json.search_query }}"
            },
            {
              "name": "cursor",
              "value": "={{ $json.cursor }}"
            },
            {
              "name": "search_id",
              "value": "={{ $json.log_pb.impr_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "ВАШ API КЛЮЧ"
            },
            {
              "name": "x-rapidapi-host",
              "value": "tiktok-api23.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        2920
      ],
      "id": "aa8e7a9a-f685-4fce-8f9e-ac27574cd0e9",
      "name": "MORE DANG IT"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "search_query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2240,
        2920
      ],
      "id": "169bcbb2-a2e4-467f-81c8-a932e45c1794",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "# Получить Данные об Аккаунтах TikTok",
        "height": 80,
        "width": 780,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3220,
        2580
      ],
      "typeVersion": 1,
      "id": "529ca564-38eb-482d-a53d-16392bfe94c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      query: \"Task has completed successfully.\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5180,
        2920
      ],
      "id": "964a1eee-7332-483f-84fc-a8042e82719e",
      "name": "Success"
    },
    {
      "parameters": {
        "url": "https://tiktok-api23.p.rapidapi.com/api/search/general",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "={{ $('When Executed by Another Workflow').item.json.search_query }}"
            },
            {
              "name": "cursor",
              "value": "={{ $json.cursor }}"
            },
            {
              "name": "search_id",
              "value": "={{ $json.log_pb.impr_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "ВАШ API КЛЮЧ"
            },
            {
              "name": "x-rapidapi-host",
              "value": "tiktok-api23.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3280,
        2920
      ],
      "id": "0181bc74-cacb-4b58-8533-6a6d0349eee8",
      "name": "MORE DANG IT1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appmwS2cCJ2FqVjcE",
          "mode": "list",
          "cachedResultName": "TikTok_agent_n8n",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE"
        },
        "table": {
          "__rl": true,
          "value": "tbl7V6L6E6GwpFHfU",
          "mode": "list",
          "cachedResultName": "TIKTOK_COMPETITORS",
          "cachedResultUrl": "https://airtable.com/appmwS2cCJ2FqVjcE/tbl7V6L6E6GwpFHfU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Record ID": "={{ $json.id }}",
            "Username": "={{ $json.fields.Username }}"
          },
          "matchingColumns": [
            "Username"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Your search term",
              "displayName": "Your search term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Followers",
              "displayName": "Followers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Total likes",
              "displayName": "Total likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Bio",
              "displayName": "Bio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Account URL",
              "displayName": "Account URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Best Performing Vid (For this search term)",
              "displayName": "Best Performing Vid (For this search term)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "secUid",
              "displayName": "secUid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Record ID",
              "displayName": "Record ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "updateAllMatches": false
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        4940,
        2920
      ],
      "id": "35b06536-aa73-4d63-95b9-3ca64865649a",
      "name": "Send to Airtable1"
    },
    {
      "parameters": {
        "content": "## Создайте свой API ключ в TikTok тут: \n\n## Ссылка: https://rapidapi.com/Lundehund/api/tiktok-api23",
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2540,
        3320
      ],
      "typeVersion": 1,
      "id": "fe56e60e-f9f1-40de-bdd1-762ae77b18d0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Подключите Airtable таблицы\n",
        "height": 80,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4700,
        3180
      ],
      "typeVersion": 1,
      "id": "a84a88cb-de96-4a17-9094-bc7bfb23a056",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "search_query": "SEO"
        }
      }
    ]
  },
  "connections": {
    "Get Top Posts": {
      "main": [
        [
          {
            "node": "Get MORE Top Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URLs": {
      "main": [
        [
          {
            "node": "Send to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Airtable": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MORE Top Users": {
      "main": [
        [
          {
            "node": "I SAID MORE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "I SAID MORE": {
      "main": [
        [
          {
            "node": "MORE DANG IT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "MORE DANG IT": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          },
          {
            "node": "MORE DANG IT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Top Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MORE DANG IT1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Send to Airtable1": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41576439-522d-4213-ba37-c932046b8c7a",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "DdQEeSpeEmk61aGW",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}