n8n/demo-data/workflows/SUPER_AI_AGENT_TELEGRAM.json
{
  "name": "SUPER_AI_AGENT_TELEGRAM",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "={{ $json.prompt }}\n\nTodays date: {{ $today.format('yyyy-MM-dd') }}\n\n\nImportant:\n\n- Ensure you always call tools to get the latest information.\n- If details are provided, create without questions.\n- If you are confused, use the \"Think\" tool before proceeding.\n- When creating new tasks, expenses or bills, format them professionally."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1240,
        1040
      ],
      "id": "f8a960c8-5143-4fc2-82cd-1f6fd4e1a366",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        340,
        2140
      ],
      "id": "af74054a-2f2b-4e08-95cd-a9c15f184cbb",
      "name": "Think"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You perform web searches. Use the available tool to search the web.\\n\\nPresent each search result with the following details:\\nTitle: [Result Title]\\nSnippet: [Result Snippet]\\nPublish Date: [Result Publish Date]\\nURL: [Result URL]\",\n  \"memory\": \"search\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        120
      ],
      "id": "82b2dc35-893e-45d3-a47d-06986c49db2c",
      "name": "Search Web Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -600,
        1320
      ],
      "id": "7c58d016-d83d-4b82-be25-7f211f630e1b",
      "name": "4.1-nano"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to create an event",
        "calendar": {
          "__rl": true,
          "value": "63129f7f8a0ccde6960f48886dee716ef604d631a25f08205d6c7ba391ca4734@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Тестовый Календарь"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1640,
        2140
      ],
      "id": "62918d3c-a083-45e9-b378-6a1d8e8e8861",
      "name": "Create Event"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to get an event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "63129f7f8a0ccde6960f48886dee716ef604d631a25f08205d6c7ba391ca4734@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Тестовый Календарь"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1780,
        2140
      ],
      "id": "02576f8b-dca1-4b21-8c1c-666ed559d4d2",
      "name": "Get Event"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "63129f7f8a0ccde6960f48886dee716ef604d631a25f08205d6c7ba391ca4734@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Тестовый Календарь"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1920,
        2140
      ],
      "id": "4323bb2f-2eae-4b6c-b8c8-76c5fa16cee0",
      "name": "Update Event"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "63129f7f8a0ccde6960f48886dee716ef604d631a25f08205d6c7ba391ca4734@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Тестовый Календарь"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2060,
        2140
      ],
      "id": "08227851-468a-4c09-9d86-65eec15718df",
      "name": "Delete Event"
    },
    {
      "parameters": {
        "resource": "all",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "additionalFields": {
          "keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        2240,
        2140
      ],
      "id": "fbb2896b-391a-448b-a530-36fbfe942c1d",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to access Reddit",
        "operation": "search",
        "subreddit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subreddit', ``, 'string') }}",
        "keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "additionalFields": {
          "sort": "hot"
        }
      },
      "type": "n8n-nodes-base.redditTool",
      "typeVersion": 1,
      "position": [
        2380,
        2140
      ],
      "id": "8969ece2-0d87-4de4-8073-34e77dfbd4c9",
      "name": "Reddit"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You manage calendar events. Use the available tools to create events, get events, update events, and delete events.\",\n  \"memory\": \"calendar\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        400
      ],
      "id": "f2c70a85-e740-435d-9b39-da0b4065d320",
      "name": "Calendar Prompt"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You fetch Hacker News articles. Use the available tool to get articles.\",\n  \"memory\": \"hacker_news\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        520
      ],
      "id": "56d6baf9-3267-4e85-aacc-99a49c5d5534",
      "name": "HackerNews Prompt"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You retrieve Reddit posts. Use the available tool to retrieve posts. Ensure you always use keywords when searching, too.\",\n  \"memory\": \"reddit\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        520
      ],
      "id": "f145d21a-cbc1-496e-a9f9-96e7673f14a9",
      "name": "Reddit Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        2140
      ],
      "id": "c1512b26-d0d5-4896-a775-c050e1493c08",
      "name": "4.1-mini"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        2660,
        2140
      ],
      "id": "e4cde691-5daf-4833-a0fb-dd12fc5be7b6",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8d1d130-ee6e-454d-aee9-288fd05c1347",
              "name": "text",
              "value": "={{ $('Set Chat').item.json.text }}",
              "type": "string"
            },
            {
              "id": "7fa6e840-8bd4-46f8-a32e-44c4e4c8633c",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "ae2e75c1-b4ae-4332-8f6c-f2e3b083cc3b",
              "name": "memory",
              "value": "={{ $json.memory }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        1040
      ],
      "id": "4cb23f12-7209-4aaa-b85b-df5f49c47d3a",
      "name": "Chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c89689e-f583-4abe-8911-83c6673543f6",
              "name": "text",
              "value": "={{ $('Telegram Trigger1').item.json.message.text }}{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        1080
      ],
      "id": "9a70e503-899d-47ac-a7c2-ea5562d47478",
      "name": "Set Chat"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to perform web searches",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Content-type",
              "valueProvider": "fieldValue",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{placeholder}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2520,
        2140
      ],
      "id": "17df9ae9-a732-4f03-b01a-c1eea8532197",
      "name": "Search web"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Call this tool to access YouTube API",
        "resource": "video",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {
          "publishedBefore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Published_Before', ``, 'string') }}",
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
          "regionCode": "US"
        },
        "options": {
          "order": "date"
        }
      },
      "type": "n8n-nodes-base.youTubeTool",
      "typeVersion": 1,
      "position": [
        2800,
        2140
      ],
      "id": "40494900-c3b9-480a-b997-4c027edcb06e",
      "name": "YouTube"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You interact with YouTube. Use the available tool(s) to search for videos or perform other YouTube actions.\\\\n\\\\nFormat responses as follows:\\\\n\\\\nTitle\\\\nUpload Date: dd/mm/yyy\\\\nURL\",\n  \"memory\": \"youtube\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        1020
      ],
      "id": "bbdd26b2-779a-44f7-bde1-114f5bcdfa61",
      "name": "YouTube Prompt"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You interact with Wikipedia. Use the available tool(s) to search for articles or retrieve information.\",\n  \"memory\": \"wikipedia\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        760
      ],
      "id": "78aae006-fbbc-4ec5-9941-35df556e6614",
      "name": "Wikipedia Prompt"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You manage expenses. Use the available tools to create, get, update, and delete expenses.\\n\\nExpense details include: name, cost, and date added.\\n\\nWhen CREATING an expense: Provide the 'name' and 'cost'. The 'date added' will automatically default to today's date. If you provide a specific date in your request, that date will be used instead.\\n\\nWhen UPDATING an expense: Specify the expense to update and the details you want to change (name, cost, or date added).\\nWhen GETTING or DELETING expenses: Identify the specific expense.\",\n  \"memory\": \"expenses\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        660
      ],
      "id": "2c74e146-60f1-4618-aa75-26e60fb088b8",
      "name": "Expenses Prompt"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"prompt\": \"You are the Help Assistant for this n8n super-agent system. Your only job is to explain how users can invoke the system’s capabilities by giving clear example user prompts. Do NOT call any tools or perform any actions—just show example requests.\\n\\nWhen the user asks for help (e.g. “How do I generate a Reel?”, “Help with TikTok”, “What can this system do?”), explain the relevant function and give 1–2 simple example commands.\\n\\nHere are the capabilities and example templates you should follow:\\n\\n* **HeyGen Agent:** generate avatars and auto-publish videos.\\n  * Examples:\\n    • \\\"Generate a HeyGen avatar from this script: ‘Hello, I’m Igor’ and publish it to my YouTube channel.\\\"\\n    • \\\"Create a HeyGen video using template 123 and schedule it for 10 AM tomorrow.\\\"\\n\\n* **Instagram REEL Agent:** analyze competitor content, find trending Reels, and create scripts.\\n  * Examples:\\n    • \\\"Analyze top Reels in the fitness niche and draft a script for a 30-second workout Reel.\\\"\\n    • \\\"Find trending Instagram Reels about AI marketing and create a storyboard.\\\"\\n\\n* **TikTok Agent:** discover similar TikTok profiles, analyze their best videos, and write a script for new content.\\n  * Examples:\\n    • \\\"Find TikTok profiles like @techguru, analyze their top videos, and draft a script for a similar tech hack video.\\\"\\n    • \\\"Identify top cooking creators and write a 15-second recipe TikTok script.\\\"\\n\\n* **AirTable Instagram:** search and retrieve Instagram profile records from Airtable.\\n  * Examples:\\n    • \\\"Get all profiles with over 100 K followers.\\\"\\n    • \\\"Find the record for @nature_travels and show its description.\\\"\\n\\n* **Copywriter News Agent:** define a target audience, source relevant news, and craft text posts for Telegram, Threads, or Instagram.\\n  * Examples:\\n    • \\\"For freelancers, find the latest AI news and write a Telegram post summarizing key points.\\\"\\n    • \\\"Identify news about e-commerce and draft an Instagram caption.\\\"\\n\\n* **Backup Agent:** export and back up all n8n workflows and templates on the server.\\n  * Examples:\\n    • \\\"Back up all current workflow templates with timestamped filenames.\\\"\\n    • \\\"Create a backup of my custom templates.\\\"\\n\\n* **Baza Agent:** read from and write to the database.\\n  * Examples:\\n    • \\\"Fetch user settings where status = active.\\\"\\n    • \\\"Insert a new record: name='Test', value=42.\\\"\\n\\n* **Calendar Events:** create, retrieve, update, and delete events.\\n  * Examples:\\n    • \\\"Create event 'Doctor Appointment' for tomorrow at 3 PM.\\\"\\n    • \\\"What's on my calendar today?\\\"\\n\\n* **Hacker News:** fetch top Hacker News articles.\\n  * Examples:\\n    • \\\"Get the top articles from Hacker News.\\\"\\n    • \\\"Show me the latest Hacker News posts about startups.\\\"\\n\\n* **Reddit:** retrieve posts from subreddits.\\n  * Examples:\\n    • \\\"Get posts from r/technology about AI.\\\"\\n    • \\\"Find top posts on r/python today.\\\"\\n\\n* **Web Search:** search the web (returns title, snippet, date, URL).\\n  * Examples:\\n    • \\\"Search the web for 'best Python libraries for data science'.\\\"\\n    • \\\"Find recent news about electric cars.\\\"\\n\\n* **YouTube:** search for videos.\\n  * Examples:\\n    • \\\"Search YouTube for 'learn JavaScript tutorial'.\\\"\\n    • \\\"Find music videos by Queen on YouTube.\\\"\\n\\n* **Wikipedia:** look up articles or summaries.\\n  * Examples:\\n    • \\\"Look up 'Photosynthesis' on Wikipedia.\\\"\\n    • \\\"Get the Wikipedia page for 'Paris'.\\\"\\n\\n* **Bills:** create, list, update, and delete bills.\\n  * Examples:\\n    • \\\"Create a bill: Name 'Electricity', Price $75, Date 'next Monday'.\\\"\\n    • \\\"Show me my due bills.\\\"\\n\\n* **Expenses:** log, list, update, and delete expenses.\\n  * Examples:\\n    • \\\"Add expense: Name 'Coffee', Cost $4.50, Date 'today'.\\\"\\n    • \\\"Show my expenses for this week.\\\"\\n\\n* **Contacts:** retrieve and create contacts (first name, last name, email, mobile).\\n  * Examples:\\n    • \\\"Get contact info for Mark Johnson.\\\"\\n    • \\\"Create contact: First Bob, Last Martin, email bob.m@email.com.\\\"\\n\\nRespond only with the relevant explanation and example prompts when asked for help.\",\n  \"memory\": \"helper\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        1020
      ],
      "id": "5fffdb03-194f-4eb9-861a-89bcd1dc9a41",
      "name": "Help Prompt"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat').item.json.memory }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        200,
        2140
      ],
      "id": "8ee87073-1cf5-44f2-a282-c6e1301599bb",
      "name": "Zep Specifics"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "all_memories"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.3,
      "position": [
        200,
        2340
      ],
      "id": "c9021fad-b7f2-4cda-b413-198ac643643d",
      "name": "Zep All"
    },
    {
      "parameters": {
        "content": "## Динамическая промпт + память",
        "height": 80,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1160,
        920
      ],
      "typeVersion": 1,
      "id": "207a6047-1648-48b2-9b10-f1d70a9e2424",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## При желании вы можете изменить промпты.",
        "height": 80,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "d547a402-0ee5-4252-9fea-03023a1a86af",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Если вы изменяете или добавляете новые подсказки, убедитесь, что маршрутизатор также знает об этом.",
        "height": 120,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -780,
        900
      ],
      "typeVersion": 1,
      "id": "8b74e0ab-49a3-46bc-b322-08b94606b239",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "name": "HeyGen_AGENT",
        "description": "Call this tool to perform actions in HeyGen: generate avatars and automatically publish posts.",
        "workflowId": {
          "__rl": true,
          "value": "0BcEYM5yaxk2m1ip",
          "mode": "list",
          "cachedResultName": "HeyGen"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        520,
        2140
      ],
      "id": "b5b57d20-2ecd-47cb-913a-7ba545b6c591",
      "name": "HeyGen AUTO"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"prompt\": \"You are a HeyGen assistant. Available tools: generate_avatar, publish_post.\\n\\nInstructions:\\n1. Use `generate_avatar` to create video avatars based on the provided script, style, voice, and template parameters.\\n2. Use `publish_post` to schedule or immediately publish the generated avatar video to the target platform or channel.\\n3. Always confirm that you have the necessary inputs (script_text, template_id, voice_id, publish_time) before calling a tool.\",\n  \"memory\": \"heygen\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        280
      ],
      "id": "aacbe2b9-f566-4100-b6a4-d27cf6898d14",
      "name": "Heygen Prompt"
    },
    {
      "parameters": {
        "name": "Instagram_REEL_Agent",
        "description": "Call this tool to perform actions in Instagram: analyze competitor content, find trending Reels, and create Reels scripts.",
        "workflowId": {
          "__rl": true,
          "value": "orDpOsjd05afKEDx",
          "mode": "list",
          "cachedResultName": "SHABLON_IZ_INSTAGRAM_P1_MASTER_AI_CHAT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        660,
        2260
      ],
      "id": "1d45680d-32e0-41e1-89d4-1e86d241a81a",
      "name": "Instagram REELS AGENT"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You are **Instagram_REELS_Agent**. Available tools: analyze_competitors, find_reels, create_reels_script.\\n\\nInstructions:\\n1. Use `analyze_competitors` to gather insights on competitor content, including engagement metrics, posting frequency, and top-performing formats.\\n2. Use `find_reels` to discover trending or high-potential Reels in the target niche by keyword, hashtag, or competitor profile.\\n3. Use `create_reels_script` to draft a concise, engaging script or storyboard for a new Reel, incorporating insights from the competitor analysis and trending formats.\\n4. Always verify you have the target niche, competitor list, and any style guidelines before generating the script.\",\n  \"memory\": \"instagram_reels_agent\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        280
      ],
      "id": "478c3054-5988-477f-acec-f396ff2da24b",
      "name": "Instagram REEL Prompt"
    },
    {
      "parameters": {
        "name": "Dinamic_model_llm",
        "description": "Call this tool (`Dinamic_model_llm`) to answer general, open-ended questions with dynamic LLM model selection.",
        "workflowId": {
          "__rl": true,
          "value": "XeMsVatpIgIwHEbp",
          "mode": "list",
          "cachedResultName": "Динамическая модель с Telegram"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        760,
        2140
      ],
      "id": "388ee143-d493-4ccb-a770-87fdf27c8b99",
      "name": "Dinamic model AGENT"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You are **Dinamic_model_llm**. Your task is to answer open-ended questions by automatically selecting the most suitable LLM model for each query.\\n\\nInstructions:\\n1. Analyze the user's question to assess its complexity, domain, and style.\\n2. Dynamically choose an appropriate model (e.g., GPT-4, GPT-3.5, Claude, etc.) based on that analysis.\\n3. Use the selected model to generate a clear, concise, and accurate response.\\n4. If the question is ambiguous or needs more detail, ask a clarifying follow-up.\\n5. No other tools are needed—just provide the best possible answer.\",\n  \"memory\": \"dinamic_model_llm\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        780
      ],
      "id": "e6429e4b-611c-4aa8-896b-08deb8c455f5",
      "name": "Dinamic Model Prompt"
    },
    {
      "parameters": {
        "name": "copywriter_news_agent",
        "description": "Call this tool (`copywriter_news_agent`) to create text content for Telegram channels, Threads, and Instagram posts by sourcing and crafting news-based material tailored to a target audience.",
        "workflowId": {
          "__rl": true,
          "value": "3nmBSBTEDq3WcbQI",
          "mode": "list",
          "cachedResultName": "Отдел AI Agent Копирайтер Новостник (в системе)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "2123214",
              "displayName": "2123214",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "2242433",
              "displayName": "2242433",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        900,
        2260
      ],
      "id": "6e3a1634-108b-43b2-aa07-4fdcc4bfffdb",
      "name": "Copywriter News AGENT"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You are **copywriter_news_agent**. Available tools: identify_audience, find_news, create_content.\\n\\nInstructions:\\n1. Use `identify_audience` to define the target audience, including demographics, interests, and pain points.\\n2. Use `find_news` to locate the most relevant and timely news items for that audience.\\n3. Use `create_content` to draft engaging, platform-specific text posts for Telegram, Threads, and Instagram, adjusting tone, length, and style for each.\\n4. Always confirm you have the following inputs before proceeding: audience_profile, selected_news_item, platform (Telegram/Threads/Instagram), and desired tone.\",\n  \"memory\": \"copywriter_news_agent\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        1300
      ],
      "id": "9e374399-c194-46be-80d4-1600d9a63c32",
      "name": "COPY NEWS Prompt"
    },
    {
      "parameters": {
        "name": "backup_agent",
        "description": "Call this tool (`backup_agent`) to create backups of n8n workflows and templates on the server.",
        "workflowId": {
          "__rl": true,
          "value": "LfeLkzmpBBYJY0mu",
          "mode": "list",
          "cachedResultName": "BACKUP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1000,
        2140
      ],
      "id": "b5c91a3c-8971-4835-ae49-2a23c25633ed",
      "name": "Backup AGENT"
    },
    {
      "parameters": {
        "name": "baza_agent",
        "description": "Call this tool (`baza_agent`) to interact with the database: read or write information.",
        "workflowId": {
          "__rl": true,
          "value": "LfeLkzmpBBYJY0mu",
          "mode": "list",
          "cachedResultName": "BACKUP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1120,
        2260
      ],
      "id": "eed43f42-5595-42ff-b721-261d6c59bd1e",
      "name": "BAZA AGENT"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You are **backup_agent**. Available tools: list_templates, export_template, upload_backup.\\n\\nInstructions:\\n1. Use `list_templates` to retrieve all existing workflow templates on the n8n server.\\n2. Use `export_template` to export each template in JSON format.\\n3. Use `upload_backup` to save each exported template to the designated backup location with a timestamped filename.\\n4. Ensure you have the correct server credentials and write permissions before starting.\\n5. After completing, provide a summary of which templates were backed up and the storage paths used.\",\n  \"memory\": \"backup_agent\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        900
      ],
      "id": "9a85a903-1472-4490-8e67-2653c02ae6fb",
      "name": "BackUp Prompt"
    },
    {
      "parameters": {
        "name": "tiktok_agent",
        "description": "Call this tool (`tiktok_agent`) to discover similar TikTok profiles, analyze their top content, and craft a shooting script for comparable videos.",
        "workflowId": {
          "__rl": true,
          "value": "gwIeFUdVzUg6nW6U",
          "mode": "list",
          "cachedResultName": "SHABLON_TIKTOK_P1_MASTER_AI_SYSTEM"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "2123214",
              "displayName": "2123214",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "2242433",
              "displayName": "2242433",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1240,
        2140
      ],
      "id": "f51c573e-f5bd-477b-b690-ae1d8a25d353",
      "name": "TikTok AGENT"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You are **tiktok_agent**. Available tools: find_similar_profiles, analyze_content, create_script.\\n\\nInstructions:\\n1. Use `find_similar_profiles` to identify TikTok accounts in the same niche or with similar audience characteristics.\\n2. Use `analyze_content` to evaluate each profile’s top-performing videos—capture engagement metrics, trending formats, and creative hooks.\\n3. Use `create_script` to draft a concise, compelling TikTok video script that incorporates the successful elements identified in the analysis.\\n4. Before proceeding, ensure you have the following inputs: target_niche or seed_profile, number_of_profiles_to_analyze, and any specific style or branding guidelines.\",\n  \"memory\": \"tiktok_agent\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1300
      ],
      "id": "9cd29860-d838-46db-b139-0bcdfeeb6f9c",
      "name": "TikTok Prompt"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app2vioOyPFvFn7XE",
          "mode": "list",
          "cachedResultName": "Instagram_agent_n8n",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE"
        },
        "table": {
          "__rl": true,
          "value": "tbl7V6L6E6GwpFHfU",
          "mode": "list",
          "cachedResultName": "Instagram_COMPETITORS",
          "cachedResultUrl": "https://airtable.com/app2vioOyPFvFn7XE/tbl7V6L6E6GwpFHfU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1520,
        2140
      ],
      "id": "f6df6261-d9fd-48bf-9b34-3fe9d9993f14",
      "name": "Airtable"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"prompt\": \"You are **airtable_instagram**. Available tools: search_profiles.\\n\\nInstructions:\\n1. Use `search_profiles` to query the Airtable Instagram table with filters such as account_name, minimum or maximum follower_count, or keywords in profile_description.\\n2. If the user asks for a specific account, return the full record including account_name, follower_count, and profile_description.\\n3. For broader requests (e.g., top profiles by follower count or profiles matching a description keyword), return a list of matching records with key fields.\\n4. Always confirm you have the correct query parameters before calling the tool.\\n\",\n  \"memory\": \"airtable_instagram\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        1160
      ],
      "id": "9d4e0e61-62fb-4a54-a5fa-7108841f0d07",
      "name": "AirTable Instagram Prompt"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Web search",
              "description": "Is this exclusively related to a web search and not Hacker News or Wikipedia?"
            },
            {
              "category": "HeyGen",
              "description": "Is this related to generating avatars and auto-publishing content using HeyGen?"
            },
            {
              "category": "Instagram Reels",
              "description": "Is this related to analyzing competitor content, finding trending Instagram Reels, and creating scripts for new Reels?"
            },
            {
              "category": "Hacker News",
              "description": "Is this related to hacker news?"
            },
            {
              "category": "Reddit",
              "description": "Is this related to Reddit?"
            },
            {
              "category": "Calendar",
              "description": "Is this a request to schedule, modify, or retrieve events in the calendar using the Calendar?"
            },
            {
              "category": "Dinamic Model",
              "description": "Only if you are asked to answer using a dynamic model."
            },
            {
              "category": "Wikipedia",
              "description": "Is this related to Wikipedia?"
            },
            {
              "category": "Bills",
              "description": "Is this related to bills?"
            },
            {
              "category": "YouTube",
              "description": "Is this related to YouTube?"
            },
            {
              "category": "BackUp",
              "description": "Is this related to creating backups of n8n workflows and templates on the server?"
            },
            {
              "category": "Help",
              "description": "Does this contain the word \"Help\"?"
            },
            {
              "category": "Airtable Instagram",
              "description": "Is this a request to search or retrieve Instagram profile data from the Airtable base?"
            },
            {
              "category": "BAZA",
              "description": "Is this a request to read from or write information to the database using the baza_agent?"
            },
            {
              "category": "TikTok",
              "description": "Is this related to finding similar TikTok profiles, analyzing their content, and creating a script for new TikTok videos?"
            },
            {
              "category": "Copy News",
              "description": "Is this related to defining a target audience, sourcing relevant news items, and crafting text posts for Telegram, Threads, or Instagram?"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -560,
        1080
      ],
      "id": "07e01bc7-22ad-45ee-894a-aaaca701a221",
      "name": "Text Classifier (routing Agent)"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"prompt\": \"You are **baza_agent**. Available tools: read_from_db, write_to_db.\\n\\nInstructions:\\n1. Use `read_from_db` to fetch data from the database given table names, query parameters, or filters.\\n2. Use `write_to_db` to insert, update, or delete records, ensuring data integrity and validation.\\n3. Always sanitize and validate inputs before performing any database operation.\\n4. Return the result set for read operations or a confirmation message for write operations.\",\n  \"memory\": \"baza_agent\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        1480
      ],
      "id": "201723c6-706e-4e5b-b3b1-dd5c8123a9bc",
      "name": "BAZA Prompt"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2320,
        1120
      ],
      "id": "23cd7b6e-3620-436d-bda9-d1b3e0410aff",
      "name": "Telegram Trigger1",
      "webhookId": "79408097-d284-4034-a6d7-65bb07b242ba"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "dd8451ae-fc03-49d0-a19e-2678a5f4ff64"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bc42e6d3-ad50-4188-a168-9c5696e74252",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1620,
        1100
      ],
      "id": "f69fa02b-276c-4808-8b2a-ba44cda74356",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger1').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1340,
        1280
      ],
      "id": "dfef2964-566e-4ced-a656-e2d375439a89",
      "name": "Telegram3",
      "webhookId": "0142b70e-e116-4fe0-bce6-bfc0fb8db9db"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1120,
        1280
      ],
      "id": "3504abce-ff05-44b3-95e1-9ee7dddf0bfb",
      "name": "OpenAI1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9e919bb-8d22-4855-a7b6-a9e5a9f39778",
              "leftValue": "={{ $json.message.chat.username }}",
              "rightValue": "=igorzuevich\n",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2120,
        1120
      ],
      "id": "75682ada-1c51-4657-a835-515bbb714d81",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1840,
        1100
      ],
      "id": "6ff6a2dd-6b31-4bea-8294-ce88f90872a0",
      "name": "Telegram2",
      "webhookId": "4f938fd7-6e62-45f5-9f45-118ed704bc35"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1660,
        1040
      ],
      "id": "0011a0ba-28c4-4fd7-a138-704db8a50228",
      "name": "Telegram1",
      "webhookId": "927ce694-1b0f-40c8-8622-4d925e707ca4"
    },
    {
      "parameters": {
        "content": "## Видео по настройке Telegram: https://youtu.be/c8bePGmxFNw",
        "height": 120,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2140,
        1460
      ],
      "typeVersion": 1,
      "id": "071c01d1-4798-4d69-9fc2-bfa0243d76c9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Видео по настройке ZEP: https://youtu.be/NHEB8G34e-Y",
        "height": 120,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        2520
      ],
      "typeVersion": 1,
      "id": "b486144a-cc65-486e-b1bd-db78d2c296e4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Видео по настройке Think: https://youtu.be/6GwKcWVmsFo",
        "height": 120,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        280,
        2700
      ],
      "typeVersion": 1,
      "id": "0d094af9-8ea0-47ae-ac3f-e6cfbd1cb661",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Web Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1-nano": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier (routing Agent)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reddit": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HackerNews Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Chat": {
      "main": [
        [
          {
            "node": "Text Classifier (routing Agent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search web": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expenses Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Help Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep Specifics": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen AUTO": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Heygen Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram REELS AGENT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Instagram REEL Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dinamic model AGENT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Dinamic Model Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter News AGENT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "COPY NEWS Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup AGENT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "BackUp Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAZA AGENT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TikTok AGENT": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AirTable Instagram Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier (routing Agent)": {
      "main": [
        [
          {
            "node": "Search Web Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Heygen Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram REEL Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HackerNews Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reddit Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calendar Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dinamic Model Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wikipedia Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expenses Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BackUp Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Help Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AirTable Instagram Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BAZA Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TikTok Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COPY NEWS Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAZA Prompt": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Set Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram3": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Set Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "413bc663-dd09-4afe-b090-9a0ec135a3ec",
  "meta": {
    "instanceId": "ca8caa61a83f420fdc05c213faa0cf5c47ce8b5aabb954f66c96ea62e07126ef"
  },
  "id": "chUG6adaTiRGX5DU",
  "tags": [
    {
      "createdAt": "2025-05-18T15:19:33.676Z",
      "updatedAt": "2025-05-18T15:19:33.676Z",
      "id": "naJjhtxzTdEq62Pb",
      "name": "проверил"
    }
  ]
}